openapi: 3.0.3

info:
  title: Cosmo Tech Scenario Manager API
  description: Cosmo Tech Scenario Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: scenario
  description: Scenario Management

paths:
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      operationId: createScenario
      tags:
        - scenario
      summary: Create a new scenario
      requestBody:
        description: the Scenario to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              MasterScenario:
                $ref: '#/components/examples/BreweryScenarioIn'
              ChildScenario:
                $ref: '#/components/examples/BreweryChildScenarioIn'
      responses:
        "201":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "400":
          description: Bad request
    get:
      operationId: findAllScenarios
      tags:
        - scenario
      summary: List all Scenarios
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
              examples:
                ThreeScenario:
                  $ref: '#/components/examples/ThreeScenarios'
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/tree:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      operationId: getScenariosTree
      tags:
        - scenario
      summary: Get the Scenarios Tree
      responses:
        "200":
          description: the scenario tree
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScenarioBase'
              examples:
                ScenariosTree:
                  $ref: '#/components/examples/ScenariosTree'
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    get:
      operationId: findScenarioById
      tags:
        - scenario
      summary: Get the details of an scenario
      responses:
        "200":
          description: the Scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "404":
          description: the Scenario specified is unknown or you don't have access to it
    patch:
      operationId: updateScenario
      tags:
        - scenario
      summary: Update a scenario
      requestBody:
        description: the new Scenario details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryScenarioUpdate'
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryScenarioUpdated'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access to it
    delete:
      operationId: deleteScenario
      tags:
        - scenario
      summary: Delete a scenario
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access to it
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/compare/{compared_scenario_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
      - name: compared_scenario_id
        in: path
        description: the Scenario identifier to compare to
        required: true
        schema:
          type: string
    get:
      operationId: compareScenarios
      tags:
        - scenario
      summary: Compare the Scenario with another one and returns the difference for parameters values
      responses:
        "200":
          description: the comparison result for parameters values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioComparisonResult'
              examples:
                BreweryScenarioComparisonResult:
                  $ref: '#/components/examples/BreweryScenarioComparison'
        "404":
          description: the Scenario specified is unknown or you don't have access to it

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: Azure Active Directory authentication
      flows:
        implicit:
          authorizationUrl: oauth2/authorize
          scopes: {}
  schemas:
    ScenarioBase:
      type: object
      description: a Scenario with base information
      properties:
        id:
          type: string
          readOnly: true
          description: the Scenario unique identifier
        name:
          type: string
          description: the Scenario name
        description:
          type: string
          description: the Scenario description
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        parentId:
          type: string
          description: the Scenario parent id
        ownerId:
          type: string
          readOnly: true
          description: the user id which own this Scenario
        solutionId:
          type: string
          readOnly: true
          description: the Solution Id associated with this Scenario
        runTemplateId:
          type: string
          description: the Solution Run Template Id associated with this Scenario
        users:
          type: array
          description: the list of users Id with their role
          items:
            $ref: '#/components/schemas/ScenarioUser'
      required:
        - name
    Scenario:
      allOf:
        - $ref: '#/components/schemas/ScenarioBase'
        - type: object
          description: a Scenario with detailed information
          properties:
            solutionName:
              type: string
              readOnly: true
              description: the Solution name
            runTemplateName:
              type: string
              readOnly: true
              description: the Solution Run Template name associated with this Scenario
            datasetList:
              type: array
              description: the list of Dataset Id associated to this Scenario Run Template
              items:
                type: string
            parametersValues:
              type: array
              description: the list of Solution Run Template parameters values
              items:
                $ref: '#/components/schemas/ScenarioRunTemplateParameterValue'
            sendInputToDataWarehouse:
              type: boolean
              description: whether or not the Dataset values and the input parameters values are send to the DataWarehouse prior to Simulation Run
    ScenarioRunTemplateParameterValue:
      type: object
      description: the value of a Solution Run Template parameter for a Scenario
      properties:
        parameterId:
          type: string
          description: the parameter Id
        varType:
          type: string
          readOnly: true
          description: the parameter value type
        value:
          type: string
          description: the parameter value
        isInherited:
          type: string
          description: whether or not the value is inherited from parent or has been changed
      required:
        - parameterId
        - value
    ScenarioUser:
      type: object
      description: a Scenario user with roles
      properties:
        id:
          type: string
          description: the User id
        name:
          type: string
          readOnly: true
          description: the User name
        roles:
          type: string
          description: the User role
          enum: ["Viewer","Editor"]
      required:
        - id
        - roles
    ScenarioComparisonResult:
      type: object
      description: the result of the comparison of two scenarios
      properties:
        scenarioId:
          type: string
          readOnly: true
          description: the Scenario Id which is the reference for the comparison
        comparedScenarioId:
          type: string
          readOnly: true
          description: the Scenario Id the reference Scenario is compared to
        changedValues:
          type: array
          readOnly: true
          description: the list of changed values for parameters
          items:
            $ref: '#/components/schemas/ScenarioChangedParameterValue'
    ScenarioChangedParameterValue:
      type: object
      description: the difference between the values of a parameter
      properties:
        parameterId:
          type: string
          readOnly: true
          description: the parameter id the values refer to
        varType:
          type: string
          readOnly: true
          description: the parameter value type
        value:
          type: string
          readOnly: true
          description: the parameter value for the reference Scenario
        comparedValue:
          type: string
          readOnly: true
          description: the parameter value for the compared Scenario
  examples:
    BreweryScenarioIn:
      summary: Brewery Scenario input example
      description: Brewery Scenario input example
      value:
        name: Brewery Master Analysis
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        runTemplateId: "1"
        users:
          - id: "1"
            name: Bob
            roles: Editor
          - id: "2"
            name: Alice
            roles: Viewer 
        datasetList:
          - "1"
        parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
    BreweryChildScenarioIn:
      summary: Brewery Child Scenario input example
      description: Brewery Child Scenario input example
      value:
        name: Brewery Child Analysis
        description: Brewery child reference analysis
        tags:
          - Brewery
        runTemplateId: "1"
        parentId: "1"
    BreweryScenario:
      summary: Brewery Scenario
      description: Brewery Scenario example
      value:
        id: "1"
        name: Brewery Master Analysis
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        ownerId: "1"
        solutionId: "1"
        solutionName: Brewery Solution
        runTemplateId: "1"
        runTemplateName: Full simulation 100 steps
        users:
          - id: "1"
            name: Bob
            roles: Editor
          - id: "2"
            name: Alice
            roles: Viewer 
        datasetList:
          - "1"
        parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
    ThreeScenarios:
      summary: Three Scenarios with parent and children
      description: Three Scenarios with parent master Scenario and two children Scenarios
      value:
        - id: "1"
          name: Brewery Master Analysis
          description: Brewery master reference analysis
          version: "1.0.0"
          tags:
            - Brewery
            - reference
          ownerId: "1"
          solutionId: "1"
          solutionName: Brewery Solution
          runTemplateId: "1"
          runTemplateName: Full simulation 100 steps
          users:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: ""
        - id: "2"
          name: Brewery Analysis name example
          description: Brewery analysis with example as name prefix
          tags:
            - Brewery
            - example
          parentId: "1"
          ownerId: "1"
          solutionId: "1"
          solutionName: Brewery Solution
          runTemplateId: "1"
          runTemplateName: Full simulation 100 steps
          users:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: example
        - id: "3"
          name: Brewery Analysis name no change
          description: Brewery analysis with no change on name prefix
          tags:
            - Brewery
          parentId: "1"
          ownerId: "1"
          solutionId: "1"
          solutionName: Brewery Solution
          runTemplateId: "1"
          runTemplateName: Full simulation 100 steps
          users:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: ""
              inherited: true
    BreweryScenarioUpdate:
      summary: Update the Brewery Scenario
      description: Update the Brewery Scenario by changing its name
      value:
        name: Brewery Master Analysis 2021
    BreweryScenarioUpdated:
      summary: Brewery updated Scenario
      description: Brewery updated Scenario example
      value:
        id: "1"
        name: Brewery Master Analysis 2021
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        ownerId: "1"
        solutionId: "1"
        solutionName: Brewery Solution
        runTemplateId: "1"
        runTemplateName: Full simulation 100 steps
        users:
          - id: "1"
            name: Bob
            roles: Editor
          - id: "2"
            name: Alice
            roles: Viewer 
        datasetList:
          - "1"
        parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
    BreweryScenarioComparison:
      summary: Brewery comparison result
      description: Brewery comparison result between a parent Scenario and its child
      value:
        scenarioId: "1"
        comparedScenarioId: "2"
        changedValues:
          - parameterId: prefix
            varType: string
            value: Brewery Master Analysis
            comparedValue: Brewery Master Analysis 2021
    ScenariosTree:
      summary: Scenarios Tree example
      description: Scenarios Tree example with 1 master Scenario and 2 children
      value:
        - id: "1"
          name: Brewery Master Analysis
          description: Brewery master reference analysis
          version: "1.0.0"
          tags:
            - Brewery
            - reference
          ownerId: "1"
          users:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
        - id: "2"
          name: Brewery Analysis name example
          description: Brewery analysis with example as name prefix
          tags:
            - Brewery
            - example
          parentId: "1"
          ownerId: "1"
          users:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
        - id: "3"
          name: Brewery Analysis name no change
          description: Brewery analysis with no change on name prefix
          tags:
            - Brewery
          parentId: "1"
          ownerId: "1"
          users:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
