openapi: 3.0.3

info:
  title: Cosmo Tech Scenario Manager API
  description: Cosmo Tech Scenario Manager API
  version: 0.0.8-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: scenario
  description: Scenario Management

paths:
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      deprecated: true
      operationId: createScenario
      tags:
        - scenario
      summary: Create a new Scenario
      requestBody:
        description: the Scenario to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              MasterScenario:
                $ref: '#/components/examples/BreweryScenarioIn'
              ChildScenario:
                $ref: '#/components/examples/BreweryChildScenarioIn'
          application/yaml:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              MasterScenario:
                $ref: '#/components/examples/BreweryScenarioIn'
              ChildScenario:
                $ref: '#/components/examples/BreweryChildScenarioIn'
      responses:
        "201":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "400":
          description: Bad request
    get:
      deprecated: true
      operationId: findAllScenarios
      parameters:
        - name: page
          in: query
          description: page number to query
          required: false
          schema:
            type: integer
        - name: size
          in: query
          description: amount of result by page
          required: false
          schema:
            type: integer
      tags:
        - scenario
      summary: List all Scenarios
      responses:
        "200":
          description: the list of Scenarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
              examples:
                ThreeScenario:
                  $ref: '#/components/examples/ThreeScenarios'
    delete:
      deprecated: true
      operationId: deleteAllScenarios
      tags:
        - scenario
      summary: Delete all Scenarios of the Workspace
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Scenario specified is unknown or you don't have access to it
  /organizations/{organization_id}/workspaces/{workspace_id}/{validationStatus}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: validationStatus
        in: path
        description: the Scenario Validation Status
        required: true
        schema:
          $ref: '#/components/schemas/ScenarioValidationStatus'
    get:
      deprecated: true
      operationId: findAllScenariosByValidationStatus
      tags:
        - scenario
      summary: List all Scenarios by validation status
      parameters:
        - name: page
          in: query
          description: page number to query
          required: false
          schema:
            type: integer
        - name: size
          in: query
          description: amount of result by page
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: the list of Scenarios by a given validation status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
              examples:
                ThreeScenario:
                  $ref: '#/components/examples/ThreeScenarios'
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/tree:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: getScenariosTree
      tags:
        - scenario
      summary: Get the Scenarios Tree
      responses:
        "200":
          description: the scenario tree
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
              examples:
                ScenariosTree:
                  $ref: '#/components/examples/ScenariosTree'
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: findScenarioById
      tags:
        - scenario
      summary: Get the details of an scenario
      responses:
        "200":
          description: the Scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "404":
          description: the Scenario specified is unknown or you don't have access to it
    patch:
      deprecated: true
      operationId: updateScenario
      tags:
        - scenario
      summary: Update a scenario
      requestBody:
        description: |
          The new Scenario details.
          This endpoint can't be used to update :
            - id
            - ownerId
            - datasetList
            - solutionId
            - runTemplateId
            - parametersValues
            - security
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryScenarioUpdate'
          application/yaml:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryScenarioUpdate'
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryScenarioUpdated'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access to it
    delete:
      deprecated: true
      operationId: deleteScenario
      tags:
        - scenario
      summary: Delete a scenario
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Scenario specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/ValidationStatus:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: getScenarioValidationStatusById
      tags:
        - scenario
      summary: Get the validation status of an scenario
      responses:
        "200":
          description: the Scenario validation status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioValidationStatus'

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/compare/{compared_scenario_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
      - name: compared_scenario_id
        in: path
        description: the Scenario identifier to compare to
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: compareScenarios
      tags:
        - scenario
      summary: Compare the Scenario with another one and returns the difference for parameters values
      responses:
        "200":
          description: the comparison result for parameters values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioComparisonResult'
              examples:
                BreweryScenarioComparisonResult:
                  $ref: '#/components/examples/BreweryScenarioComparison'
        "404":
          description: one of the Scenarios specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/parameterValues:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    post:
      deprecated: true
      operationId: addOrReplaceScenarioParameterValues
      tags:
        - scenario
      summary: Add (or replace) Parameter Values for the Scenario specified
      requestBody:
        description: the Parameter Value to add. Any Parameter Value with the same ID is overwritten
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ScenarioRunTemplateParameterValue'
            examples:
              TwoScenarioRunTemplateParameterValueToAddOrReplace:
                $ref: '#/components/examples/TwoScenarioRunTemplateParameterValueToAddOrReplace'
          application/yaml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ScenarioRunTemplateParameterValue'
            examples:
              TwoScenarioRunTemplateParameterValueToAddOrReplace:
                $ref: '#/components/examples/TwoScenarioRunTemplateParameterValueToAddOrReplace'
      responses:
        "201":
          description: the Parameter values
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScenarioRunTemplateParameterValue'
              examples:
                TwoScenarioRunTemplateParameterValueToAddOrReplace:
                  $ref: '#/components/examples/TwoScenarioRunTemplateParameterValueToAddOrReplace'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access to it
    delete:
      deprecated: true
      operationId: removeAllScenarioParameterValues
      tags:
        - scenario
      summary: Remove all Parameter Values from the Scenario specified
      responses:
        "204":
          description: the operation succeeded
        "404":
          description: the Scenario specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/downloads:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    post:
      deprecated: true
      operationId: downloadScenarioData
      tags:
        - scenario
      summary: Download Scenario data
      responses:
        "201":
          description: the Scenario Data response, once acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioDataDownloadJob'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenarioDataDownloadJob'
        "404":
          description: the Scenario specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/downloads/{download_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
      - name: download_id
        in: path
        description: the Scenario Download identifier
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: getScenarioDataDownloadJobInfo
      tags:
        - scenario
      summary: Get Scenario data download URL
      responses:
        "200":
          description: the scenario data download URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioDataDownloadInfo'
              examples:
                ScenarioDataDownloadJobInfoResponse:
                  value:
                    url: "https://link/to/a/file/to/download"
                    state: "Successful"
        "404":
          description: the Scenario specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/permissions/{role}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
      - name: role
        in: path
        description: the Role
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: getScenarioPermissions
      tags:
        - scenario
      summary: Get the Scenario permission by given role
      responses:
        "200":
          description: The Scenarios security permission list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - "delete"
                  - "write"
                  - "createchildren"

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/security:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: getScenarioSecurity
      tags:
        - scenario
      summary: Get the Scenario security information
      responses:
        "200":
          description: The Scenario security
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioSecurity'
              examples:
                ScenarioSecurity:
                  $ref: '#/components/examples/BreweryScenarioSecurity'
        "404":
          description: the Scenario specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/security/default:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    post:
      deprecated: true
      operationId: setScenarioDefaultSecurity
      tags:
        - scenario
      summary: Set the Scenario default security
      requestBody:
        description: This change the scenario default security.
          The default security is the role assigned to any person not on the Access Control List.
          If the default security is None, then nobody outside of the ACL can access the scenario.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScenarioRole'
            examples:
              BreweryScenarioRole:
                $ref: '#/components/examples/BreweryScenarioRole'
          application/yaml:
            schema:
              $ref: '#/components/schemas/ScenarioRole'
            examples:
              BreweryScenarioRole:
                $ref: '#/components/examples/BreweryScenarioRole'
      responses:
        "201":
          description: The Scenario default visibility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioSecurity'
              examples:
                NoneScenarioSecurity:
                  $ref: '#/components/examples/BreweryDefaultSecurityRoleNone'
                WriterScenarioSecurity:
                  $ref: '#/components/examples/BreweryDefaultSecurityRoleWriter'
        "404":
          description: the Scenario specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/security/access:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    post:
      deprecated: true
      operationId: addScenarioAccessControl
      tags:
        - scenario
      summary: Add a control access to the Scenario
      requestBody:
        description: the new Scenario security access to add.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScenarioAccessControl'
            examples:
              ScenarioAccess:
                $ref: '#/components/examples/BreweryScenarioAccessControl'
          application/yaml:
            schema:
              $ref: '#/components/schemas/ScenarioAccessControl'
            examples:
              ScenarioAccess:
                $ref: '#/components/examples/BreweryScenarioAccessControl'
      responses:
        "201":
          description: The Scenario access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioAccessControl'
              examples:
                ScenarioAccessControl:
                  $ref: '#/components/examples/BreweryScenarioAccessControl'
        "404":
          description: the Scenario specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/security/access/{identity_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
      - name: identity_id
        in: path
        description: the User identifier
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: getScenarioAccessControl
      tags:
        - scenario
      summary: Get a control access for the Scenario
      responses:
        "200":
          description: The Scenario access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioAccessControl'
              examples:
                ScenarioAccessControl:
                  $ref: '#/components/examples/BreweryScenarioAccessControl'
        "404":
          description: the Scenario or user specified is unknown or you don't have access to it
    patch:
      deprecated: true
      operationId: updateScenarioAccessControl
      tags:
        - scenario
      summary: Update the specified access to User for a Scenario
      requestBody:
        description: The new Scenario Access Control
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScenarioRole'
            examples:
              BreweryScenarioRole:
                $ref: '#/components/examples/BreweryScenarioRole'
          application/yaml:
            schema:
              $ref: '#/components/schemas/ScenarioRole'
            examples:
              BreweryScenarioRole:
                $ref: '#/components/examples/BreweryScenarioRole'
      responses:
        "200":
          description: The Scenario access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioAccessControl'
              examples:
                ScenarioAccessControl:
                  $ref: '#/components/examples/BreweryScenarioAccessControl'
        "404":
          description: The Organization specified is unknown or you don't have access to it
    delete:
      deprecated: true
      operationId: removeScenarioAccessControl
      tags:
        - scenario
      summary: Remove the specified access from the given Organization Scenario
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Scenario or the user specified is unknown or you don't have access to them

  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/security/users:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    get:
      deprecated: true
      operationId: getScenarioSecurityUsers
      tags:
        - scenario
      summary: Get the Scenario security users list
      responses:
        "200":
          description: The Scenario security users list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - alice@mycompany.com
                  - bob@mycompany.com
        "404":
          description: the Scenario specified is unknown or you don't have access to it


components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope
  schemas:
    Scenario:
      type: object
      x-class-extra-annotation: "@com.redis.om.spring.annotations.Document"
      description: a Scenario with base information
      properties:
        id:
          type: string
          x-field-extra-annotation: "@org.springframework.data.annotation.Id"
          readOnly: true
          description: the Scenario unique identifier
        name:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Searchable"
          description: the Scenario name
        description:
          type: string
          description: the Scenario description
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        parentId:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: the Scenario parent id
        ownerId:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          readOnly: true
          description: the user id which own this Scenario
        rootId:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          readOnly: true
          description: the scenario root id
        solutionId:
          type: string
          readOnly: true
          description: the Solution Id associated with this Scenario
        runTemplateId:
          type: string
          description: the Solution Run Template Id associated with this Scenario
        organizationId:
            type: string
            x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
            readOnly: true
            description: the associated Organization Id
        workspaceId:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          readOnly: true
          description: the associated Workspace Id
        state:
          $ref: '#/components/schemas/ScenarioJobState'
        creationDate:
          type: integer
          format: int64
          readOnly: true
          description: the Scenario creation date
        lastUpdate:
          type: integer
          format: int64
          readOnly: true
          description: the last time a Scenario was updated
        ownerName:
          type: string
          readOnly: true
          description: the name of the owner
        solutionName:
          type: string
          readOnly: true
          description: the Solution name
        runTemplateName:
          type: string
          readOnly: true
          description: the Solution Run Template name associated with this Scenario
        datasetList:
          type: array
          description: the list of Dataset Id associated to this Scenario Run Template
          items:
            type: string
        runSizing:
          $ref: "#/components/schemas/ScenarioResourceSizing"
        parametersValues:
          type: array
          description: the list of Solution Run Template parameters values
          items:
            $ref: '#/components/schemas/ScenarioRunTemplateParameterValue'
        lastRun:
          $ref: '#/components/schemas/ScenarioLastRun'
        parentLastRun:
          $ref: '#/components/schemas/ScenarioLastRun'
        rootLastRun:
          $ref: '#/components/schemas/ScenarioLastRun'
        validationStatus:
          $ref: '#/components/schemas/ScenarioValidationStatus'
        security:
          $ref: '#/components/schemas/ScenarioSecurity'
    ScenarioSecurity:
      type: object
      x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
      description: the Scenario security information
      properties:
        default:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: the role by default
        accessControlList:
          type: array
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: the list which can access this Scenario with detailed access control information
          items:
            $ref: '#/components/schemas/ScenarioAccessControl'
      required:
        - default
        - accessControlList
    ScenarioAccessControl:
      type: object
      description: a Scenario access control item
      properties:
        id:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: the identity id
        role:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: a role
      required:
        - id
        - role
    ScenarioRole:
      type: object
      description: the Scenario Role
      properties:
        role:
          type: string
          description: the Scenario Role
      required:
        - role
    ScenarioResourceSizing:
      type: object
      description: a description object for resource requests and limits (default same configuration as basic sizing)
      properties:
        requests:
          $ref: '#/components/schemas/ResourceSizeInfo'
        limits:
          $ref: '#/components/schemas/ResourceSizeInfo'
      required:
        - requests
        - limits
    ResourceSizeInfo:
      type: object
      description: define cpus and memory needs
      properties:
        cpu:
          type: string
          description: define cpu needs
        memory:
          type: string
          description: define memory needs
      required:
        - cpu
        - memory
    ScenarioLastRun:
      type: object
      properties:
        scenarioRunId:
          type: string
          description: the last Scenario Run id
        csmSimulationRun:
          type: string
          description: the last Cosmo Tech Simulation Run id
        workflowId:
          type: string
          description: the last Workflow Id
        workflowName:
          type: string
          description: the last Workflow name
    ScenarioRunTemplateParameterValue:
      type: object
      description: the value of a Solution Run Template parameter for a Scenario
      properties:
        parameterId:
          type: string
          description: the parameter Id
        varType:
          type: string
          readOnly: true
          description: the parameter value type
        value:
          type: string
          description: the parameter value
        isInherited:
          type: boolean
          description: whether or not the value is inherited from parent or has been changed
      required:
        - parameterId
        - value
    ScenarioComparisonResult:
      type: object
      description: the result of the comparison of two scenarios
      properties:
        scenarioId:
          type: string
          readOnly: true
          description: the Scenario Id which is the reference for the comparison
        comparedScenarioId:
          type: string
          readOnly: true
          description: the Scenario Id the reference Scenario is compared to
        changedValues:
          type: array
          readOnly: true
          description: the list of changed values for parameters
          items:
            $ref: '#/components/schemas/ScenarioChangedParameterValue'
    ScenarioChangedParameterValue:
      type: object
      description: the difference between the values of a parameter
      properties:
        parameterId:
          type: string
          readOnly: true
          description: the parameter id the values refer to
        varType:
          type: string
          readOnly: true
          description: the parameter value type
        value:
          type: string
          readOnly: true
          description: the parameter value for the reference Scenario
        comparedValue:
          type: string
          readOnly: true
          description: the parameter value for the compared Scenario
    ScenarioDataDownloadInfo:
      type: object
      description: Scenario data download job info
      properties:
        url:
          type: string
          readOnly: true
          description: the Scenario Data Download URL
        state:
          $ref: '#/components/schemas/ScenarioJobState'
    ScenarioDataDownloadJob:
      type: object
      description: Scenario data download job
      properties:
        id:
          type: string
          readOnly: true
          description: the Scenario Data Download job identifier
    ScenarioJobState:
      type: string
      readOnly: true
      description: the Scenario job state
      enum:
        - Created
        - Running
        - Successful
        - Failed
        # PROD-7888 : When requesting the scenario state right after a run has been submitted,
        # the scenario run service (e.g., Argo Workflow) might not have scheduled the run
        # effectively yet.
        # Furthermore, temporary communication errors might occur anytime when remotely
        # fetching last scenario run statuses.
        - Unknown
        # PROD-7420 : return data ingestion status
        - DataIngestionInProgress
    ScenarioValidationStatus:
      x-field-extra-annotation: "@com.redis.om.spring.annotations.Searchable"
      type: string
      description: the validation status of the scenario
      enum:
        - Draft
        - Rejected
        - Unknown
        - Validated
  examples:
    BreweryScenarioIn:
      summary: Brewery Scenario input example
      description: Brewery Scenario input example
      value:
        name: Brewery Master Analysis
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        runTemplateId: "hundred"
        datasetList:
          - "1"
        parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
        security:
          default: "viewer"
          accessControlList:
            - id: "alice.doe@cosmotech.com"
              role: "admin"
    BreweryChildScenarioIn:
      summary: Brewery Child Scenario input example
      description: Brewery Child Scenario input example
      value:
        name: Brewery Child Analysis
        description: Brewery child reference analysis
        tags:
          - Brewery
        runTemplateId: "hundred"
        parentId: "1"
    BreweryScenario:
      summary: Brewery Scenario
      description: Brewery Scenario example
      value:
        id: "1"
        name: Brewery Master Analysis
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        ownerId: "1"
        worskspaceId: "1"
        solutionId: "1"
        solutionName: Brewery Solution
        runTemplateId: "hundred"
        runTemplateName: Full simulation 100 steps
        state: Running
        ownerName: Bob
        creationDate: "2021-04-21T17:32:28Z"
        lastUpdate: "2021-04-21T17:32:28Z"
        datasetList:
          - "1"
        parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
        lastRun:
          csmSimulationRun: "ae8d1959-7a71-48ec-9f33-3fae53358cf1"
          scenarioRunId: "SR-V9EYbbOE0"
          workflowId: "c7cd3f15-8a3b-4bcd-b3ca-62ee24c13d67"
          workflowName: "workflow-s-dwpxbzmdxn-zkvd7"
        security:
          default: "viewer"
          accessControlList:
            - id: "alice.doe@cosmotech.com"
              role: "admin"
    ThreeScenarios:
      summary: Three Scenarios with parent and children
      description: Three Scenarios with parent master Scenario and two children Scenarios
      value:
        - id: "1"
          name: Brewery Master Analysis
          description: Brewery master reference analysis
          tags:
            - Brewery
            - reference
          ownerId: "1"
          worskspaceId: "1"
          solutionId: "1"
          solutionName: Brewery Solution
          runTemplateId: "hundred"
          runTemplateName: Full simulation 100 steps
          state: Created
          ownerName: Bob
          creationDate: "2021-04-21T17:32:28Z"
          lastUpdate: "2021-04-21T17:32:28Z"
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: ""
          security:
            default: "viewer"
            accessControlList:
              - id: "alice.doe@cosmotech.com"
                role: "admin"
        - id: "2"
          name: Brewery Analysis name example
          description: Brewery analysis with example as name prefix
          tags:
            - Brewery
            - example
          parentId: "1"
          ownerId: "1"
          worskspaceId: "1"
          solutionId: "1"
          solutionName: Brewery Solution
          runTemplateId: "hundred"
          runTemplateName: Full simulation 100 steps
          state: Running
          ownerName: Bob
          creationDate: "2021-04-21T17:32:28Z"
          lastUpdate: "2021-04-21T17:32:28Z"
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: example
          lastRun:
            csmSimulationRun: "ae8d1959-7a71-48ec-9f33-3fae53358cf1"
            scenarioRunId: "SR-V9EYbbOE0"
            workflowId: "c7cd3f15-8a3b-4bcd-b3ca-62ee24c13d67"
            workflowName: "workflow-s-dwpxbzmdxn-zkvd7"
          security:
            default: "viewer"
            accessControlList:
              - id: "alice.doe@cosmotech.com"
                role: "admin"
        - id: "3"
          name: Brewery Analysis name no change
          description: Brewery analysis with no change on name prefix
          tags:
            - Brewery
          parentId: "1"
          ownerId: "2"
          worskspaceId: "1"
          solutionId: "1"
          solutionName: Brewery Solution
          runTemplateId: "hundred"
          runTemplateName: Full simulation 100 steps
          state: Failed
          ownerName: Alice
          creationDate: "2021-04-21T17:32:28Z"
          lastUpdate: "2021-04-21T17:32:28Z"
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: ""
              inherited: true
          lastRun:
            csmSimulationRun: "ae8d1959-7a71-48ec-9f33-3fae53358cf1"
            scenarioRunId: "SR-V9EYbbOE0"
            workflowId: "c7cd3f15-8a3b-4bcd-b3ca-62ee24c13d67"
            workflowName: "workflow-s-dwpxbzmdxn-zkvd7"
          security:
            default: "viewer"
            accessControlList:
              - id: "alice.doe@cosmotech.com"
                role: "admin"
    BreweryScenarioUpdate:
      summary: Update the Brewery Scenario
      description: Update the Brewery Scenario by changing its name
      value:
        name: Brewery Master Analysis 2021
    BreweryScenarioUpdated:
      summary: Brewery updated Scenario
      description: Brewery updated Scenario example
      value:
        id: "1"
        name: Brewery Master Analysis 2021
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        ownerId: "1"
        worskspaceId: "1"
        solutionId: "1"
        solutionName: Brewery Solution
        runTemplateId: "hundred"
        runTemplateName: Full simulation 100 steps
        state: Created
        ownerName: Bob
        creationDate: "2021-04-21T17:32:28Z"
        lastUpdate: "2021-04-21T17:32:28Z"
        datasetList:
          - "1"
        parametersValues:
          - parameterId: prefix
            varType: string
            value: ""
        security:
          default: "viewer"
          accessControlList:
            - id: "alice.doe@cosmotech.com"
              role: "admin"
    BreweryScenarioComparison:
      summary: Brewery comparison result
      description: Brewery comparison result between a parent Scenario and its child
      value:
        scenarioId: "1"
        comparedScenarioId: "2"
        changedValues:
          - parameterId: prefix
            varType: string
            value: Brewery Master Analysis
            comparedValue: Brewery Master Analysis 2021
    ScenariosTree:
      summary: Scenarios Tree example
      description: Scenarios Tree example with 1 master Scenario and 2 children
      value:
        - id: "1"
          name: Brewery Master Analysis
          description: Brewery master reference analysis
          version: "1.0.0"
          tags:
            - Brewery
            - reference
          ownerId: "1"
          worskspaceId: "1"
          state: Created
          creationDate: "2021-04-21T17:32:28Z"
          lastUpdate: "2021-04-21T17:32:28Z"
          ownerName: Alice
          runTemplateName: Full simulation 100 steps
          solutionName: Brewery Solution
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: ""
              inherited: true
          security:
            default: "viewer"
            accessControlList:
              - id: "alice.doe@cosmotech.com"
                role: "admin"
        - id: "2"
          name: Brewery Analysis name example
          description: Brewery analysis with example as name prefix
          tags:
            - Brewery
            - example
          parentId: "1"
          ownerId: "1"
          worskspaceId: "1"
          state: Running
          creationDate: "2021-04-21T17:32:28Z"
          lastUpdate: "2021-04-21T17:32:28Z"
          ownerName: Alice
          runTemplateName: Full simulation 100 steps
          solutionName: Brewery Solution
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: ""
              inherited: true
          lastRun:
            csmSimulationRun: "ae8d1959-7a71-48ec-9f33-3fae53358cf1"
            scenarioRunId: "SR-V9EYbbOE0"
            workflowId: "c7cd3f15-8a3b-4bcd-b3ca-62ee24c13d67"
            workflowName: "workflow-s-dwpxbzmdxn-zkvd7"
          security:
            default: "viewer"
            accessControlList:
              - id: "alice.doe@cosmotech.com"
                role: "admin"
        - id: "3"
          name: Brewery Analysis name no change
          description: Brewery analysis with no change on name prefix
          tags:
            - Brewery
          parentId: "1"
          ownerId: "2"
          worskspaceId: "1"
          state: Failed
          creationDate: "2021-04-21T17:32:28Z"
          lastUpdate: "2021-04-21T17:32:28Z"
          ownerName: Alice
          runTemplateName: Full simulation 100 steps
          solutionName: Brewery Solution
          datasetList:
            - "1"
          parametersValues:
            - parameterId: prefix
              varType: string
              value: ""
              inherited: true
          lastRun:
            csmSimulationRun: "ae8d1959-7a71-48ec-9f33-3fae53358cf1"
            scenarioRunId: "SR-V9EYbbOE0"
            workflowId: "c7cd3f15-8a3b-4bcd-b3ca-62ee24c13d67"
            workflowName: "workflow-s-dwpxbzmdxn-zkvd7"
          security:
            default: "viewer"
            accessControlList:
              - id: "alice.doe@cosmotech.com"
                role: "admin"
    TwoScenarioRunTemplateParameterValueToAddOrReplace:
      summary: Scenarios Run Templates added
      description: Scenarios Run Templates added
      value:
        - parameterId: prefix
          varType: string
          value: ""
          inherited: true
        - parameterId: prefix2
          varType: string
          value: ""
          inherited: true
    BreweryScenarioDataDownloadJob:
      summary: Example of a scenario data download job
      description: Brewery Scenario Data Download Job
      value:
        id: "sdl-abc123defghi"
    BreweryScenarioSecurity:
      summary: Brewery Scenario security
      description: Brewery Scenario security example
      value:
        default: "viewer"
        accessControlList:
          - id: "alice.doe@cosmotech.com"
            role: "editor"
    BreweryScenarioRole:
      summary: Set a Scenario Role.
      description: Set a Role for a User to a Scenario.
      value:
        role: "editor"
    BreweryDefaultSecurityRoleNone:
      summary: Brewery Scenario Writer default security
      description: Brewery Scenario example
      value:
        default: "none"
    BreweryDefaultSecurityRoleWriter:
      summary: Brewery Scenario Writer default security
      description: Brewery Scenario example
      value:
        default: "editor"
    BreweryScenarioAccessControl:
      summary: Set an access control.
      description: Set an access control for a user to a workspace.
      value:
        id: "bob.doe@cosmotech.com"
        role: "editor"
