openapi: 3.0.3

info:
  title: Cosmo Tech Scenario Manager API
  description: Cosmo Tech Scenario Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'https://gateway.api.cosmo-platform.com'
- url: 'http://localhost:8080'

security:
- ApiKeyAuth: [ ]
- AADOAuth2AuthCode: [ ]

tags:
- name: scenario
  description: Scenario Management

paths:
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      operationId: createScenario
      tags:
        - scenario
      summary: Create a new scenario
      requestBody:
        description: the Scenario to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              Scenario:
                $ref: '#/components/examples/BreweryScenario'
      responses:
        "201":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "400":
          description: Bad request
    get:
      operationId: findAllScenarios
      tags:
        - scenario
      summary: List all Scenarios
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
              examples:
                ThreeScenario:
                  $ref: '#/components/examples/ThreeScenarios'
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/tree:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      operationId: getScenariosTree
      tags:
        - scenario
      summary: Get the Scenarios Tree
      responses:
        "200":
          description: the scenario tree
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/ScenariosTree'
              examples:
                ScenarioTree:
                  $ref: '#/components/examples/ScenariosTree'
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
    get:
      operationId: findScenarioById
      tags:
        - scenario
      summary: Get the details of an scenario
      responses:
        "200":
          description: the Scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "404":
          description: the Scenario specified is unknown or you don't have access to it
    patch:
      operationId: updateScenario
      tags:
        - scenario
      summary: Update a scenario
      requestBody:
        description: the new Scenario details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryScenarioUpdate'
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryScenarioUpdated'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access to it
    delete:
      operationId: deleteScenario
      tags:
        - scenario
      summary: Delete a scenario
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access to it
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/compare/{compared_scenario_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: scenario_id
        in: path
        description: the Scenario identifier
        required: true
        schema:
          type: string
      - name: compared_scenario_id
        in: path
        description: the Scenario identifier to compare to
        required: true
        schema:
          type: string
    get:
      operationId: compareScenarios
      tags:
        - scenario
      summary: Compare the Scenario with another one and returns the difference for parameters values
      responses:
        "200":
          description: the comparison result for parameters values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioComparisonResult'
              examples:
                BreweryScenarioComparisonResult:
                  $ref: '#/components/examples/BreweryScenarioComparison'
        "404":
          description: the Scenario specified is unknown or you don't have access to it

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: The Cosmo Tech API Key
      name: key
      in: query
    AADOAuth2AuthCode:
      type: oauth2
      description: Azure Active Directory authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/e9641c78-d0d6-4d09-af63-168922724e7f/oauth2/v2.0/authorize
          scopes:
            http://sample.azure.cosmo-platform.com/user_impersonation: User Impersonation
  schemas:
    ScenarioBase:
      type: object
      description: a Scenario with base information
      properties:
        id:
          type: string
          readOnly: true
          description: the Scenario unique identifier
        name:
          type: string
          description: the Scenario name
        description:
          type: string
          description: the Scenario description
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        parentId:
          type: string
          description: the Scenario parent id
        ownerId:
          type: string
          readOnly: true
          description: the user id which own this Scenario
        userList:
          type: array
          description: the list of users Id with their role
          items:
            $ref: '#/components/schemas/ScenarioUser'
      required:
        - name
    ScenariosTree:
      type: array
      description: the Scenarios Tree
      items:
        $ref: '#/components/schemas/ScenarioBase'
    Scenario:
      allOf:
        - $ref: '#/components/schemas/ScenarioBase'
        - type: object
          description: a Scenario with detailed information
          properties:
            simulatorId:
              type: string
              readOnly: true
              description: the Simulator Id associated with this Scenario
            analysis:
              type: array
              description: the configuration for Analysis
              items:
                $ref: '#/components/schemas/ScenarioAnalysis'
    ScenarioAnalysis:
      type: object
      description: a Scenario configuration for a Simulator Analysis
      properties:
        analysisId:
          type: string
          description: the Simulator Analysis Id
        datasetList:
          type: array
          description: the list of Dataset Id associated to this Scenario Analysis
          items:
            type: string
        parametersValues:
          type: array
          description: the list of Simulator Analysis parameters values
          items:
            $ref: '#/components/schemas/ScenarioAnalysisParameterValue'
      required:
        - analysisId
    ScenarioAnalysisParameterValue:
      type: object
      description: the value of an Analysis parameter for a Scenario
      properties:
        parameterId:
          type: string
          description: the parameter Id
        varType:
          type: string
          readOnly: true
          description: the parameter value type
        value:
          type: string
          description: the parameter value
        isInherited:
          type: string
          description: whether or not the value is inherited from parent or has been changed
      required:
        - parameterId
        - value
    ScenarioUser:
      type: object
      description: a Scenario user with roles
      properties:
        id:
          type: string
          description: the User id
        name:
          type: string
          readOnly: true
          description: the User name
        roles:
          type: string
          description: the User role
          enum: ["Viewer","Editor"]
      required:
        - id
        - roles
    ScenarioComparisonResult:
      type: object
      description: the result of the comparison of two scenarios
      properties:
        scenarioId:
          type: string
          readOnly: true
          description: the Scenario Id which is the reference for the comparison
        comparedScenarioId:
          type: string
          readOnly: true
          description: the Scenario Id the reference Scenario is compared to
        changedValues:
          type: array
          readOnly: true
          description: the list of changed values for parameters
          items:
            $ref: '#/components/schemas/ScenarioChangedParameterValue'
    ScenarioChangedParameterValue:
      type: object
      description: the difference between the values of a parameter
      properties:
        parameterId:
          type: string
          readOnly: true
          description: the parameter id the values refer to
        varType:
          type: string
          readOnly: true
          description: the parameter value type
        value:
          type: string
          readOnly: true
          description: the parameter value for the reference Scenario
        comparedValue:
          type: string
          readOnly: true
          description: the parameter value for the compared Scenario
  examples:
    BreweryScenario:
      summary: Brewery Scenario
      description: Brewery Scenario example
      value:
        id: "1"
        name: Brewery Master Analysis
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        ownerId: "1"
        simulatorId: "1"
        userList:
          - id: "1"
            name: Bob
            roles: Editor
          - id: "2"
            name: Alice
            roles: Viewer 
        analysis:
          - analysisId: "1"
            datasetList:
              - "1"
            parametersValues:
              - parameterId: prefix
                varType: string
                value: ""
    ThreeScenarios:
      summary: Three Scenarios with parent and children
      description: Three Scenarios with parent master Scenario and two children Scenarios
      value:
        - id: "1"
          name: Brewery Master Analysis
          description: Brewery master reference analysis
          version: "1.0.0"
          tags:
            - Brewery
            - reference
          ownerId: "1"
          simulatorId: "1"
          userList:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
          analysis:
            - analysisId: "1"
              datasetList:
                - "1"
              parametersValues:
                - parameterId: prefix
                  varType: string
                  value: ""
        - id: "2"
          name: Brewery Analysis name example
          description: Brewery analysis with example as name prefix
          tags:
            - Brewery
            - example
          parentId: "1"
          ownerId: "1"
          simulatorId: "1"
          userList:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
          analysis:
            - analysisId: "1"
              datasetList:
                - "1"
              parametersValues:
                - parameterId: prefix
                  varType: string
                  value: example
        - id: "3"
          name: Brewery Analysis name no change
          description: Brewery analysis with no change on name prefix
          tags:
            - Brewery
          parentId: "1"
          ownerId: "1"
          simulatorId: "1"
          userList:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
          analysis:
            - analysisId: "1"
              datasetList:
                - "1"
              parametersValues:
                - parameterId: prefix
                  varType: string
                  value: ""
                  inherited: true
    BreweryScenarioUpdate:
      summary: Update the Brewery Scenario
      description: Update the Brewery Scenario by changing its name
      value:
        name: Brewery Master Analysis 2021
    BreweryScenarioUpdated:
      summary: Brewery updated Scenario
      description: Brewery updated Scenario example
      value:
        id: "1"
        name: Brewery Master Analysis 2021
        description: Brewery master reference analysis
        tags:
          - Brewery
          - reference
        ownerId: "1"
        simulatorId: "1"
        userList:
          - id: "1"
            name: Bob
            roles: Editor
          - id: "2"
            name: Alice
            roles: Viewer 
        analysis:
          - analysisId: "1"
            datasetList:
              - "1"
            parametersValues:
              - parameterId: prefix
                varType: string
                value: ""
    BreweryScenarioComparison:
      summary: Brewery comparison result
      description: Brewery comparison result between a parent Scenario and its child
      value:
        scenarioId: "1"
        comparedScenarioId: "2"
        changedValues:
          - parameterId: prefix
            varType: string
            value: Brewery Master Analysis
            comparedValue: Brewery Master Analysis 2021
    ScenariosTree:
      summary: Scenarios Tree example
      description: Scenarios Tree example with 1 master Scenario and 2 children
      value:
        - id: "1"
          name: Brewery Master Analysis
          description: Brewery master reference analysis
          version: "1.0.0"
          tags:
            - Brewery
            - reference
          ownerId: "1"
          userList:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
        - id: "2"
          name: Brewery Analysis name example
          description: Brewery analysis with example as name prefix
          tags:
            - Brewery
            - example
          parentId: "1"
          ownerId: "1"
          userList:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
        - id: "3"
          name: Brewery Analysis name no change
          description: Brewery analysis with no change on name prefix
          tags:
            - Brewery
          parentId: "1"
          ownerId: "1"
          userList:
            - id: "1"
              name: Bob
              roles: Editor
            - id: "2"
              name: Alice
              roles: Viewer 
