{{- $baseConfig := include "cosmotech-api.baseConfig" . | fromYaml -}}
{{- $mergedConfig := mustMergeOverwrite (dict) .Values.config $baseConfig  -}}
kind: Secret
apiVersion: v1
metadata:
  name: {{ include "cosmotech-api.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "cosmotech-api.labels" . | nindent 4 }}
  annotations:
    email: "platform@cosmotech.com"
stringData:
  application-helm.yml: |
    {{- toYaml $mergedConfig | nindent 4 }}
