openapi: 3.0.3

info:
  title: Cosmo Tech Twin cache Manager API
  description: Cosmo Tech Twin cache Manager API
  version: 0.0.1-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: twincache
  description: Twin Cache Management

paths:
  /massimport:
    post:
      operationId: mass_import
      tags:
        - twincache
      description: Launch a mass import job
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
            application/yaml:
              schema:
                type: string
  /query:
    post:
      operationId: cache_query
      tags:
        - twincache
      description: Run a query on cache
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
            application/yaml:
              schema:
                type: string
  /delete:
    delete:
      operationId: mass_delete
      tags:
        - twincache
      description: Launch a mass delete job
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
            application/yaml:
              schema:
                type: string
components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope
