openapi: 3.0.3

info:
  title: Cosmo Tech Solution Manager API
  description: Cosmo Tech Solution Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: solution
  description: Solution Management

paths:
  /organizations/{organization_id}/solutions:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: createSolution
      tags:
        - solution
      summary: Register a new solution
      requestBody:
        description: the Solution to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
            examples:
              Brewery:
                $ref: '#/components/examples/Brewery'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              ADTConnector:
                $ref: '#/components/examples/Brewery'
      responses:
        "201":
          description: the solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
        "400":
          description: Bad request
    get:
      operationId: findAllSolutions
      tags:
        - solution
      summary: List all Solutions
      responses:
        "200":
          description: the solution details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Solution'
              examples:
                Two:
                  $ref: '#/components/examples/OneSolution'

  /organizations/{organization_id}/solutions/{solution_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: solution_id
        in: path
        description: the Solution identifier
        required: true
        schema:
          type: string
    get:
      operationId: findSolutionById
      tags:
        - solution
      summary: Get the details of a solution
      responses:
        "200":
          description: the Solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
        "404":
          description: the Solution specified is unknown or you don't have access to it
    patch:
      operationId: updateSolution
      tags:
        - solution
      summary: Update a solution
      requestBody:
        description: the new Solution details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryUpdate'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryUpdate'
      responses:
        "200":
          description: the solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryUpdated'
        "400":
          description: Bad request
        "404":
          description: the Solution specified is unknown or you don't have access to it
    delete:
      operationId: deleteSolution
      tags:
        - solution
      summary: Delete a solution
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Solution specified is unknown or you don't have access to it

  /organizations/{organization_id}/solutions/{solution_id}/parameters:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: solution_id
        in: path
        description: the Solution identifier
        required: true
        schema:
          type: string
    post:
      operationId: addOrReplaceParameters
      tags:
        - solution
      summary: Add Parameters. Any item with the same ID will be overwritten
      requestBody:
        description: the Parameters
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/RunTemplateParameter"
      responses:
        "201":
          description: the Parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunTemplateParameter'
        "400":
          description: Bad request
        "404":
          description: the Solution specified is unknown or you don't have access to it
    delete:
      operationId: removeAllSolutionParameters
      tags:
        - solution
      summary: Remove all Parameters from the Solution specified
      responses:
        "204":
          description: the operation succeeded
        "404":
          description: the Solution specified is unknown or you don't have access to it

  /organizations/{organization_id}/solutions/{solution_id}/parameterGroups:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: solution_id
        in: path
        description: the Solution identifier
        required: true
        schema:
          type: string
    post:
      operationId: addOrReplaceParameterGroups
      tags:
        - solution
      summary: Add Parameter Groups. Any item with the same ID will be overwritten
      requestBody:
        description: the Parameter Groups
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/RunTemplateParameterGroup"
      responses:
        "201":
          description: the Parameter Groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunTemplateParameterGroup'
        "400":
          description: Bad request
        "404":
          description: the Solution specified is unknown or you don't have access to it
    delete:
      operationId: removeAllSolutionParameterGroups
      tags:
        - solution
      summary: Remove all Parameter Groups from the Solution specified
      responses:
        "204":
          description: the operation succeeded
        "404":
          description: the Solution specified is unknown or you don't have access to it

  /organizations/{organization_id}/solutions/{solution_id}/runTemplates:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: solution_id
        in: path
        description: the Solution identifier
        required: true
        schema:
          type: string
    post:
      operationId: addOrReplaceRunTemplates
      tags:
        - solution
      summary: Add Run Templates. Any item with the same ID will be overwritten
      requestBody:
        description: the Run Templates
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/RunTemplate"
      responses:
        "201":
          description: the Parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunTemplate'
        "400":
          description: Bad request
        "404":
          description: the Solution specified is unknown or you don't have access to it
    delete:
      operationId: removeAllRunTemplates
      tags:
        - solution
      summary: Remove all Run Templates from the Solution specified
      responses:
        "204":
          description: the operation succeeded
        "404":
          description: the Solution specified is unknown or you don't have access to it

  /organizations/{organization_id}/solutions/{solution_id}/runtemplates/{run_template_id}/handlers/{handler_id}/upload:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: solution_id
        in: path
        description: the Solution identifier
        required: true
        schema:
          type: string
      - name: run_template_id
        in: path
        description: the Run Template identifier
        required: true
        schema:
          type: string
      - name: handler_id
        in: path
        description: the Handler id identifier
        required: true
        schema:
          type: string
          enum: ["parameters_handler","validator","prerun","engine","postrun"]
    post:
      operationId: uploadRunTemplateHandler
      tags:
        - solution
      summary: Upload a Run Template step handler zip file
      requestBody:
        content:
          image/zip:
            schema:
              type: string
              format: binary
      responses:
        "201":
          description: zip file uploaded
        "400":
          description: Bad request

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: oauth2/authorize
          scopes: {}
  schemas:
    Solution:
      type: object
      description: a version of a Solution
      properties:
        id:
          type: string
          readOnly: true
          description: the Solution version unique identifier
        key:
          type: string
          description: the Solution key which group Solution versions
        name:
          type: string
          description: the Solution name
        description:
          type: string
          description: the Solution description
        repository:
          type: string
          description: the registry repository containing the image
        csmSimulator:
          type: string
          description: the main Cosmo Tech simulator name used in standard Run Template
        version:
          type: string
          description: the Solution version MAJOR.MINOR.PATCH. Must be aligned with an existing repository tag
        ownerId:
          type: string
          readOnly: true
          description: the User id which own this Solution
        url:
          type: string
          description: an optional URL link to solution page
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        parameters:
          type: array
          description: the list of Run Template Parameters
          items:
            $ref: '#/components/schemas/RunTemplateParameter'
        parameterGroups:
          type: array
          description: the list of parameters groups for the Run Templates
          items:
            $ref: '#/components/schemas/RunTemplateParameterGroup'
        run_templates:
          type: array
          description: list of Run Template
          items:
            $ref: '#/components/schemas/RunTemplate'
      required:
        - key
        - name
        - repository
        - version
    RunTemplate:
      type: object
      description: a Solution Run Template
      properties:
        id:
          type: string
          description: the Solution Run Template id
        name:
          type: string
          description: the Run Template name
        description:
          type: string
          description: the Run Template description
        csmSimulation:
          type: string
          description: the Cosmo Tech simulation name. This information is send to the Engine. Mandatory information if no Engine is defined
        tags:
          type: array
          description: the list of Run Template tags
          items:
            type: string
        computeSize:
          type: string
          description: the compute size needed for this Run Template. Standard sizes are basic and highcpu. Default is basic
        parametersHandlerResource:
          description: the parameters handler script resource. Default type is local and default path is run_templates/%CSM_RUN_TEMPLATE_ID%/parameters_handler/. Ignored with warning if resource does not exist. A Parameters Handler receives the Run Template information including all input parameters Key/Value.
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        datasetValidatorResource:
          description: the dataset validator script resource. Default type is local and default path is run_templates/%CSM_RUN_TEMPLATE_ID%/validator/. Ignored with warning if resource does not exist.
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        preRunResource:
          description: the Engine pre-run script resource. Default type is local and default path is run_templates/%CSM_RUN_TEMPLATE_ID%/prerun/. Ignored with if resource does not exist.
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        engineResource:
          description: the Engine script resource. Default type is local and default path is run_templates/%CSM_RUN_TEMPLATE_ID%/engine/. Ignored with warning if resource does not exist. An engine receives the Run Template information including all input parameters Key/Value. An engine has the responsibility to run the Run Template. It can use the main standard csmSimulator
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        postRunResource:
          description: the Engine post-run script resource. Default type is local and default path is run_templates/%CSM_RUN_TEMPLATE_ID%/postrun/. Ignored with if resource does not exist.
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        sendDatasetsToDataWarehouse:
          type: boolean
          default: true
          description: whether or not the Datasets values are send to the DataWarehouse prior to Simulation Run
        sendInputParametersToDataWarehouse:
          type: boolean
          default: true
          description: whether or not the input parameters values are send to the DataWarehouse prior to Simulation Run
        parameterGroups:
          type: array
          description: the ordered list of parameters groups for the Run Template
          items:
            type: string
            description: a Run Template Group Parameter id
      required:
        - id
        - name
    RunTemplateParameterGroup:
      type: object
      description: a Parameter Group for a Run Template
      properties:
        id:
          type: string
          description: the Parameter Group id
        labels:
          $ref: '#/components/schemas/TranslatedLabels'
        isTable:
          type: boolean
          description: does the group define a table
        options:
          type: object
          description: freeform options
          additionalProperties: true
        parentId:
          type: string
          description: the Run Template Group parent Id
        parameters:
          type: array
          description: an ordered list of Run Template Parameters
          items:
            type: string
            description: a Run Template Parameter id
      required:
        - id
        - labels
        - parameters
    RunTemplateParameter:
      type: object
      description: a Run Template Parameter
      properties:
        id:
          type: string
          description: the Parameter id
        labels:
          $ref: '#/components/schemas/TranslatedLabels'
        varType:
          type: string
          description: the variable type for the parameter. Basic types or special type %DATASETID%
        options:
          type: object
          description: freeform options
          additionalProperties: true
      required:
        - id
        - labels
        - varType
    RunTemplateResourceStorage:
      type: object
      properties:
        storageType:
          type: string
          description: the storage type
          enum: ["local","cloudStorage"]
        resourcePath:
          type: string
          description: the resource path
        storageOptions:
          type: object
          description: freeform options for storage
          additionalProperties: true
      required:
        - storageType
        - resourcePath
    TranslatedLabels:
      type: object
      description: a translated label with key as ISO 639-1 code
      additionalProperties: true
  examples:
    Brewery:
      summary: Brewery Solution
      description: Brewery Solution example
      value:
        id: "1"
        key: Brewery Solution
        name:  Brewery Solution
        description: A Brewery Supplier Solution Model which simulate stock, production, transport and customer satisfaction
        repository: brewery_solution
        version: "1.0.0"
        ownerId: "1"
        url: https://github.com/Cosm-Tech/brewery.git
        tags:
          - Brewery
        parameters:
          - id: prefix
            labels:
              fr: Prefix des noms
              en: Names prefix
            varType: string
        parameterGroups:
          - id: consumers
            labels:
              fr: Consommateurs
              en: Consumers
            parameters:
              - prefix
        run_templates:
          - id: hundred
            name: Full simulation 100 steps
            description: Run a full simulation with 100 steps
            csmSimulation: DeployedSimulation
            tags:
              - Full
              - Supply
            computeSize: highcpu
            parametersHandlerResource:
              storageType: local
              resourcePath: run_templates/hundred/parameters_handler/
            datasetValidatorResource:
              storageType: local
              resourcePath: run_templates/hundred/validator/
            engineResource:
              storageType: local
              resourcePath: run_templates/hundred/engine/
            datasetSchemaResource:
              storageType: local
              resourcePath: run_templates/hundred/schema
            parameterGroups:
              - consumers
    BreweryUpdate:
      summary: Brewery Solution update
      description: Brewery Solution update example
      value:
        name: Brewery Solution 2021
    BreweryUpdated:
      summary: Brewery Solution
      description: Brewery Solution example
      value:
        id: "1"
        key: Brewery Solution
        name:  Brewery Solution 2021
        description: A Brewery Supplier Solution Model which simulate stock, production, transport and customer satisfaction
        repository: brewery_solution
        version: "1.0.0"
        ownerId: "1"
        url: https://github.com/Cosm-Tech/brewery.git
        tags:
          - Brewery
        parameters:
          - id: prefix
            labels:
              fr: Prefix des noms
              en: Names prefix
            varType: string
        parameterGroups:
          - id: consumers
            labels:
              fr: Consommateurs
              en: Consumers
            parameters:
              - prefix
        run_templates:
          - id: hundred
            name: Full simulation 100 steps
            description: Run a full simulation with 100 steps
            csmSimulation: DeployedSimulation
            tags:
              - Full
              - Supply
            computeSize: highcpu
            parametersHandlerResource:
              storageType: local
              resourcePath: run_templates/hundred/parameters_handler/
            datasetValidatorResource:
              storageType: local
              resourcePath: run_templates/hundred/validator/
            engineResource:
              storageType: local
              resourcePath: run_templates/hundred/engine/
            datasetSchemaResource:
              storageType: local
              resourcePath: run_templates/hundred/schema
            parameterGroups:
              - consumers
    OneSolution:
      summary: Brewery Solution
      description: Brewery Solution example
      value:
        - id: "1"
          key: Brewery Solution
          name:  Brewery Solution
          description: A Brewery Supplier Solution Model which simulate stock, production, transport and customer satisfaction
          repository: brewery_solution
          version: "1.0.0"
          ownerId: "1"
          url: https://github.com/Cosm-Tech/brewery.git
          tags:
            - Brewery
          parameters:
            - id: prefix
              labels:
                fr: Prefix des noms
                en: Names prefix
              varType: string
          parameterGroups:
          - id: consumers
            labels:
              fr: Consommateurs
              en: Consumers
            parameters:
              - prefix
          run_templates:
            - id: hundred
              name: Full simulation 100 steps
              description: Run a full simulation with 100 steps
              csmSimulation: DeployedSimulation
              tags:
                - Full
                - Supply
              computeSize: highcpu
              parametersHandlerResource:
                storageType: local
                resourcePath: run_templates/hundred/parameters_handler/
              datasetValidatorResource:
                storageType: local
                resourcePath: run_templates/hundred/validator/
              engineResource:
                storageType: local
                resourcePath: run_templates/hundred/engine/
              datasetSchemaResource:
                storageType: local
                resourcePath: run_templates/hundred/schema
              parameterGroups:
                - consumers
            - id: standard
              name: Standard Simulation
              description: Run the standard Simulation
              csmSimulation: DeployedSimulation
              tags:
                - Full
                - Supply
              computeSize: basic
