openapi: 3.0.3

info:
  title: Cosmo Tech Twin graph Manager API
  description: Cosmo Tech Twin graph Manager API
  version: 0.0.1-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: twingraph
  description: Twin Graph Management

paths:
  /organizations/{organization_id}/import:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: importGraph
      tags:
        - twingraph
      description: Import a new version of a twin graph
      requestBody:
        description: the graph to import
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwinGraphImport'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TwinGraphImport'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwinGraphImportInfo'
  /organizations/{organization_id}/query:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: query
      tags:
        - twingraph
      description: Run a query on a graph instance
      requestBody:
        description: the query to run
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwinGraphQuery'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TwinGraphQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
  /delete/{graphId}:
    parameters:
      - name: graphId
        in: path
        description: the Graph Identifier
        required: true
        schema:
          type: string
    delete:
      operationId: delete
      tags:
        - twingraph
      description: Launch a mass delete job
      responses:
        '204':
          description: Successful response

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope

  schemas:
    TwinGraphQuery:
      type: object
      description: a twin graph query in cypher language
      properties:
        graphId:
          type: string
          description: Twin graph name
        version:
          type: string
          description: Twin graph version
        query:
          type: string
          description: the query in cypher language
    TwinGraphImport:
      type: object
      description: a twin graph import info
      properties:
        storagePath:
          type: string
          description: the storage path containing the files to import
        graphName:
          type: string
          description: the graph name to import to
        version:
          type: string
          description: |
            The version of the graph to import to. 
            When not set, the last version before import is upgraded by 1.
            When set, the targeted graph is replaced
      required:
        - storagePath
        - graphName
    TwinGraphImportInfo:
      type: object
      description: a twin graph query in cypher language
      properties:
        jobId:
          type: string
          description: the import job id
        graphName:
          type: string
          description: the twin graph name
