openapi: 3.0.3

info:
  title: Cosmo Tech Twin graph Manager API
  description: Cosmo Tech Twin graph Manager API
  version: 0.0.1-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: twingraph
  description: Twin Graph Management

paths:
  /create:
    post:
      operationId: create
      tags:
        - twingraph
      description: Launch a creation job
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
            application/yaml:
              schema:
                type: string
  /query:
    post:
      operationId: query
      tags:
        - twingraph
      description: Run a query on a graph instance
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
            application/yaml:
              schema:
                type: string
  /delete:
    delete:
      operationId: delete
      tags:
        - twingraph
      description: Launch a mass delete job
      responses:
        '204':
          description: Successful response

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope
