openapi: 3.0.3

info:
  title: Cosmo Tech Twin graph Manager API
  description: Cosmo Tech Twin graph Manager API
  version: 0.0.1-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: twingraph
  description: Twin Graph Management

paths:
  /organizations/{organization_id}/twingraph/import:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: importGraph
      tags:
        - twingraph
      description: Import a new version of a twin graph
      requestBody:
        description: the graph to import
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwinGraphImport'
            examples:
              RunJobImportWithADT:
                $ref: '#/components/examples/RunJobImportWithADT'
              RunJobImportWithStorage:
                $ref: '#/components/examples/RunJobImportWithStorage'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TwinGraphImport'
            examples:
              RunJobImportWithADT:
                $ref: '#/components/examples/RunJobImportWithADT'
              RunJobImportWithStorage:
                $ref: '#/components/examples/RunJobImportWithStorage'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwinGraphImportInfo'
  /organizations/{organization_id}/job/{job_id}/status:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: job_id
        in: path
        description: the job identifier
        required: true
        schema:
          type: string
    get:
      operationId: jobStatus
      tags:
        - twingraph
      description: Get the status of a job
      responses:
        '200':
          description: Successful response
          content:
            application/yaml:
              schema:
                type: string
            application/json:
              schema:
                type: string
  /organizations/{organization_id}/twingraphs:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: findAllTwingraphs
      tags:
        - twingraph
      description: Return the list of all graphs stored in the organization
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /organizations/{organization_id}/twingraph/{graph_id}/query:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: graph_id
        in: path
        description: the Graph Identifier
        required: true
        schema:
          type: string
    post:
      operationId: query
      tags:
        - twingraph
      description: Run a query on a graph instance
      requestBody:
        description: the query to run
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwinGraphQuery'
            examples:
              GetAllNodes:
                $ref: '#/components/examples/GetAllNodes'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TwinGraphQuery'
            examples:
              GetAllNodes:
                $ref: '#/components/examples/GetAllNodes'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
  /organizations/{organization_id}/twingraph/{graph_id}/bulk_query:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: graph_id
        in: path
        description: the Graph Identifier
        required: true
        schema:
          type: string
    post:
      operationId: bulkQuery
      tags:
        - twingraph
      description: Run a query on a graph instance and return the result as a zip file in async mode
      requestBody:
        description: the query to run
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwinGraphQuery'
            examples:
              GetAllNodes:
                $ref: '#/components/examples/GetAllNodes'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwinGraphHash'
  /organizations/{organization_id}/twingraph/bulk_query/download/{hash}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: hash
        in: path
        description: the Graph download identifier
        required: true
        schema:
          type: string
    get:
      operationId: downloadGraph
      tags:
        - twingraph
      description: Download a graph compressed in a zip file
      responses:
          '200':
            description: Successful response
            content:
              application/octet-stream:
                schema:
                  type: string
                  format: binary
  /organizations/{organization_id}/twingraph/{graph_id}/{modelType}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: graph_id
        in: path
        description: the Graph Identifier
        required: true
        schema:
          type: string
      - name: modelType
        in: path
        description: the entity model type
        required: true
        schema:
          type: string
          enum:
            - node
            - relationship
    post:
      operationId: createEntities
      tags:
        - twingraph
      description: create new entities in a graph instance
      requestBody:
        description: the entities to create
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GraphProperties'
            examples:
              QueryEntities:
                $ref: '#/components/examples/QueryEntities'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    get:
      operationId: getEntities
      tags:
        - twingraph
      description: get entities in a graph instance
      requestBody:
        description: the entities to get
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    patch:
      operationId: updateEntities
      tags:
        - twingraph
      description: update entities in a graph instance
      requestBody:
        description: the entities to update
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GraphProperties'
            examples:
              QueryEntities:
                $ref: '#/components/examples/QueryEntities'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    delete:
      operationId: deleteEntities
      tags:
        - twingraph
      description: delete entities in a graph instance
      requestBody:
        description: the entities to delete
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Successful response
  /organizations/{organization_id}/twingraph/{graph_id}/metadata:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: graph_id
        in: path
        description: the Graph Identifier
        required: true
        schema:
          type: string
    get:
      operationId: getGraphMetaData
      tags:
        - twingraph
      description: Return the metaData of the specified graph
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    patch:
      operationId: updateGraphMetaData
      tags:
        - twingraph
      description: Update the metaData of the specified graph
      requestBody:
        description: the metaData to update
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
            example:
              graphName: "My Awesome Graph"
              graphRotation: "2"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /organizations/{organization_id}/twingraph/{graph_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: graph_id
        in: path
        description: the Graph Identifier
        required: true
        schema:
          type: string
    delete:
      operationId: delete
      tags:
        - twingraph
      description: Launch a mass delete job
      responses:
        '204':
          description: Successful response
  /organizations/{organization_id}/twingraph/{graph_id}/bulk_update/{modelType}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: graph_id
        in: path
        description: the Graph Identifier
        required: true
        schema:
          type: string
      - name: modelType
        in: path
        description: the model type - 'node' or 'relationship'
        required: true
        schema:
          type: string
          enum:
            - node
            - relationship
    post:
      operationId: bulkUploadUpdate
      tags:
        - twingraph
      description: "Async bulk update by loading a CSV file on a graph instance "
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - query
                - file
              properties:
                query:
                  type: string
                  description: the query in cypher language
                file:
                  type: string
                  format: binary
#          application/octet-stream:
#            schema:
#              type: string
#              format: binary
      responses:
        "201":
          description: zip file uploaded
        "400":
          description: Bad request

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope

  schemas:
    TwinGraphQuery:
      type: object
      description: a twin graph query in cypher language
      properties:
        version:
          type: string
          description: Twin graph version
        query:
          type: string
          description: the query in cypher language
      required:
        - query
    TwinGraphHash:
      type: object
      description: a twin graph hash
      properties:
        hash:
          type: string
          description: the hash of the graph
    TwinGraphImport:
      type: object
      description: a twin graph import info
      properties:
        source:
          $ref: '#/components/schemas/SourceInfo'
        graphId:
          type: string
          description: the graph id to import to
        version:
          type: string
          description: |
            The version of the graph to import to. 
            When not set, the last version before import is upgraded by 1.
            When set, the targeted graph is replaced
      required:
        - source
        - graphId
    GraphProperties:
      type: object
      properties:
        type:
          type: string
          description: the type of the relationship
        source:
          type: string
          description: the source node of the relationship
        target:
          type: string
          description: the target node of the relationship
        name:
          type: string
          description: the name of the graph data object
        params:
          type: string
          description: the parameters of the graph data object
    SourceInfo:
      type: object
      description: Source job import information
      properties:
        name:
          type: string
          description: the source name containing the files to import
        location:
          type: string
          description: the source location containing the files to import
        path:
          type: string
          description: the source location containing the files to import
        type:
          type: string
          description: the source type containing the files to import
          enum:
            - ADT
            - Storage
      required:
        - location
        - type
    TwinGraphImportInfo:
      type: object
      description: a twin graph query in cypher language
      properties:
        jobId:
          type: string
          description: the import job id
        graphName:
          type: string
          description: the twin graph name
  examples:
    RunJobImportWithADT:
      summary: Run import job with ADT as source
      description: Run import job with ADT as source
      value:
        source:
          location: "https://my-adt-name-instance.api.weu.digitaltwins.azure.net"
          type: "ADT"
        graphId: "my-graph-id"
    RunJobImportWithStorage:
      summary: Run import job with Storage as source
      description: Run import job with Storage as source
      value:
        source:
          name: "my-storage-account-name"
          location: "my-container-name"
          path: "my-data-folder"
          type: "Storage"
        graphId: "my-graph-id"
    GetAllNodes:
      summary: Get all nodes query
      description: Get all nodes query (be careful if you want to query large graph)
      value:
        query: "MATCH(n) RETURN n"
    QueryEntities:
      summary: Run action on a graph relationship
      description: Run action on a graph relationship
      value:
        firstEntity:
          type: "entity-type"
          source: "source-node-name"
          target: "target-node-name"
          name: "entity-name"
          params: "param1: 'value1', param2: 'value2'"
        secondEntity:
          type: "entity-type"
          source: "source-node-name"
          target: "target-node-name"
          name: "entity-name"
          params: "param1: 'value1', param2: 'value2'"
