openapi: 3.0.3
info:
  title: Cosmo Tech Plaform API
  description: Cosmo Tech Platform API
  version: 0.0.1-SNAPSHOT
servers:
- url: https://api.azure.cosmo-platform.com
- url: http://localhost:4010
security:
- oAuth2AuthCode: []
tags:
- name: solution
  description: Solution Management
- name: platform
  description: Platform Management
- name: simulation
  description: Simulation Management
- name: workspace
  description: Workspace Management
- name: connector
  description: Connector Management
- name: organization
  description: Organization Management
- name: user
  description: User Management
- name: scenario
  description: Scenario Management
- name: dataset
  description: Dataset Management
paths:
  /organizations/{organization_id}/solutions:
    get:
      tags:
      - solution
      summary: List all Solutions
      operationId: findAllSolutions
      responses:
        "200":
          description: the solution details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Solution'
              examples:
                Two:
                  $ref: '#/components/examples/OneSolution'
    post:
      tags:
      - solution
      summary: Register a new solution
      operationId: createSolution
      requestBody:
        description: the Solution to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
            examples:
              Brewery:
                $ref: '#/components/examples/Brewery'
        required: true
      responses:
        "201":
          description: the solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/solutions/upload:
    post:
      tags:
      - solution
      summary: Upload and register a new solution
      operationId: upload
      requestBody:
        description: the Solution to upload and register
        content:
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              ADTConnector:
                $ref: '#/components/examples/Brewery'
        required: true
      responses:
        "201":
          description: the solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                ADTConnector:
                  $ref: '#/components/examples/Brewery'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/solutions/{solution_id}:
    get:
      tags:
      - solution
      summary: Get the details of a solution
      operationId: findSolutionById
      responses:
        "200":
          description: the Solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
        "404":
          description: the Solution specified is unknown or you don't have access
            to it
    delete:
      tags:
      - solution
      summary: Delete a solution
      operationId: deleteSolution
      responses:
        "200":
          description: the solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                Brewery:
                  $ref: '#/components/examples/Brewery'
        "400":
          description: Bad request
        "404":
          description: the Solution specified is unknown or you don't have access
            to it
    patch:
      tags:
      - solution
      summary: Update a solution
      operationId: updateSolution
      requestBody:
        description: the new Solution details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryUpdate'
        required: true
      responses:
        "200":
          description: the solution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryUpdated'
        "400":
          description: Bad request
        "404":
          description: the Solution specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: solution_id
      in: path
      description: the Solution identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /platform:
    get:
      tags:
      - platform
      summary: Get the details of the platform
      operationId: getPlatform
      responses:
        "200":
          description: the Platform details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
              examples:
                CosmoTechPlatform:
                  $ref: '#/components/examples/CosmoTechPlatform'
    post:
      tags:
      - platform
      summary: Create a new platform
      operationId: createPlatform
      requestBody:
        description: the Platform to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Platform'
            examples:
              CosmoTechPlatform:
                $ref: '#/components/examples/CosmoTechPlatform'
        required: true
      responses:
        "201":
          description: the platform details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
              examples:
                CosmoTechPlatform:
                  $ref: '#/components/examples/CosmoTechPlatform'
        "400":
          description: Bad request
    patch:
      tags:
      - platform
      summary: Update a platform
      operationId: updatePlatform
      requestBody:
        description: the new Platform details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Platform'
            examples:
              CosmoTechPlatformUpdate:
                $ref: '#/components/examples/CosmoTechPlatformUpdate'
        required: true
      responses:
        "200":
          description: the platform details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
              examples:
                CosmoTechPlatformUpdated:
                  $ref: '#/components/examples/CosmoTechPlatformUpdated'
        "400":
          description: Bad request
        "404":
          description: the Platform specified is unknown or you don't have access
            to it
  /organizations/{organization_id}/simulations/search:
    post:
      tags:
      - simulation
      summary: Search Simulations
      operationId: searchSimulations
      requestBody:
        description: the Simulation search parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationSearch'
            examples:
              BrewerySearch:
                $ref: '#/components/examples/BrewerySearch'
        required: true
      responses:
        "200":
          description: the simulation details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimulationBase'
              examples:
                OneSimulation:
                  $ref: '#/components/examples/OneSimulation'
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/simulations/start:
    post:
      tags:
      - simulation
      summary: Start a new simulation for a Scenario
      operationId: startSimulationScenario
      requestBody:
        description: the Scenario information to start
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationStartScenario'
            examples:
              SimulationStartScenario:
                $ref: '#/components/examples/BrewerySimulationStartScenario'
        required: true
      responses:
        "202":
          description: the simulation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulation'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulation'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/simulations/startsolution:
    post:
      tags:
      - simulation
      summary: Start a new simulation for a Solution Run Template
      operationId: startSimulationSolution
      requestBody:
        description: the Solution Run Template information to start
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationStartSolution'
            examples:
              SimulationStartSolution:
                $ref: '#/components/examples/BrewerySimulationStartSolution'
        required: true
      responses:
        "202":
          description: the simulation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulation'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationSolution'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/simulations/startcontainers:
    post:
      tags:
      - simulation
      summary: Start a new simulation with raw containers definition
      operationId: startSimulationContainers
      requestBody:
        description: the raw containers definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationStartContainers'
            examples:
              SimulationStartContainers:
                $ref: '#/components/examples/BrewerySimulationStartContainers'
        required: true
      responses:
        "202":
          description: the simulation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulation'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationContainers'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/simulations/{simulation_id}:
    get:
      tags:
      - simulation
      summary: Get the details of a simulation
      operationId: findSimulationById
      responses:
        "200":
          description: the Simulation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulation'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulation'
        "404":
          description: the Simulation specified is unknown or you don't have access
            to it
    delete:
      tags:
      - simulation
      summary: Delete a simulation
      operationId: deleteSimulation
      responses:
        "200":
          description: the simulation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulation'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulation'
        "400":
          description: Bad request
        "404":
          description: the Simulation specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: simulation_id
      in: path
      description: the Simulation identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/simulations/{simulation_id}/logs/search:
    post:
      tags:
      - simulation
      summary: Search the logs of a simulation
      operationId: searchSimulationLogs
      requestBody:
        description: the options to search logs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationLogsOptions'
            examples:
              SimulationLogsOptions:
                $ref: '#/components/examples/BrewerySimulationLogsOptions'
        required: true
      responses:
        "200":
          description: the Simulation logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationLogs'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationLogs'
        "400":
          description: Bad request
        "404":
          description: the Simulation specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: simulation_id
      in: path
      description: the Simulation identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/simulations:
    get:
      tags:
      - simulation
      summary: get the list of Simulations for the Workspace
      operationId: getWorkspaceSimulations
      responses:
        "200":
          description: the simulation details list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimulationBase'
              examples:
                OneSimulation:
                  $ref: '#/components/examples/OneSimulation'
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/simulations:
    get:
      tags:
      - simulation
      summary: get the list of Simulations for the Scenario
      operationId: getScenarioSimulations
      responses:
        "200":
          description: the simulation details list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimulationBase'
              examples:
                OneSimulation:
                  $ref: '#/components/examples/OneSimulation'
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: scenario_id
      in: path
      description: the Scenario identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/simulations/{simulation_id}:
    get:
      tags:
      - simulation
      summary: get the Simulation for the Scenario
      operationId: getScenarioSimulation
      responses:
        "200":
          description: the simulation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulation'
              examples:
                BrewerySimulation:
                  $ref: '#/components/examples/BrewerySimulation'
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: scenario_id
      in: path
      description: the Scenario identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: simulation_id
      in: path
      description: the Simulation identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/simulations/{simulation_id}/logs:
    get:
      tags:
      - simulation
      summary: get the logs for the Simulation
      operationId: getScenarioSimulationLogs
      responses:
        "200":
          description: the simulation logs details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationLogs'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationLogs'
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: scenario_id
      in: path
      description: the Scenario identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: simulation_id
      in: path
      description: the Simulation identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/run:
    post:
      tags:
      - simulation
      summary: run a Simulation for the Scenario
      operationId: runScenario
      responses:
        "200":
          description: the simulation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationBase'
              examples:
                Simulation:
                  $ref: '#/components/examples/BrewerySimulationBase'
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: scenario_id
      in: path
      description: the Scenario identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces:
    get:
      tags:
      - workspace
      summary: List all Workspaces
      operationId: findAllWorkspaces
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
              examples:
                OneWorkspace:
                  $ref: '#/components/examples/OneWorkspace'
    post:
      tags:
      - workspace
      summary: Create a new workspace
      operationId: createWorkspace
      requestBody:
        description: the Workspace to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              Workspace:
                $ref: '#/components/examples/BreweryWorkspaceCreateIn'
        required: true
      responses:
        "201":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}:
    get:
      tags:
      - workspace
      summary: Get the details of an workspace
      operationId: findWorkspaceById
      responses:
        "200":
          description: the Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
    delete:
      tags:
      - workspace
      summary: Delete a workspace
      operationId: deleteWorkspace
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
    patch:
      tags:
      - workspace
      summary: Update a workspace
      operationId: updateWorkspace
      requestBody:
        description: the new Workspace details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceUpdate'
        required: true
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryWorkspaceUpdated'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/files:
    get:
      tags:
      - workspace
      summary: List all Workspace files
      operationId: findAllWorkspaceFiles
      responses:
        "200":
          description: the workspace files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceFile'
              examples:
                WorkspaceFiles:
                  $ref: '#/components/examples/WorkspaceFiles'
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
    post:
      tags:
      - workspace
      summary: Upload a file for the Workspace
      operationId: uploadWorkspaceFile
      requestBody:
        description: the file to upload
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileName:
                  type: string
                  format: binary
        required: true
      responses:
        "201":
          description: the file resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceFile'
              examples:
                BreweryWorkspaceFile:
                  $ref: '#/components/examples/BreweryWorkspaceFile'
        "400":
          description: Bad request
    delete:
      tags:
      - workspace
      summary: Delete a workspace file
      operationId: deleteWorkspaceFile
      requestBody:
        description: the file to upload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceFile'
            examples:
              WorkspaceFileToDeleteExample:
                $ref: '#/components/examples/BreweryWorkspaceFile'
        required: true
      responses:
        "200":
          description: the file resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceFile'
              examples:
                BreweryWorkspaceFile:
                  $ref: '#/components/examples/BreweryWorkspaceFile'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /connectors:
    get:
      tags:
      - connector
      summary: List all Connectors
      operationId: findAllConnectors
      responses:
        "200":
          description: the connector details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Connector'
              examples:
                OneConnector:
                  $ref: '#/components/examples/OneConnector'
    post:
      tags:
      - connector
      summary: Register a new connector
      operationId: registerConnector
      requestBody:
        description: the Connector to register
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
            examples:
              ADTConnector:
                $ref: '#/components/examples/ADTConnector'
        required: true
      responses:
        "201":
          description: the connector details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
        "400":
          description: Bad request
  /connectors/upload:
    post:
      tags:
      - connector
      summary: Upload and register a new connector
      operationId: uploadConnector
      requestBody:
        description: the Connector to upload and register
        content:
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              ADTConnector:
                $ref: '#/components/examples/ADTConnector'
        required: true
      responses:
        "201":
          description: the connector details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
        "400":
          description: Bad request
  /connectors/{connector_id}:
    get:
      tags:
      - connector
      summary: Get the details of an connector
      operationId: findConnectorById
      responses:
        "200":
          description: the Connector details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
        "404":
          description: the Connector specified is unknown or you don't have access
            to it
    delete:
      tags:
      - connector
      summary: Unregister an connector
      operationId: unregisterConnector
      responses:
        "200":
          description: the connector details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
              examples:
                ADTConnector:
                  $ref: '#/components/examples/ADTConnector'
        "400":
          description: Bad request
        "404":
          description: the Connector specified is unknown or you don't have access
            to it
    parameters:
    - name: connector_id
      in: path
      description: the Connector identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations:
    get:
      tags:
      - organization
      summary: List all Organizations
      operationId: findAllOrganizations
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
              examples:
                TwoOrganizations:
                  $ref: '#/components/examples/TwoOrganizations'
    post:
      tags:
      - organization
      summary: Register a new organization
      operationId: registerOrganization
      requestBody:
        description: the Organization to register
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              NewOrganizationIn:
                $ref: '#/components/examples/NewOrganizationIn'
        required: true
      responses:
        "201":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "400":
          description: Bad request
  /organizations/{organization_id}:
    get:
      tags:
      - organization
      summary: Get the details of an organization
      operationId: findOrganizationById
      responses:
        "200":
          description: the Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "404":
          description: the Organization specified is unknown or you don't have access
            to it
    delete:
      tags:
      - organization
      summary: Unregister an organization
      operationId: unregisterOrganization
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access
            to it
    patch:
      tags:
      - organization
      summary: Update an organization
      operationId: updateOrganization
      requestBody:
        description: the new Organization details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              ChangeName:
                summary: Change Name of Organization
                description: Change the name of Organization 1 to CosmoTech Digital
                  Twins Engine
                value:
                  name: CosmoTech Digital Twins Engine
              AddUser:
                summary: Add a user
                description: Add the user Charles to organization Cosmo Tech
                value:
                  users:
                  - name: Charles
                    roles:
                    - Developer
              RenameUser:
                summary: Rename a user
                description: Rename the user Charles to Xavier
                value:
                  users:
                  - id: "3"
                    name: Xavier
              RemoveUser:
                summary: Remove a user
                description: Remove the user Charles from organization Cosmo Tech
                value:
                  users:
                  - id: "1"
                    name: Bob
                    roles:
                    - Admin
                  - id: "2"
                    name: Alice
                    roles:
                    - User
        required: true
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoThreeUsers:
                  $ref: '#/components/examples/CosmoThreeUsers'
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /users:
    get:
      tags:
      - user
      summary: List all Users
      operationId: findAllUsers
      responses:
        "200":
          description: the user details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
              examples:
                Two:
                  $ref: '#/components/examples/TwoUsers'
    post:
      tags:
      - user
      summary: Register a new user
      operationId: registerUser
      requestBody:
        description: the User to register
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples:
              BobCreateIn:
                $ref: '#/components/examples/BobCreateIn'
        required: true
      responses:
        "201":
          description: the user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Bob:
                  $ref: '#/components/examples/Bob'
        "400":
          description: Bad request
  /users/{user_id}:
    get:
      tags:
      - user
      summary: Get the details of an user
      operationId: findUserById
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetails'
        "404":
          description: the User specified is unknown or you don't have access to it
    delete:
      tags:
      - user
      summary: Unregister an user
      operationId: unregisterUser
      responses:
        "200":
          description: the user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Bob:
                  $ref: '#/components/examples/Bob'
        "400":
          description: Bad request
        "404":
          description: the User specified is unknown or you don't have access to it
    patch:
      tags:
      - user
      summary: Update an user
      operationId: updateUser
      requestBody:
        description: the new User details. Organization membership is handled in Organzation
          service.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples:
              BobyUpdateIn:
                $ref: '#/components/examples/BobyUpdateIn'
        required: true
      responses:
        "200":
          description: the user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                BobyUpdated:
                  $ref: '#/components/examples/BobyUpdated'
        "400":
          description: Bad request
        "404":
          description: the User specified is unknown or you don't have access to it
    parameters:
    - name: user_id
      in: path
      description: the User identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /users/me:
    get:
      tags:
      - user
      summary: Get the details of an user
      operationId: getCurrentUser
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetails'
        "404":
          description: the User specified is unknown or you don't have access to it
  /organizations/{organization_id}/me:
    get:
      tags:
      - user
      summary: Get the details of an user with roles for an Organization
      operationId: getOrganizationCurrentUser
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetailsOrganization'
        "404":
          description: the User specified is unknown or you don't have access to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/me:
    get:
      tags:
      - user
      summary: Get the details of an user with roles for a Workspace
      operationId: getWorkspaceCurrentUser
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
              examples:
                Bob:
                  $ref: '#/components/examples/BobDetailsWorkspace'
        "404":
          description: the User specified is unknown or you don't have access to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /oauth2/authorize:
    get:
      tags:
      - user
      summary: Authorize an User with OAuth2. Delegated to configured OAuth2 service
      operationId: authorizeUser
      responses:
        "302":
          description: Redirection response
          headers:
            Location:
              style: simple
              explode: false
              schema:
                type: string
              examples:
                AzureAD:
                  $ref: '#/components/examples/AzureADRedirect'
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios:
    get:
      tags:
      - scenario
      summary: List all Scenarios
      operationId: findAllScenarios
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
              examples:
                ThreeScenario:
                  $ref: '#/components/examples/ThreeScenarios'
    post:
      tags:
      - scenario
      summary: Create a new scenario
      operationId: createScenario
      requestBody:
        description: the Scenario to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              Scenario:
                $ref: '#/components/examples/BreweryScenarioIn'
        required: true
      responses:
        "201":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/tree:
    get:
      tags:
      - scenario
      summary: Get the Scenarios Tree
      operationId: getScenariosTree
      responses:
        "200":
          description: the scenario tree
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScenarioBase'
              examples:
                ScenariosTree:
                  $ref: '#/components/examples/ScenariosTree'
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}:
    get:
      tags:
      - scenario
      summary: Get the details of an scenario
      operationId: findScenarioById
      responses:
        "200":
          description: the Scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
    delete:
      tags:
      - scenario
      summary: Delete a scenario
      operationId: deleteScenario
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                Scenario:
                  $ref: '#/components/examples/BreweryScenario'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
    patch:
      tags:
      - scenario
      summary: Update a scenario
      operationId: updateScenario
      requestBody:
        description: the new Scenario details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scenario'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryScenarioUpdate'
        required: true
      responses:
        "200":
          description: the scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryScenarioUpdated'
        "400":
          description: Bad request
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: scenario_id
      in: path
      description: the Scenario identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/workspaces/{workspace_id}/scenarios/{scenario_id}/compare/{compared_scenario_id}:
    get:
      tags:
      - scenario
      summary: Compare the Scenario with another one and returns the difference for
        parameters values
      operationId: compareScenarios
      responses:
        "200":
          description: the comparison result for parameters values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioComparisonResult'
              examples:
                BreweryScenarioComparisonResult:
                  $ref: '#/components/examples/BreweryScenarioComparison'
        "404":
          description: the Scenario specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: workspace_id
      in: path
      description: the Workspace identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: scenario_id
      in: path
      description: the Scenario identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: compared_scenario_id
      in: path
      description: the Scenario identifier to compare to
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets:
    get:
      tags:
      - dataset
      summary: List all Datasets
      operationId: findAllDatasets
      responses:
        "200":
          description: the dataset details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
              examples:
                Two:
                  $ref: '#/components/examples/TwoDatasets'
    post:
      tags:
      - dataset
      summary: Create a new dataset
      operationId: createDataset
      requestBody:
        description: the Dataset to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
            examples:
              BreweryADT:
                $ref: '#/components/examples/BreweryADT'
        required: true
      responses:
        "201":
          description: the dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryADT'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets/copy:
    post:
      tags:
      - dataset
      summary: Copy a Dataset to another Dataset. Source must have a read capable
        connector and Target a write capable connector.
      operationId: copyDataset
      requestBody:
        description: the Dataset copy parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetCopyParameters'
            examples:
              BreweryDatasetCopyParameters:
                $ref: '#/components/examples/BreweryDatasetCopyParameters'
        required: true
      responses:
        "200":
          description: the Dataset copy operation parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetCopyParameters'
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryDatasetCopyParameters'
        "400":
          description: Bad request
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets/{dataset_id}:
    get:
      tags:
      - dataset
      summary: Get the details of a dataset
      operationId: findDatasetById
      responses:
        "200":
          description: the Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryADT'
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
    delete:
      tags:
      - dataset
      summary: Delete a dataset
      operationId: deleteDataset
      responses:
        "200":
          description: the dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
              examples:
                BreweryADT:
                  $ref: '#/components/examples/BreweryADT'
        "400":
          description: Bad request
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
    patch:
      tags:
      - dataset
      summary: Update a dataset
      operationId: updateDataset
      requestBody:
        description: the new Dataset details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
            examples:
              BreweryADTUpdate:
                $ref: '#/components/examples/BreweryADTUpdate'
        required: true
      responses:
        "200":
          description: the dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
              examples:
                BreweryADTUpdated:
                  $ref: '#/components/examples/BreweryADTUpdated'
        "400":
          description: Bad request
        "404":
          description: the Dataset specified is unknown or you don't have access to
            it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: dataset_id
      in: path
      description: the Dataset identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets/validators:
    get:
      tags:
      - validator
      summary: List all Validators
      operationId: findAllValidators
      responses:
        "200":
          description: the validator details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Validator'
              examples:
                Two:
                  $ref: '#/components/examples/OneValidator'
    post:
      tags:
      - validator
      summary: Register a new validator
      operationId: createValidator
      requestBody:
        description: the Validator to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Validator'
            examples:
              BreweryADTValidator:
                $ref: '#/components/examples/BreweryADTValidator'
        required: true
      responses:
        "201":
          description: the validator details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validator'
              examples:
                BreweryADTValidator:
                  $ref: '#/components/examples/BreweryADTValidator'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets/validators/{validator_id}:
    get:
      tags:
      - validator
      summary: Get the details of a validator
      operationId: findValidatorById
      responses:
        "200":
          description: the Validator details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validator'
              examples:
                BreweryADTValidator:
                  $ref: '#/components/examples/BreweryADTValidator'
        "404":
          description: the Validator specified is unknown or you don't have access
            to it
    delete:
      tags:
      - validator
      summary: Delete a validator
      operationId: deleteValidator
      responses:
        "200":
          description: the validator details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validator'
              examples:
                BreweryADTValidator:
                  $ref: '#/components/examples/BreweryADTValidator'
        "400":
          description: Bad request
        "404":
          description: the Validator specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: validator_id
      in: path
      description: the Validator identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets/validators/{validator_id}/run:
    post:
      tags:
      - validator
      summary: Run a Validator
      operationId: runValidator
      requestBody:
        description: the Validator to run
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatorRun'
            examples:
              BreweryADTRunValidator:
                $ref: '#/components/examples/BreweryADTRunValidator'
        required: true
      responses:
        "201":
          description: the validator run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorRun'
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: validator_id
      in: path
      description: the ValidatorRun identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets/validators/{validator_id}/history:
    get:
      tags:
      - validator
      summary: List all Validator Runs
      operationId: findAllValidatorRuns
      responses:
        "200":
          description: the validator run details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValidatorRun'
              examples:
                Two:
                  $ref: '#/components/examples/ThreeValidatorRun'
    post:
      tags:
      - validator
      summary: Register a new validator run
      operationId: createValidatorRun
      requestBody:
        description: the Validator Run to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatorRun'
            examples:
              BreweryADTValidatorRun:
                $ref: '#/components/examples/BreweryADTValidatorRun'
        required: true
      responses:
        "201":
          description: the validator run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorRun'
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
        "400":
          description: Bad request
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: validator_id
      in: path
      description: the ValidatorRun identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /organizations/{organization_id}/datasets/validators/{validator_id}/history/{validatorrun_id}:
    get:
      tags:
      - validator
      summary: Get the details of a validator run
      operationId: findValidatorRunById
      responses:
        "200":
          description: the Validator Run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorRun'
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
        "404":
          description: the ValidatorRun specified is unknown or you don't have access
            to it
    delete:
      tags:
      - validator
      summary: Delete a validator run
      operationId: deleteValidatorRun
      responses:
        "200":
          description: the validator run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorRun'
              examples:
                BreweryADTValidatorRun:
                  $ref: '#/components/examples/BreweryADTValidatorRun'
        "400":
          description: Bad request
        "404":
          description: the ValidatorRun specified is unknown or you don't have access
            to it
    parameters:
    - name: organization_id
      in: path
      description: the Organization identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: validator_id
      in: path
      description: the Validator identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
    - name: validatorrun_id
      in: path
      description: the Validator Run identifier
      required: true
      style: simple
      explode: false
      schema:
        type: string
components:
  schemas:
    Connector:
      required:
      - connectorKey
      - ioTypes
      - name
      - repository
      - version
      type: object
      properties:
        id:
          type: string
          description: the Connector version unique identifier
          readOnly: true
        connectorKey:
          type: string
          description: the Connector key which group Connector versions
        name:
          type: string
          description: the Connector name
        description:
          type: string
          description: the Connector description
        repository:
          type: string
          description: the registry repository containing the image
        version:
          type: string
          description: the Connector version MAJOR.MINOR.PATCH. Must be aligned with
            an existing repository tag
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        ownerId:
          type: string
          description: the user id which own this connector version
          readOnly: true
        url:
          type: string
          description: an optional URL link to connector page
        ioTypes:
          type: array
          items:
            type: string
            description: The read and write capabilities of connector
            enum:
            - read
            - write
        parameterGroups:
          type: array
          description: the list of connector parameters groups
          items:
            $ref: '#/components/schemas/ConnectorParameterGroup'
      description: a version of a Connector
    ConnectorParameter:
      required:
      - id
      - label
      - valueType
      type: object
      properties:
        id:
          type: string
          description: the connector parameter id
        label:
          type: string
          description: the list of translated parameter group labels
        valueType:
          type: string
          description: the parameter value type
        options:
          type: array
          description: the list of available and valid values for the parameter
          items:
            type: string
        default:
          type: string
          description: the default value
        envVar:
          type: string
          description: associated environment variable in connector image
      description: a connector parameter
    ConnectorParameterGroup:
      required:
      - id
      - label
      - parameters
      type: object
      properties:
        id:
          type: string
          description: the connector parameter group id
        label:
          type: string
          description: the list of translated parameter group labels
        parameters:
          type: array
          description: the list of parameters
          items:
            $ref: '#/components/schemas/ConnectorParameter'
      description: a connector parameters group
    Dataset:
      required:
      - connector
      - name
      type: object
      properties:
        id:
          type: string
          description: the Dataset unique identifier
          readOnly: true
        name:
          type: string
          description: the Dataset name
        description:
          type: string
          description: the Dataset description
        ownerId:
          type: string
          description: the User id which own this Dataset
          readOnly: true
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        connector:
          $ref: '#/components/schemas/DatasetConnector'
        fragmentsIds:
          type: array
          description: the list of other Datasets ids to compose as fragments
          items:
            type: string
        validatorId:
          type: string
          description: the validator id
        compatibility:
          type: array
          description: the list of compatible Solutions versions
          items:
            $ref: '#/components/schemas/DatasetCompatibility'
      description: a Dataset
    DatasetCompatibility:
      required:
      - solutionKey
      type: object
      properties:
        solutionKey:
          type: string
          description: the Solution key which group Solution versions
        minimumVersion:
          type: string
          description: the Solution minimum version compatibility (version included)
        maximumVersion:
          type: string
          description: the Solution maximum version compatibility (version included)
      description: a Dataset compatibility constraint to a Solution version open range
    DatasetConnector:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: the Connector id
        parametersValues:
          type: object
          additionalProperties: true
      description: a Connector setup
    DatasetCopyParameters:
      type: object
      properties:
        sourceId:
          type: string
          description: the source Dataset id
        targetId:
          type: string
          description: the target Dataset id
        options:
          type: object
          additionalProperties: true
          description: freeform options to path to connectors
      description: the Dataset Copy Parameters
    Organization:
      required:
      - name
      type: object
      properties:
        id:
          type: string
          description: the Organization unique identifier
          readOnly: true
        name:
          type: string
          description: the Organization name
        ownerId:
          type: string
          description: the Owner User Id
          readOnly: true
        users:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUser'
        services:
          $ref: '#/components/schemas/OrganizationServices'
      description: an Organization
    OrganizationService:
      type: object
      properties:
        cloudService:
          type: string
          description: the cloud service name
        baseUri:
          type: string
          description: the platform base uri for this service
        platformService:
          type: string
          description: the Platform service associated to the resource
        resourceUri:
          type: string
          description: the Organization specific uri for this service resource
        credentials:
          type: object
          additionalProperties: true
          description: a freeform credentials object. Structure depends on service
      description: a cloud service resource
    OrganizationServices:
      type: object
      properties:
        tenantCredentials:
          type: object
          additionalProperties: true
          description: a freeform credentials object for the Organization tenant.
            Structure depends on cloud provider
        storage:
          $ref: '#/components/schemas/OrganizationService'
        solutionsContainerRegistry:
          $ref: '#/components/schemas/OrganizationService'
      description: the cloud service resources of the Organization
    OrganizationUser:
      required:
      - name
      - roles
      type: object
      properties:
        id:
          type: string
          description: "the User unique identifier, in response"
          readOnly: true
        name:
          type: string
          description: the User name
        organizationId:
          type: string
          description: the Organization Id context
          readOnly: true
        roles:
          type: array
          description: the User's roles for the Organization
          items:
            type: string
            enum:
            - Admin
            - User
            - Viewer
            - Developer
      description: a User
    Platform:
      required:
      - name
      - ownerId
      - services
      - version
      type: object
      properties:
        name:
          type: string
          description: the Platform name
        description:
          type: string
          description: the Platform description
        version:
          type: string
          description: the Platform version MAJOR.MINOR.PATCH.
        ownerId:
          type: string
          description: the Platform owner Id
        apiHost:
          type: string
          description: Platform host name
        webAppUrl:
          type: string
          description: the Web Application Portal to use the Platform
        services:
          $ref: '#/components/schemas/PlatformServices'
      description: a Platform
    PlatformService:
      type: object
      properties:
        cloudService:
          type: string
          description: the cloud service name
          readOnly: true
        baseUri:
          type: string
          description: the platform base uri for this service
          readOnly: true
        resourceUri:
          type: string
          description: the workspace specific uri for this service resource
        credentials:
          type: object
          additionalProperties: true
          description: a freeform credentials object. Structure depends on service
        options:
          type: object
          additionalProperties: true
          description: the service specific options
      description: a Cloud Service resource
    PlatformServices:
      required:
      - provider
      type: object
      properties:
        provider:
          type: string
          description: the Cloud Provider for the services
          enum:
          - Azure
        credentials:
          type: object
          additionalProperties: true
          description: a freeform credentials object for the Platform. Structure depends
            on cloud provider
        storage:
          $ref: '#/components/schemas/PlatformService'
        coreContainerRegistry:
          $ref: '#/components/schemas/PlatformService'
        solutionsContainerRegistry:
          $ref: '#/components/schemas/PlatformService'
        eventBusCluster:
          $ref: '#/components/schemas/PlatformService'
        dataWarehouseCluster:
          $ref: '#/components/schemas/PlatformService'
        databaseCluster:
          $ref: '#/components/schemas/PlatformService'
        keyVault:
          $ref: '#/components/schemas/PlatformService'
        kubernetesCluster:
          $ref: '#/components/schemas/PlatformService'
        directory:
          $ref: '#/components/schemas/PlatformService'
        monitoring:
          $ref: '#/components/schemas/PlatformService'
        analytic:
          $ref: '#/components/schemas/PlatformService'
      description: the list of Platform services
    RunTemplate:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: the Solution Run Template id
        name:
          type: string
          description: the Run Template name
        description:
          type: string
          description: the Run Template description
        isStandardSimulator:
          type: boolean
          description: whether or not the Run Template use the main standard Simulator
            directly. False if there is a Custom Simulator set
          readOnly: true
        simulation:
          type: string
          description: the simulation name. This information is send to the Simulator
        tags:
          type: array
          description: the list of Run Template tags
          items:
            type: string
        computeSize:
          type: string
          description: the compute size needed for this Run Template. Standard sizes
            are basic and highcpu. Default is basic
        parametersHandlerResource:
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        datasetValidatorResource:
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        customSimulatorResource:
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        datasetSchemaResource:
          $ref: '#/components/schemas/RunTemplateResourceStorage'
        parameterGroups:
          type: array
          description: the list of parameters groups for the Run Template
          items:
            $ref: '#/components/schemas/RunTemplateParameterGroup'
      description: a Solution Run Template
    RunTemplateParameter:
      required:
      - id
      - labels
      - varType
      type: object
      properties:
        id:
          type: string
          description: the Parameter id
        labels:
          $ref: '#/components/schemas/TranslatedLabels'
        varType:
          type: string
          description: "the variable type for the parameter. Basic types or special\
            \ type $DATASETID, $DATAPATH"
        order:
          type: integer
          description: the Parameter Group order
        options:
          type: object
          additionalProperties: true
          description: freeform options
      description: a Run Template Parameter
    RunTemplateParameterGroup:
      required:
      - id
      - labels
      - parameters
      type: object
      properties:
        id:
          type: string
          description: the Parameter Group id
        labels:
          $ref: '#/components/schemas/TranslatedLabels'
        order:
          type: integer
          description: the Parameter Group order
        isTable:
          type: boolean
          description: does the group define a table
        options:
          type: object
          additionalProperties: true
          description: freeform options
        parentId:
          type: string
          description: the Run Template Group parent Id
        parameters:
          type: array
          description: a list of Run Template Parameters
          items:
            $ref: '#/components/schemas/RunTemplateParameter'
      description: a Parameter Group for a Run Template
    RunTemplateParameterValue:
      required:
      - parameterId
      - value
      type: object
      properties:
        parameterId:
          type: string
          description: the parameter Id
        varType:
          type: string
          description: the parameter value type
          readOnly: true
        value:
          type: string
          description: the parameter value
      description: the value of Analysis parameter for a Scenario for this Simulation
    RunTemplateResourceStorage:
      required:
      - resourcePath
      - storageType
      type: object
      properties:
        storageType:
          type: string
          description: "the storage type. Use ${CSM_PROJECT_PATH} or ${CSM_STORAGE_SIMULATOR}\
            \ behind the scene"
          enum:
          - local
          - cloud
          - customUri
        resourcePath:
          type: string
          description: the resource path
        customUri:
          type: string
          description: a custom Uri to provide the resource in resourcePath
    Scenario:
      allOf:
      - $ref: '#/components/schemas/ScenarioBase'
      - type: object
        properties:
          solutionName:
            type: string
            description: the Solution name
            readOnly: true
          runTemplateName:
            type: string
            description: the Solution Run Template name associated with this Scenario
            readOnly: true
          datasetList:
            type: array
            description: the list of Dataset Id associated to this Scenario Run Template
            items:
              type: string
          parametersValues:
            type: array
            description: the list of Solution Run Template parameters values
            items:
              $ref: '#/components/schemas/ScenarioRunTemplateParameterValue'
          sendInputToDataWarehouse:
            type: boolean
            description: whether or not the Dataset values and the input parameters
              values are send to the DataWarehouse prior to Simulation Run
        description: a Scenario with detailed information
    ScenarioBase:
      required:
      - name
      type: object
      properties:
        id:
          type: string
          description: the Scenario unique identifier
          readOnly: true
        name:
          type: string
          description: the Scenario name
        description:
          type: string
          description: the Scenario description
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        parentId:
          type: string
          description: the Scenario parent id
        ownerId:
          type: string
          description: the user id which own this Scenario
          readOnly: true
        solutionId:
          type: string
          description: the Solution Id associated with this Scenario
          readOnly: true
        runTemplateId:
          type: string
          description: the Solution Run Template Id associated with this Scenario
        users:
          type: array
          description: the list of users Id with their role
          items:
            $ref: '#/components/schemas/ScenarioUser'
      description: a Scenario with base information
    ScenarioChangedParameterValue:
      type: object
      properties:
        parameterId:
          type: string
          description: the parameter id the values refer to
          readOnly: true
        varType:
          type: string
          description: the parameter value type
          readOnly: true
        value:
          type: string
          description: the parameter value for the reference Scenario
          readOnly: true
        comparedValue:
          type: string
          description: the parameter value for the compared Scenario
          readOnly: true
      description: the difference between the values of a parameter
    ScenarioComparisonResult:
      type: object
      properties:
        scenarioId:
          type: string
          description: the Scenario Id which is the reference for the comparison
          readOnly: true
        comparedScenarioId:
          type: string
          description: the Scenario Id the reference Scenario is compared to
          readOnly: true
        changedValues:
          type: array
          description: the list of changed values for parameters
          readOnly: true
          items:
            $ref: '#/components/schemas/ScenarioChangedParameterValue'
      description: the result of the comparison of two scenarios
    ScenarioRunTemplateParameterValue:
      required:
      - parameterId
      - value
      type: object
      properties:
        parameterId:
          type: string
          description: the parameter Id
        varType:
          type: string
          description: the parameter value type
          readOnly: true
        value:
          type: string
          description: the parameter value
        isInherited:
          type: string
          description: whether or not the value is inherited from parent or has been
            changed
      description: the value of a Solution Run Template parameter for a Scenario
    ScenarioUser:
      required:
      - id
      - roles
      type: object
      properties:
        id:
          type: string
          description: the User id
        name:
          type: string
          description: the User name
          readOnly: true
        roles:
          type: string
          description: the User role
          enum:
          - Viewer
          - Editor
      description: a Scenario user with roles
    Simulation:
      allOf:
      - $ref: '#/components/schemas/SimulationBase'
      - type: object
        properties:
          datasetList:
            type: array
            description: the list of Dataset Id associated to this Analysis
            readOnly: true
            items:
              type: string
          parametersValues:
            type: array
            description: the list of Run Template parameters values
            readOnly: true
            items:
              $ref: '#/components/schemas/RunTemplateParameterValue'
          sendInputToDataWarehouse:
            type: boolean
            description: whether or not the Dataset values and the input parameters
              values are send to the DataWarehouse prior to Simulation Run
            readOnly: true
          dataWarehouseDB:
            type: string
            description: the DataWarehouse database name to send data if sendInputToDataWarehouse
              is set
          resultsEventBusResourceUri:
            type: string
            description: the event bus which receive Workspace Simulation results
              messages. Message won't be send if this is not set
          simulationEventBusResourceUri:
            type: string
            description: the event bus which receive Workspace Simulation events messages.
              Message won't be send if this is not set
          nodeLabel:
            type: string
            description: the node label request
            readOnly: true
          initContainers:
            type: array
            description: the list of init containers
            readOnly: true
            items:
              $ref: '#/components/schemas/SimulationContainers'
          mainContainer:
            $ref: '#/components/schemas/SimulationContainers'
        description: a Simulation
    SimulationBase:
      type: object
      properties:
        id:
          type: string
          description: the Simulation
          readOnly: true
        jobId:
          type: string
          description: the Platform compute cluster Job Id
          readOnly: true
        ownerId:
          type: string
          description: the user id which own this simulation
          readOnly: true
        workspaceId:
          type: string
          description: the Workspace Id
          readOnly: true
        workspaceName:
          type: string
          description: the Workspace name
          readOnly: true
        scenarioId:
          type: string
          description: the Scenario Id
          readOnly: true
        scenarioName:
          type: string
          description: the Scenario name
          readOnly: true
        solutionId:
          type: string
          description: the Solution Id
          readOnly: true
        solutionName:
          type: string
          description: the Solution name
          readOnly: true
        solutionVersion:
          type: string
          description: the Solution version
          readOnly: true
        runTemplateId:
          type: string
          description: the Solution Run Template id
          readOnly: true
        runTemplateName:
          type: string
          description: the Run Template name
          readOnly: true
        computeSize:
          type: string
          description: the compute size needed for this Analysis. Standard sizes are
            basic and highcpu. Default is basic
          readOnly: true
        state:
          type: string
          description: the Simulation state
          readOnly: true
        startTime:
          type: string
          description: the Simulation start Date Time
          readOnly: true
        endTime:
          type: string
          description: the Simulation end Date Time
          readOnly: true
      description: a Simulation with only base properties
    SimulationContainerLog:
      type: object
      properties:
        timeGenerated:
          type: string
          description: date and time the record was created
          readOnly: true
        entrySource:
          type: string
          description: source of the log line. Possible values are stdout or stderr
          readOnly: true
        logEntry:
          type: string
          description: actual log line
          readOnly: true
      description: a container log line
    SimulationContainerLogs:
      type: object
      properties:
        containerId:
          type: string
          description: container ID for log source as seen by Docker engine
          readOnly: true
        computer:
          type: string
          description: computer/node that's generating the log
          readOnly: true
        logs:
          type: array
          description: the list of container logs in structured format
          readOnly: true
          items:
            $ref: '#/components/schemas/SimulationContainerLog'
        textLog:
          type: string
          description: the plain text log if plainText option has been set
      description: logs for a given container
    SimulationContainers:
      type: object
      properties:
        id:
          type: string
          description: the container Id
          readOnly: true
        envVars:
          type: object
          additionalProperties: true
          description: a freeform environment variable map
        image:
          type: string
          description: the container image URI
        runArgs:
          type: array
          description: the list of run arguments for the container
          items:
            type: string
      description: a Simulation container description
    SimulationLogs:
      type: object
      properties:
        simulationId:
          type: string
          description: the Simulation Id
          readOnly: true
        options:
          $ref: '#/components/schemas/SimulationLogsOptions'
        initLogs:
          type: array
          description: the list of simulation logs for init containers
          readOnly: true
          items:
            $ref: '#/components/schemas/SimulationContainerLogs'
        mainLogs:
          $ref: '#/components/schemas/SimulationContainerLogs'
      description: the simulation logs returned by all containers
    SimulationLogsOptions:
      type: object
      properties:
        containerIds:
          type: array
          description: the list of container Id to get the log for
          items:
            type: string
        plainText:
          type: boolean
          description: whether or not to return the log in plain text instead of structured
            form
      description: the simulation logs options
    SimulationSearch:
      type: object
      properties:
        solutionId:
          type: string
          description: the Solution Id to search
        runTemplateId:
          type: string
          description: the Solution Analysis Id to search
        workspaceId:
          type: string
          description: the Workspace Id to search
        scenarioId:
          type: string
          description: the Scenario Id to search
        state:
          type: string
          description: the state to search
        jobId:
          type: string
          description: the Cosmo Tech compute cluster Job Id to search
        ownerId:
          type: string
          description: the owner Id to search
      description: the search options
    SimulationStartContainers:
      type: object
      properties:
        nodeLabel:
          type: string
          description: the node label request
        initContainers:
          type: array
          description: the list of init containers
          items:
            $ref: '#/components/schemas/SimulationContainers'
        mainContainer:
          $ref: '#/components/schemas/SimulationContainers'
      description: the parameters to run directly containers
    SimulationStartScenario:
      type: object
      properties:
        workspaceId:
          type: string
          description: the Workspace Id
        scenarioId:
          type: string
          description: the Scenario Id
      description: the parameters to run a Scenario
    SimulationStartSolution:
      type: object
      properties:
        solutionId:
          type: string
          description: the Solution Id
        runTemplateId:
          type: string
          description: the Solution Run Template id
        datasetList:
          type: array
          description: the list of Dataset Id associated to this Analysis
          items:
            type: string
        parametersValues:
          type: array
          description: the list of Solution Run Template parameters values
          items:
            $ref: '#/components/schemas/RunTemplateParameterValue'
        sendInputToDataWarehouse:
          type: boolean
          description: whether or not the Dataset values and the input parameters
            values are send to the DataWarehouse prior to Simulation Run
        dataWarehouseDB:
          type: string
          description: the DataWarehouse database name to send data if sendInputToDataWarehouse
            is set
        resultsEventBusResourceUri:
          type: string
          description: the event bus which receive Workspace Simulation results messages.
            Message won't be send if this is not set
        simulationEventBusResourceUri:
          type: string
          description: the event bus which receive Workspace Simulation events messages.
            Message won't be send if this is not set
      description: the parameters to run directly a Solution
    Solution:
      required:
      - name
      - repository
      - solutionKey
      - version
      type: object
      properties:
        id:
          type: string
          description: the Solution version unique identifier
          readOnly: true
        solutionKey:
          type: string
          description: the Solution key which group Solution versions
        name:
          type: string
          description: the Solution name
        description:
          type: string
          description: the Solution description
        repository:
          type: string
          description: the registry repository containing the image
        simulator:
          type: string
          description: the main simulator name used in standard Run Template
        version:
          type: string
          description: the Solution version MAJOR.MINOR.PATCH. Must be aligned with
            an existing repository tag
        ownerId:
          type: string
          description: the User id which own this Solution
          readOnly: true
        url:
          type: string
          description: an optional URL link to solution page
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        run_templates:
          type: array
          description: list of Run Template
          items:
            $ref: '#/components/schemas/RunTemplate'
      description: a version of a Solution
    TranslatedLabels:
      type: object
      additionalProperties: true
      description: a translated label with key as ISO 639-1 code
    User:
      required:
      - name
      - platformRoles
      type: object
      properties:
        id:
          type: string
          description: the User unique identifier
          readOnly: true
        name:
          type: string
          description: the User name
        platformRoles:
          type: array
          description: the list of Platform roles
          items:
            type: string
            enum:
            - Admin
            - User
            - ConnectorDeveloper
      description: a User
    UserDetails:
      allOf:
      - $ref: '#/components/schemas/User'
      - type: object
        properties:
          organizations:
            type: array
            readOnly: true
            items:
              $ref: '#/components/schemas/UserOrganization'
        description: a User with Organization details
    UserOrganization:
      type: object
      properties:
        id:
          type: string
          description: the Organization id
        name:
          type: string
          description: the Organization name
        roles:
          type: array
          description: the roles of the User in the Organization
          items:
            type: string
        workspaces:
          type: array
          description: the list of Workspaces roles
          readOnly: true
          items:
            $ref: '#/components/schemas/UserWorkspace'
      description: The organization of the user
    UserWorkspace:
      type: object
      properties:
        id:
          type: string
          description: the Workspace Id
          readOnly: true
        name:
          type: string
          description: the Workspace name
          readOnly: true
        roles:
          type: array
          description: the roles of the User in the Workspace
          items:
            type: string
      description: the list of User roles for a Workspace
      readOnly: true
    Validator:
      required:
      - id
      - name
      - repository
      - version
      type: object
      properties:
        id:
          type: string
          description: the Validator id
          readOnly: true
        name:
          type: string
          description: the Validator name
        description:
          type: string
          description: the Validator description
        repository:
          type: string
          description: the registry repository containing the Validator image
        version:
          type: string
          description: the Validator version MAJOR.MINOR.PATCH. Must be aligned with
            an existing repository tag
        ownerId:
          type: string
          description: the User id which own this Validator
          readOnly: true
        url:
          type: string
          description: an optional URL link to Validator page
        tags:
          type: array
          description: the list of tags
          items:
            type: string
      description: a Validator to validate a Dataset
    ValidatorRun:
      required:
      - datasetId
      type: object
      properties:
        id:
          type: string
          description: the Validator Run id
          readOnly: true
        validatorId:
          type: string
          description: the Validator id
          readOnly: true
        validatorName:
          type: string
          description: the validator name
          readOnly: true
        datasetId:
          type: string
          description: the Dataset id to run the validator on
        datasetName:
          type: string
          description: the Dataset name
          readOnly: true
        state:
          type: string
          description: the Validator Run state
          readOnly: true
          enum:
          - Running
          - Finished
          - OnError
        containerId:
          type: string
          description: the Validator Run container id
          readOnly: true
        logs:
          type: string
          description: the Validator Run logs
          readOnly: true
      description: a Validator Run
    Workspace:
      required:
      - name
      - solution
      type: object
      properties:
        id:
          type: string
          description: the Workspace version unique identifier
          readOnly: true
        name:
          type: string
          description: the Workspace name
        description:
          type: string
          description: the Workspace description
        version:
          type: string
          description: the Workspace version MAJOR.MINOR.PATCH.
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        ownerId:
          type: string
          description: the user id which own this workspace
          readOnly: true
        solution:
          $ref: '#/components/schemas/WorkspaceSolution'
        users:
          type: array
          description: the list of users Id with their role
          items:
[...]
