openapi: 3.0.3

info:
  title: Cosmo Tech User Manager API
  description: Cosmo Tech User Manager API
  version: 0.0.8-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: user
  description: User Management

paths:
  /users:
    post:
      operationId: registerUser
      tags:
        - user
      summary: Register a new user
      requestBody:
        description: the User to register
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples:
              BobCreateIn:
                $ref: '#/components/examples/BobCreateIn'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              BobCreateIn:
                $ref: '#/components/examples/BobCreateIn'
      responses:
        "201":
          description: the user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Bob:
                  $ref: '#/components/examples/Bob'
        "400":
          description: Bad request
    get:
      operationId: findAllUsers
      tags:
        - user
      summary: List all Users
      responses:
        "200":
          description: the user details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
              examples:
                Two:
                  $ref: '#/components/examples/TwoUsers'

  /users/{user_id}:
    parameters:
      - name: user_id
        in: path
        description: the User identifier
        required: true
        schema:
          type: string
    get:
      operationId: findUserById
      tags:
        - user
      summary: Get the details of an user
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Bob:
                  $ref: '#/components/examples/Bob'
        "404":
          description: the User specified is unknown or you don't have access to it
    patch:
      operationId: updateUser
      tags:
        - user
      summary: Update a User
      requestBody:
        description: the new User details. Organization membership is handled via the /organizations endpoint.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples:
              BobyUpdateIn:
                $ref: '#/components/examples/BobyUpdateIn'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              BobyUpdateIn:
                $ref: '#/components/examples/BobyUpdateIn'
      responses:
        "200":
          description: the user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                BobyUpdated:
                  $ref: '#/components/examples/BobyUpdated'
        "400":
          description: Bad request
        "404":
          description: the User specified is unknown or you don't have access to it
    delete:
      operationId: unregisterUser
      tags:
        - user
      summary: Unregister an user
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the User specified is unknown or you don't have access to it
  /users/me:
    get:
      operationId: getCurrentUser
      tags:
        - user
      summary: Get the details of the logged-in User
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Bob:
                  $ref: '#/components/examples/Bob'
  /organizations/{organization_id}/me:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: getOrganizationCurrentUser
      tags:
        - user
      summary: Get the details of a logged-in User with roles for an Organization
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Bob:
                  $ref: '#/components/examples/BobOrganization'
  /organizations/{organization_id}/workspaces/{workspace_id}/me:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      operationId: getWorkspaceCurrentUser
      tags:
        - user
      summary: Get the details of the logged-in user with roles for a Workspace
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Bob:
                  $ref: '#/components/examples/BobWorkspace'
  /test:
    get:
      operationId: testPlatform
      tags:
        - user
      summary: test platform API call
      responses:
        "200":
          description: test string
          content:
            text/plain:
              schema:
                type: string
  /oauth2/authorize:
    get:
      operationId: authorizeUser
      tags:
        - user
      summary: Authorize an User with OAuth2. Delegated to configured OAuth2 service
      responses:
        "302":
          description: Redirection response
          headers:
            Location:
              schema:
                type: "string"
              examples:
                AzureAD:
                  $ref: '#/components/examples/AzureADRedirect'
components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope
  schemas:
    User:
      type: object
      description: a User
      properties:
        id:
          type: string
          readOnly: true
          description: the User unique identifier
        name:
          type: string
          description: the User name
        platformRoles:
          type: array
          description: the list of Platform roles
          items:
            type: string
            enum: ["Admin","User","ConnectorDeveloper"]
        organizations:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/UserOrganization'
#      required:
#        - name
#        - platformRoles
    UserOrganization:
      type: object
      description: The organization of the user
      properties:
        id:
          type: string
          description: the Organization id
        name:
          type: string
          description: the Organization name
        roles:
          type: array
          description: the roles of the User in the Organization
          items:
            type: string
        workspaces:
          type: array
          readOnly: true
          description: the list of Workspaces roles
          items:
            $ref: '#/components/schemas/UserWorkspace'
    UserWorkspace:
      type: object
      readOnly: true
      description: the list of User roles for a Workspace
      properties:
        id:
          type: string
          readOnly: true
          description: the Workspace Id
        name:
          type: string
          readOnly: true
          description: the Workspace name
        roles:
          type: array
          description: the roles of the User in the Workspace
          items:
            type: string
  examples:
    BobCreateIn:
      summary: Bob User Create input example
      description: Bob User Create input example
      value:
        name: Bob
        platformRoles:
          - Admin
    Bob:
      summary: Bob User
      description: Bob User example
      value:
        id: "1"
        name: Bob
        platformRoles:
          - Admin
        organizations:
          - id: "1"
            name: Cosmo Tech
            roles:
              - Admin
            workspaces:
              - id: "1"
                name: Brewery Analysis 
                roles:
                  - Admin
          - id: "2"
            name: Phoenix
            roles:
              - Admin
    BobyUpdateIn:
      summary: Boby update User input example
      description: Bob User renamed to Boby input example
      value:
        name: Boby
    BobyUpdated:
      summary: Boby updated User
      description: Bob User renamed to Boby example
      value:
        id: "1"
        name: Boby
        platformRoles:
          - Admin
        organizations:
          - id: "1"
            name: Cosmo Tech
            roles:
              - Admin
            workspaces:
              - id: "1"
                name: Brewery Analysis 
                roles:
                  - Admin
          - id: "2"
            name: Phoenix
            roles:
              - Admin
    TwoUsers:
      summary: Two Users example
      description: Two Users example
      value:
        - id: "1"
          name: Bob
          platformRoles:
            - Admin
          organizations:
            - id: "1"
              name: Cosmo Tech
              roles:
                - Admin
              workspaces:
                - id: "1"
                  name: Brewery Analysis 
                  roles:
                    - Admin
            - id: "2"
              name: Phoenix
              roles:
                - Admin
        - id: "2"
          name: Alice
          platformRoles:
            - User
          organizations:
            - id: "1"
              name: Cosmo Tech
              roles:
                - Admin
              workspaces:
                - id: "1"
                  name: Brewery Analysis 
                  roles:
                    - Admin
            - id: "2"
              name: Phoenix
              roles:
                - Admin
    BobOrganization:
      summary: Bob User for an Organization example
      description: Bob User for Organization 1 example
      value:
        id: "1"
        name: Bob
        platformRoles:
          - Admin
        organizations:
          - id: "1"
            name: Cosmo Tech
            roles:
              - Admin
            workspaces:
              - id: "1"
                name: Brewery Analysis 
                roles:
                  - Admin
    BobWorkspace:
      summary: Bob User for a Workspace example
      description: Bob User for Organization 1 and Workspace 1 example
      value:
        id: "1"
        name: Bob
        platformRoles:
          - Admin
        organizations:
          - id: "1"
            name: Cosmo Tech
            roles:
              - Admin
            workspaces:
              - id: "1"
                name: Brewery Analysis 
                roles:
                  - Admin
    AzureADRedirect:
      summary: Azure AD redirect example
      description: authorize redirection to Azure Active Directory example
      value:
        Location: https://login.microsoftonline.com/e9641c78-d0d6-4d09-af63-168922724e7f/oauth2/v2.0/authorize?client_id=6731de76-14a6-49ae-97bc-6eba6914391e&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F&response_mode=query&scope=https%3A%2F%2Fgraph.microsoft.com%2Fmail.read
