logging:
  level:
    com.azure: WARN

security:
  oauth2:
    resource:
      user-info-uri: https://graph.microsoft.com/oidc/userinfo
      jwk:
        key-set-uri: https://login.microsoftonline.com/common/discovery/v2.0/keys

csm:
  platform:
    vendor: azure
    authorization:
      principal-jwt-claim: "oid"
      tenant-id-jwt-claim: "tid"
      mail-jwt-claim: "preferred_username"
    azure:
      appIdUri: "http://dev.api.cosmotech.com"
      credentials:
        # Deprecated - use csm.platform.azure.credentials.core.tenantId instead
        tenantId: "credentials-tenant-id"
        # Deprecated - use csm.platform.azure.credentials.core.clientId instead
        clientId: "credentials-client-id"
        # Deprecated - use csm.platform.azure.credentials.core.clientSecret instead
        clientSecret: "credentials-secret-id"
        # Deprecated - use csm.platform.azure.credentials.core.aadPodIdBinding instead
        aadPodIdBinding: "phoenix-pod-identity"
        core:
          tenantId: "${csm.platform.azure.credentials.tenantId}"
          clientId: "${csm.platform.azure.credentials.clientId}"
          clientSecret: "${csm.platform.azure.credentials.clientSecret}"
          aadPodIdBinding: "${csm.platform.azure.credentials.aadPodIdBinding}"
        customer:
          tenantId: null
          clientId: null
          clientSecret: null
      storage:
        base-uri: "changeme"
        resource-uri: "changeme"
        connection-string: "DefaultEndpointsProtocol=https;AccountName=${spring.cloud.azure.storage.blob.account-name};AccountKey=${spring.cloud.azure.storage.blob.account-key};EndpointSuffix=core.windows.net"
      containerRegistries:
        core: ghcr.io
        solutions: ""
      eventBus:
        baseUri: ""
        # One of 'tenant_client_credentials' or 'shared_access_policy'.
        # Due to PROD-8071, shared_access_policy is needed when the platform is deployed in a tenant
        # different from the core Platform one. This is applicable to managed applications
        # provisioned via the Azure Marketplace
        authentication:
          strategy: tenant_client_credentials
          sharedAccessPolicy:
            namespace:
              name: RootManageSharedAccessKey
              key: null
      dataWarehouseCluster:
        # e.g. https://{account-name}.{location}.kusto.windows.net
        baseUri: "adx-base-uri"
        options:
          # e.g. https://ingest-{account-name}.{location}.kusto.windows.net
          ingestionUri: "adx-ingestion-uri"
      keyVault: "changeme"
      analytics:
        resourceUri: ""
        instrumentationKey: ""
        connectionString: "InstrumentationKey=${csm.platform.azure.analytics.instrumentationKey};IngestionEndpoint=https://francecentral-0.in.applicationinsights.azure.com/"
    data-ingestion:
      # Number of seconds to wait after a scenario run workflow end time, before
      # starting to check ADX for data ingestion state.
      # See https://bit.ly/3FXshzE for the rationale
      waiting-time-before-ingestion-seconds: 15
      # number of minutes after a scenario run workflow end time during which an ingestion failure
      # detected is considered linked to the current scenario run
      ingestion-observation-window-to-be-considered-a-failure-minutes: 5
      # number of seconds to wait after the checking the scenario validation ingestion status
      sleeping-time-before-querying-scenario-validation-status-seconds: 5
      # number of retry to query the scenario validation status
      max-retry-authorized: 5
      state:
        # the timeout in second before considering no data in probes measures and control plane is an issue
        no-data-time-out-seconds: 60


spring:
  cloud:
    azure:
      # Required to auto-configure the beans provided by the Azure Spring Boot AutoConfigurations
      active-directory:
        profile:
          # tenantId is 'common' to use the login process of multi-tenant access
          # See https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-active-directory/ACCESS_TO_MULTI_TENANT_APP.md
          tenant-id: ${csm.platform.azure.credentials.core.tenantId}
        credential:
          client-id: ${csm.platform.azure.credentials.core.clientId}
          client-secret: ${csm.platform.azure.credentials.core.clientSecret}
        session-stateless: true
        app-id-uri: ${csm.platform.azure.appIdUri}
        enabled: true
      storage:
        blob:
          # Storage account name length should be between 3 and 24 and use numbers and lower-case letters only
          account-name: "${csm.platform.azure.storage.account-name}"
          # Fill storage account access key copied from portal
          account-key: "${csm.platform.azure.storage.account-key}"
          # Fill storage endpoint URL copied from portal
          endpoint: "https://${csm.platform.azure.storage.account-name}.blob.core.windows.net"
          enabled: true

