openapi: 3.0.3

info:
  title: Cosmo Tech Workspace Manager API
  description: Cosmo Tech Workspace Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: workspace
  description: Workspace Management

paths:
  /organizations/{organization_id}/workspaces:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: createWorkspace
      tags:
        - workspace
      summary: Create a new workspace
      requestBody:
        description: the Workspace to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              Workspace:
                $ref: '#/components/examples/BreweryWorkspaceCreateIn'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              Workspace:
                $ref: '#/components/examples/BreweryWorkspaceCreateIn'
      responses:
        "201":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
    get:
      operationId: findAllWorkspaces
      tags:
        - workspace
      summary: List all Workspaces
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
              examples:
                OneWorkspace:
                  $ref: '#/components/examples/OneWorkspace'
  /organizations/{organization_id}/workspaces/{workspace_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      operationId: findWorkspaceById
      tags:
        - workspace
      summary: Get the details of an workspace
      responses:
        "200":
          description: the Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    patch:
      operationId: updateWorkspace
      tags:
        - workspace
      summary: Update a workspace
      requestBody:
        description: the new Workspace details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceUpdate'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceUpdate'
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryWorkspaceUpdated'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    delete:
      operationId: deleteWorkspace
      tags:
        - workspace
      summary: Delete a workspace
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access to it
  /organizations/{organization_id}/workspaces/{workspace_id}/files:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      operationId: uploadWorkspaceFile
      tags:
        - workspace
      summary: Upload a file for the Workspace
      requestBody:
        description: the file to upload
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileName:
                  type: string
                  format: binary
      responses:
        "201":
          description: the file resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceFile'
              examples:
                BreweryWorkspaceFile:
                  $ref: '#/components/examples/BreweryWorkspaceFile'
        "400":
          description: Bad request
    get:
      operationId: findAllWorkspaceFiles
      tags:
        - workspace
      summary: List all Workspace files
      responses:
        "200":
          description: the workspace files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceFile'
              examples:
                WorkspaceFiles:
                  $ref: '#/components/examples/WorkspaceFiles'
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    delete:
      operationId: deleteWorkspaceFile
      tags:
        - workspace
      summary: Delete a workspace file
      requestBody:
        description: the file to upload
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceFile'
            examples:
              WorkspaceFileToDeleteExample:
                $ref: '#/components/examples/BreweryWorkspaceFile'
      responses:
        "200":
          description: the file resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceFile'
              examples:
                BreweryWorkspaceFile:
                  $ref: '#/components/examples/BreweryWorkspaceFile'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/users:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      operationId: addUsersToOrganizationWorkspace
      tags:
        - workspace
      summary: Add (or replace) users to the Workspace specified
      requestBody:
        description: the Users to add. Any User with the same ID is overwritten
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WorkspaceUser'
            examples:
              TwoOrganizationToAddOrReplace:
                $ref: '#/components/examples/TwoOrganizationToAddOrReplace'
      responses:
        "200":
          description: the Workspace Users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceUser'
              examples:
                TwoWorkspaceUsers:
                  $ref: '#/components/examples/TwoWorkspaceUsers'
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    delete:
      operationId: removeAllUsersOfWorkspace
      tags:
        - workspace
      summary: Remove all users from the Workspace specified
      responses:
        "204":
          description: the operation succeeded
        "404":
          description: the Workspace specified is unknown or you don't have access to it

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: oauth2/authorize
          scopes: {}
  schemas:
    Workspace:
      type: object
      description: a Workspace
      properties:
        id:
          type: string
          readOnly: true
          description: the Workspace version unique identifier
        name:
          type: string
          description: the Workspace name
        description:
          type: string
          description: the Workspace description
        version:
          type: string
          description: the Workspace version MAJOR.MINOR.PATCH.
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        ownerId:
          type: string
          readOnly: true
          description: the user id which own this workspace
        solution:
          $ref: '#/components/schemas/WorkspaceSolution'
        users:
          type: array
          description: the list of users Id with their role
          items:
            $ref: '#/components/schemas/WorkspaceUser'
        webApp:
          $ref: '#/components/schemas/WorkspaceWebApp'
        services:
          descriptions: the list of Cloud services specific to the Workspace
          $ref: '#/components/schemas/WorkspaceServices'
        sendInputToDataWarehouse:
          type: boolean
          default: true
          description: default setting for all Scenarios and Run Templates to set whether or not the Dataset values and the input parameters values are send to the DataWarehouse prior to the ScenarioRun
      required:
        - name
        - solution
    WorkspaceServices:
      type: object
      description: the cloud service resources of the Workspace
      properties:
        tenantCredentials:
          type: object
          readOnly: true
          description: a freeform credentials object for the Organization tenant. Structure depends on cloud provider
          additionalProperties: true
        resultsEventBus:
          description: the event bus which receive Workspace ScenarioRun results messages
          $ref: '#/components/schemas/WorkspaceService'
        scenariorunEventBus:
          description: the event bus which receive Workspace ScenarioRun events messages
          $ref: '#/components/schemas/WorkspaceService'
        dataWarehouse:
          description: the Workspace DataWarehouse specific informations
          $ref: '#/components/schemas/WorkspaceService'
        storage:
          description: the Workspace file storage specific informations
          $ref: '#/components/schemas/WorkspaceService'
    WorkspaceService:
      type: object
      description: a cloud service resource
      properties:
        cloudService:
          type: string
          readOnly: true
          description: the cloud service name
        baseUri:
          type: string
          readOnly: true
          description: the platform base uri for this service
        platformService:
          type: string
          description: the Platform service associated to the resource
        resourceUri:
          type: string
          description: the workspace specific uri for this service resource
        credentials:
          type: object
          description: a freeform credentials object. Structure depends on service
          additionalProperties: true
    WorkspaceUser:
      type: object
      description: a Workspace user with roles
      properties:
        id:
          type: string
          description: the User id
        name:
          type: string
          readOnly: true
          description: the User name
        roles:
          type: array
          description: the User roles
          items:
            type: string
            enum: ["Admin","User","Viewer"]
      required:
        - id
        - roles
    WorkspaceFile:
      type: object
      description: a Workspace File resource
      properties:
        fileName:
          type: string
          description: the Workspace File name
    WorkspaceWebApp:
      type: object
      description: a Workspace Web Application
      properties:
        url:
          type: string
          description: the Workspace Web Application URL
        iframes:
          type: object
          description: a map of iframeKey/iframeURL
          additionalProperties: true
        options:
          type: object
          description: free form options for Web Application
          additionalProperties: true
      required:
        - url
    WorkspaceSolution:
      type: object
      description: the Workspace Solution configuration
      properties:
        solutionId:
          type: string
          description: the Solution Id attached to this workspace
        runTemplateFilter:
          type: array
          description: the list of Solution Run Template Id to filter
          items:
            type: string
        defaultRunTemplateDataset:
          type: object
          description: a map of RunTemplateId/DatasetId to set a default dataset for a Run Template
          additionalProperties: true
      required:
        - solutionId
  examples:
    BreweryWorkspaceCreateIn:
      summary: Brewery Workspace Create input parameters example
      description: Brewery Workspace Create input parameters example
      value:
        name: Brewery Analysis
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        solution:
          solutionId: "1"
          runTemplateFilter:
            - "1"
          defaultRunTemplateDataset:
            1: "1"
        users:
          - id: "1"
            roles:
              - Admin
          - id: "2"
            roles:
              - Viewer
        webApp:
          url: https://brewery.app.cosmotech.com
          iframes:
            main: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
            dashboard: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
        services:
          resultsEventBus:
            platformService: eventBusCluster
            resourceUri: brewery
          scenariorunEventBus:
            platformService: eventBusCluster
            resourceUri: brewery-scenariorun
          dataWarehouse:
            platformService: dataWarehouseCluster
            resourceUri: Brewery
          storage:
            platformService: storage
            resourceUri: organization-1/workspaces/1
    BreweryWorkspace:
      summary: Brewery Workspace
      description: Brewery Workspace example
      value:
        id: "1"
        name: Brewery Analysis
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        ownerId: "1"
        solution:
          solutionId: "1"
          runTemplateFilter:
            - "1"
          defaultRunTemplateDataset:
            1: "1"
        users:
          - id: "1"
            name: Bob
            roles:
              - Admin
          - id: "2"
            name: Alice
            roles:
              - Viewer
        webApp:
          url: https://brewery.app.cosmotech.com
          iframes:
            main: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
            dashboard: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
        services:
          tenantCredentials:
            azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
            azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
            azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
          resultsEventBus:
            cloudService: AzureEventHub
            platformService: eventBusCluster
            baseUri: csm-phoenix.servicebus.windows.net
            resourceUri: brewery
          scenariorunEventBus:
            cloudService: AzureEventHub
            platformService: eventBusCluster
            baseUri: csm-phoenix.servicebus.windows.net
            resourceUri: brewery-scenariorun
          dataWarehouse:
            cloudService: AzureDataExplorer
            platformService: dataWarehouseCluster
            baseUri: https://phoenix.westeurope.kusto.windows.net
            resourceUri: Brewery
          storage:
            cloudService: AzureStorage
            platformService: storage
            baseUri: https://csmphoenix.blob.core.windows.net
            resourceUri: organization-1/workspaces/1
    OneWorkspace:
      summary: One Workspace list
      description: One Workspace list example
      value:
        - id: "1"
          name: Brewery Analysis
          description: Brewery analysis for stock, production, transport and customer satisfaction
          version: "1.0.0"
          tags:
            - Brewery
          ownerId: "1"
          solution:
            solutionId: "1"
            runTemplateFilter:
              - "1"
            defaultRunTemplateDataset:
              1: "1"
          users:
            - id: "1"
              name: Bob
              roles:
                - Admin
            - id: "2"
              name: Alice
              roles:
                - Viewer
          webApp:
            url: https://brewery.app.cosmotech.com
            iframes:
              main: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
              dashboard: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
          services:
            tenantCredentials:
              azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
              azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
              azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
            resultsEventBus:
              cloudService: AzureEventHub
              platformService: eventBusCluster
              baseUri: csm-phoenix.servicebus.windows.net
              resourceUri: brewery
            scenariorunEventBus:
              cloudService: AzureEventHub
              platformService: eventBusCluster
              baseUri: csm-phoenix.servicebus.windows.net
              resourceUri: brewery-scenariorun
            dataWarehouse:
              cloudService: AzureDataExplorer
              platformService: dataWarehouseCluster
              baseUri: https://phoenix.westeurope.kusto.windows.net
              resourceUri: Brewery
            storage:
              cloudService: AzureStorage
              platformService: storage
              baseUri: https://csmphoenix.blob.core.windows.net
              resourceUri: organization-1/workspaces/1
    BreweryWorkspaceUpdate:
      summary: Update the Brewery Workspace
      description: Update the Brewery Workspace by changing its name
      value:
        name: Brewery Analysis 2021
    BreweryWorkspaceUpdated:
      summary: Brewery Workspace
      description: Brewery Workspace example
      value:
        id: "1"
        name: Brewery Analysis 2021
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        ownerId: "1"
        solution:
          solutionId: "1"
          runTemplateFilter:
            - "1"
          defaultRunTemplateDataset:
            1: "1"
        users:
          - id: "1"
            name: Bob
            roles:
              - Admin
          - id: "2"
            name: Alice
            roles:
              - Viewer
        webApp:
          url: https://brewery.app.cosmotech.com
          iframes:
            main: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
            dashboard: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
        services:
          tenantCredentials:
            azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
            azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
            azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
          resultsEventBus:
            cloudService: AzureEventHub
            platformService: eventBusCluster
            baseUri: csm-phoenix.servicebus.windows.net
            resourceUri: brewery
          scenariorunEventBus:
            cloudService: AzureEventHub
            platformService: eventBusCluster
            baseUri: csm-phoenix.servicebus.windows.net
            resourceUri: brewery-scenariorun
          dataWarehouse:
            cloudService: AzureDataExplorer
            platformService: dataWarehouseCluster
            baseUri: https://phoenix.westeurope.kusto.windows.net
            resourceUri: Brewery
          storage:
            cloudService: AzureStorage
            platformService: storage
            baseUri: https://csmphoenix.blob.core.windows.net
            resourceUri: organization-1/workspaces/1
    BreweryWorkspaceFile:
      summary: Brewery Workspace file example
      description: Brewery Workspace file uploaded return example
      value:
        fileName: myData.csv
    WorkspaceFiles:
      summary: Brewery Workspace files example
      description: Brewery Workspace files example
      value:
        - fileName: myData.csv
        - fileName: myData2.csv
        - fileName: myData3.csv
    TwoWorkspaceUsers:
      summary: Two users of a Workspace
      description: Two Users of a Workspace example
      value:
        - id: "1"
          name: Bob
          roles:
            - Admin
        - id: "2"
          name: Alice
          roles:
            - User
    TwoWorkspaceToAddOrReplace:
      summary: Two users of a Workspace
      description: Two Users of a Workspace example
      value:
        - id: "1"
          roles:
            - Admin
        - id: "2"
          roles:
            - User
