openapi: 3.0.3

info:
  title: Cosmo Tech Workspace Manager API
  description: Cosmo Tech Workspace Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'https://gateway.api.cosmo-platform.com'
- url: 'http://localhost:8080'

security:
- ApiKeyAuth: [ ]
- AADOAuth2AuthCode: [ ]

tags:
- name: workspace
  description: Workspace Management

paths:
  /organizations/{organization_id}/workspaces:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: createWorkspace
      tags:
        - workspace
      summary: Create a new workspace
      requestBody:
        description: the Workspace to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              Workspace:
                $ref: '#/components/examples/BreweryWorkspace'
      responses:
        "201":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
    get:
      operationId: findAllWorkspaces
      tags:
        - workspace
      summary: List all Workspaces
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
              examples:
                OneWorkspace:
                  $ref: '#/components/examples/OneWorkspace'
  /organizations/{organization_id}/workspaces/{workspace_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      operationId: findWorkspaceById
      tags:
        - workspace
      summary: Get the details of an workspace
      responses:
        "200":
          description: the Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    patch:
      operationId: updateWorkspace
      tags:
        - workspace
      summary: Update a workspace
      requestBody:
        description: the new Workspace details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceUpdate'
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryWorkspaceUpdated'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    delete:
      operationId: deleteWorkspace
      tags:
        - workspace
      summary: Delete a workspace
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access to it

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: The Cosmo Tech API Key
      name: key
      in: query
    AADOAuth2AuthCode:
      type: oauth2
      description: Azure Active Directory authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/e9641c78-d0d6-4d09-af63-168922724e7f/oauth2/v2.0/authorize
          scopes:
            http://sample.azure.cosmo-platform.com/user_impersonation: User Impersonation
  schemas:
    Workspace:
      type: object
      description: a Workspace
      properties:
        id:
          type: string
          readOnly: true
          description: the Workspace version unique identifier
        name:
          type: string
          description: the Workspace name
        description:
          type: string
          description: the Workspace description
        version:
          type: string
          description: the Workspace version MAJOR.MINOR.PATCH.
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        ownerId:
          type: string
          readOnly: true
          description: the user id which own this workspace
        simulator:
          $ref: '#/components/schemas/WorkspaceSimulator'
        userList:
          type: array
          description: the list of users Id with their role
          items:
            $ref: '#/components/schemas/WorkspaceUser'
        webApp:
          $ref: '#/components/schemas/WorkspaceWebApp'
        services:
          $ref: '#/components/schemas/WorkspaceServices'
        sendInputToDataWarehouse:
          type: boolean
          default: true
          description: default setting for all Scenarios and Analysis to set whether or not the Dataset values and the input parameters values are send to the DataWarehouse prior to Simulation Run
      required:
        - name
        - simulator
    WorkspaceServices:
      type: object
      description: the cloud service resources of the Workspace
      properties:
        resultsEventBus:
          description: the event bus which receive Workspace Simulation results messages
          $ref: '#/components/schemas/WorkspaceService'
        simulationEventBus:
          description: the event bus which receive Workspace Simulation events messages
          $ref: '#/components/schemas/WorkspaceService'
        dataWarehouse:
          description: the Workspace DataWarehouse specific informations
          $ref: '#/components/schemas/WorkspaceService'
        storage:
          description: the Workspace file storage specific informations
          $ref: '#/components/schemas/WorkspaceService'
    WorkspaceService:
      type: object
      description: a cloud service resource
      properties:
        cloudService:
          type: string
          readOnly: true
          description: the cloud service name
        baseUri:
          type: string
          readOnly: true
          description: the platform base uri for this service
        resourceUri:
          type: string
          description: the workspace specific uri for this service resource
        credentials:
          type: object
          description: a freeform credentials object. Structure depends on service
          additionalProperties: true
      required:
        - name
        - credentials
    WorkspaceUser:
      type: object
      description: a Workspace user with roles
      properties:
        id:
          type: string
          description: the User id
        name:
          type: string
          readOnly: true
          description: the User name
        roles:
          type: string
          description: the User role
          enum: ["Viewer","Advanced"]
      required:
        - id
        - roles
    WorkspaceWebApp:
      type: object
      description: a Workspace Web Application
      properties:
        url:
          type: string
          description: the Workspace Web Application URL
        iframes:
          type: object
          description: a map of iframeKey/iframeURL
          additionalProperties: true
        options:
          type: object
          description: free form options for Web Application
          additionalProperties: true
      required:
        - url
    WorkspaceSimulator:
      type: object
      description: the Workspace Simulator configuration
      properties:
        simulatorId:
          type: string
          description: the Simulator Id attached to this workspace
        simulatorAnalysisFilter:
          type: array
          description: the list of Simulator Analysis Id to filter
          items:
            type: string
        defaultAnalysisDataset:
          type: object
          description: a map of AnalysisId/DatasetId to set a default dataset for an analysis
          additionalProperties: true
      required:
        - simulatorId
  examples:
    BreweryWorkspace:
      summary: Brewery Workspace
      description: Brewery Workspace example
      value:
        id: "1"
        name: Brewery Analysis
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        ownerId: "1"
        simulator:
          simulatorId: "1"
          defaultAnalysisDataset:
            1: "1"
        userList:
          - id: "1"
            name: Bob
            roles: Advanced
          - id: "2"
            name: Alice
            roles: Viewer
        webApp:
          url: https://brewery.app.cosmotech.com
          iframes:
            main: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
            dashboard: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
        services:
          resultsEventBus: brewery
          simulationEventBus: brewery-simulation
          dataWarehouse: Brewery
          storage: organizations/1/workspaces/1
    OneWorkspace:
      summary: One Workspace list
      description: One Workspace list example
      value:
        - id: "1"
          name: Brewery Analysis
          description: Brewery analysis for stock, production, transport and customer satisfaction
          version: "1.0.0"
          tags:
            - Brewery
          ownerId: "1"
          simulator:
            simulatorId: "1"
            defaultAnalysisDataset:
              1: "1"
          userList:
            - id: "1"
              name: Bob
              roles: Advanced
            - id: "2"
              name: Alice
              roles: Viewer
          webApp:
            url: https://brewery.app.cosmotech.com
            iframes:
              main: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
              dashboard: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
          services:
            resultsEventBus: brewery
            simulationEventBus: brewery-simulation
            dataWarehouse: Brewery
            storage: organizations/1/workspaces/1
    BreweryWorkspaceUpdate:
      summary: Update the Brewery Workspace
      description: Update the Brewery Workspace by changing its name
      value:
        name: Brewery Analysis 2021
    BreweryWorkspaceUpdated:
      summary: Brewery Workspace
      description: Brewery Workspace example
      value:
        id: "1"
        name: Brewery Analysis 2021
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        ownerId: "1"
        simulator:
          simulatorId: "1"
          defaultAnalysisDataset:
            1: "1"
        userList:
          - id: "1"
            name: Bob
            roles: Advanced
          - id: "2"
            name: Alice
            roles: Viewer
        webApp:
          url: https://brewery.app.cosmotech.com
          iframes:
            main: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
            dashboard: https://app.powerbi.com/reportEmbed?reportId=05eee4e7-b301-4fb3-8850-9ef00f3516ef&autoAuth=true&ctid=e9641c78-d0d6-4d09-af63-168922724e7f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D
        services:
          resultsEventBus:
            cloudService: AzureEventHub
            baseUri: csm-phoenix.servicebus.windows.net
            resourceUri: brewery
            credentials:
              policyName: k8ssender
              primaryKey: PdxLVNNdcjPnueuF08kosTDya+SfCkevkYeAMlcHMtku
          simulationEventBus:
            cloudService: AzureEventHub
            baseUri: csm-phoenix.servicebus.windows.net
            resourceUri: brewery-simulation
            credentials:
              policyName: k8ssender
              primaryKey: PdxLVNNdcjPnueuF08kosTDya+SfCkevkYeAMlcHMtkv
          dataWarehouse:
            cloudService: AzureDataExplorer
            baseUri: https://phoenix.westeurope.kusto.windows.net
            resourceUri: Brewery
            credentials:
              azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
              azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
              azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
          storage:
            cloudService: AzureStorage
            baseUri: https://csmphoenix.blob.core.windows.net/organization-1
            resourceUri: workspaces/1
            credentials:
              sas: sp=racwdl&st=2021-04-13T10:09:52Z&se=2021-04-13T18:09:52Z&spr=https&sv=2020-02-10&sr=c&sig=Otw2kGNBkQVaB3GatZBSKRo7Y6%2FuSaCqz2s2%2Fg3w73Q%3D
