openapi: 3.0.3

info:
  title: Cosmo Tech Workspace Manager API
  description: Cosmo Tech Workspace Manager API
  version: 0.0.8-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: workspace
  description: Workspace Management

paths:
  /organizations/{organization_id}/workspaces:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: createWorkspace
      tags:
        - workspace
      summary: Create a new workspace
      requestBody:
        description: the Workspace to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              Workspace:
                $ref: '#/components/examples/BreweryWorkspaceCreateIn'
              WorkspaceWithSecurity:
                $ref: '#/components/examples/BreweryWorkspaceCreateSecurity'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              Workspace:
                $ref: '#/components/examples/BreweryWorkspaceCreateIn'
              WorkspaceWithSecurity:
                $ref: '#/components/examples/BreweryWorkspaceCreateSecurity'
      responses:
        "201":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
    get:
      operationId: findAllWorkspaces
      tags:
        - workspace
      summary: List all Workspaces
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
              examples:
                OneWorkspace:
                  $ref: '#/components/examples/OneWorkspace'
  /organizations/{organization_id}/workspaces/{workspace_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      operationId: findWorkspaceById
      tags:
        - workspace
      summary: Get the details of an workspace
      responses:
        "200":
          description: the Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    patch:
      operationId: updateWorkspace
      tags:
        - workspace
      summary: Update a workspace
      requestBody:
        description: the new Workspace details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceUpdate'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceUpdate'
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                BreweryUpdated:
                  $ref: '#/components/examples/BreweryWorkspaceUpdated'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    delete:
      operationId: deleteWorkspace
      tags:
        - workspace
      summary: Delete a workspace
      responses:
        "200":
          description: the workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Workspace:
                  $ref: '#/components/examples/BreweryWorkspace'
        "400":
          description: Bad request
        "404":
          description: the Workspace specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/files:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      operationId: uploadWorkspaceFile
      tags:
        - workspace
      summary: Upload a file for the Workspace
      requestBody:
        description: the file to upload
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                overwrite:
                  type: boolean
                  default: false
                destination:
                  # PROD-7601 : Allow clients to specify where the file should be uploaded
                  type: string
                  description: |
                    Destination path. Must end with a '/' if specifying a folder.
                    Note that paths may or may not start with a '/', but they are always treated
                    as relative to the Workspace root location.
                  example: "path/to/a/directory/"
                file:
                  type: string
                  format: binary
              required:
                - file
            examples:
              use_file_name_as_is:
                summary: Use the file name as is as destination
                value:
                  file: "Lorem Ipsum Dolor Sit Amet"
              upload_to_workspace_root_under_a_different_file_name:
                summary: Upload to the Workspace root folder, but rename the target file
                value:
                  destination: "my_file_renamed.txt"
                  file: "Lorem Ipsum Dolor Sit Amet"
              upload_to_a_folder:
                summary: |
                  Upload to a sub-folder.
                  Destination may or may not start with a '/', but must end with '/' to be treated as a directory.
                  Final file path will always be relative to the Workspace root location.
                value:
                  destination: "path/to/a/directory/"
                  file: "Lorem Ipsum Dolor Sit Amet"
              upload_to_a_specific_folder_and_under_a_different_file_name:
                summary: |
                  Upload to a sub-folder.
                  Destination may or may not start with a '/', but must not end with '/'.
                  Final file path will always be relative to the Workspace root location.
                value:
                  destination: "/path/to/a/directory/my_file_renamed.txt"
                  file: "Lorem Ipsum Dolor Sit Amet"
      responses:
        "201":
          description: the file resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceFile'
              examples:
                BreweryWorkspaceFile:
                  $ref: '#/components/examples/BreweryWorkspaceFile'
        "400":
          description: Bad request
    get:
      operationId: findAllWorkspaceFiles
      tags:
        - workspace
      summary: List all Workspace files
      responses:
        "200":
          description: the workspace files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkspaceFile'
              examples:
                WorkspaceFiles:
                  $ref: '#/components/examples/WorkspaceFiles'
        "404":
          description: the Workspace specified is unknown or you don't have access to it
    delete:
      operationId: deleteAllWorkspaceFiles
      tags:
        - workspace
      summary: Delete all Workspace files
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Workspace specified is unknown or you don't have access to them

  /organizations/{organization_id}/workspaces/{workspace_id}/files/download:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: file_name
        in: query
        description: the file name
        required: true
        schema:
          type: string
    get:
      operationId: downloadWorkspaceFile
      tags:
        - workspace
      summary: Download the Workspace File specified
      responses:
        "200":
          description: the workspace file as a resource
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          description: the Workspace file specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/files/delete:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: file_name
        in: query
        description: the file name
        required: true
        schema:
          type: string
    delete:
      operationId: deleteWorkspaceFile
      tags:
        - workspace
      summary: Delete a workspace file
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Workspace or the file specified is unknown or you don't have access to them

  /organizations/{organization_id}/workspaces/{workspace_id}/security:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    get:
      operationId: getWorkspaceSecurity
      tags:
        - workspace
      summary: Get the Workspace security information
      responses:
        "200":
          description: The Workspace security
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSecurity'
              examples:
                WorkspaceSecurity:
                  $ref: '#/components/examples/BreweryWorkspaceSecurity'
        "404":
          description: the Workspace specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/security/default:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      operationId: setWorkspaceDefaultSecurity
      tags:
        - workspace
      summary: set the Workspace default security
      requestBody:
        description: the new Workspace default security.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceRoleItems'
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceDefaultSecurity'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              BreweryUpdate:
                $ref: '#/components/examples/BreweryWorkspaceDefaultSecurity'
      responses:
        "200":
          description: The Workspace default visibility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSecurity'
              examples:
                NoneWorkspaceSecurity:
                  $ref: '#/components/examples/BreweryDefaultSecurityRoleNone'
                WriterWorkspaceSecurity:
                  $ref: '#/components/examples/BreweryDefaultSecurityRoleWriter'
        "404":
          description: the Workspace specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/security/access:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
    post:
      operationId: addWorkspaceAccess
      tags:
        - workspace
      summary: add a control acccess to the Workspace
      requestBody:
        description: the new Workspace security access to add.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAccessControl'
            examples:
              WorkspaceAccess:
                $ref: '#/components/examples/BreweryWorkspaceAccessControl'
          application/yaml:
            schema:
              type: string
              format: binary
            examples:
              WorkspaceAccess:
                $ref: '#/components/examples/BreweryWorkspaceAccessControl'
      responses:
        "200":
          description: The Workspace access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAccessControlWithPermissions'
              examples:
                WorkspaceAccessControl:
                  $ref: '#/components/examples/BreweryWorkspaceAccessControlWithPermissions'
        "404":
          description: the Workspace specified is unknown or you don't have access to it

  /organizations/{organization_id}/workspaces/{workspace_id}/security/access/{identity_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: workspace_id
        in: path
        description: the Workspace identifier
        required: true
        schema:
          type: string
      - name: identity_id
        in: path
        description: the User identifier
        required: true
        schema:
          type: string
    get:
      operationId: getWorkspaceAccess
      tags:
        - workspace
      summary: get a control acccess for the Workspace
      responses:
        "200":
          description: The Workspace access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAccessControlWithPermissions'
              examples:
                WorkspaceAccessControl:
                  $ref: '#/components/examples/BreweryWorkspaceAccessControlWithPermissions'
        "404":
          description: the Workspace or user specified is unknown or you don't have access to it

    delete:
      operationId: removeWorkspaceAccess
      tags:
        - workspace
      summary: Remove the specified access from the given Organization Workspace
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Workspace or the user specified is unknown or you don't have access to them

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope
  schemas:
    Workspace:
      type: object
      description: a Workspace
      properties:
        id:
          type: string
          readOnly: true
          description: the Workspace version unique identifier
        key:
          type: string
          description: technical key for resource name convention and version grouping. Must be unique
        name:
          type: string
          description: the Workspace name
        description:
          type: string
          description: the Workspace description
        version:
          type: string
          description: the Workspace version MAJOR.MINOR.PATCH.
        tags:
          type: array
          description: the list of tags
          items:
            type: string
        ownerId:
          type: string
          readOnly: true
          description: the user id which own this workspace
        solution:
          $ref: '#/components/schemas/WorkspaceSolution'
        webApp:
          $ref: '#/components/schemas/WorkspaceWebApp'
        sendInputToDataWarehouse:
          type: boolean
          description: default setting for all Scenarios and Run Templates to set whether or not the Dataset values and the input parameters values are send to the DataWarehouse prior to the ScenarioRun
        useDedicatedEventHubNamespace:
          type: boolean
          default: false
          description: Set this property to true to use a dedicated Azure Event Hub Namespace for this Workspace.
            The Event Hub Namespace must be named \'<organization_id\>-<workspace_id\>\' (in lower case).
            This Namespace must also contain two Event Hubs named \'probesmeasures\' and \'scenariorun\'.
        sendScenarioMetadataToEventHub:
          type: boolean
          default: false
          description: Set this property to false to not send scenario metada to Azure Event Hub Namespace for this Workspace.
            The Event Hub Namespace must be named \'<organization_id\>-<workspace_id\>\' (in lower case).
            This Namespace must also contain two Event Hubs named \'scenariometadata\' and \'scenariorunmetadata\'.
        security:
          $ref: '#/components/schemas/WorkspaceSecurity'
      required:
        - key
        - name
        - solution
    WorkspaceSecurity:
      type: object
      description: the workspace security information
      properties:
        default:
          $ref: '#/components/schemas/WorkspaceRoleList'
        accessControlList:
          type: object
          description: the list which can access this Workspace with detailed access control information
          additionalProperties:
            $ref: '#/components/schemas/WorkspaceAccessControl'
    WorkspaceAccessControl:
      type: object
      description: a Workspace access control item
      properties:
        id:
          type: string
          description: the identity id
        roles:
          $ref: '#/components/schemas/WorkspaceRoleList'
      required:
        - id
        - roles
    WorkspaceAccessControlWithPermissions:
      allOf:
        - $ref: '#/components/schemas/WorkspaceAccessControl'
        - type: object
          properties:
            permissions:
              type: array
              description: a list of permissions
              items:
                type: string
                description: a permission id.
    WorkspaceRoleItems:
      type: object
      description: a list of role access list
      properties:
        roles:
          $ref: '#/components/schemas/WorkspaceRoleList'
      required:
        - roles
    WorkspaceRoleList:
      type: array
      description: a roles list
      items:
        $ref: '#/components/schemas/WorkspaceRole'
    WorkspaceRole:
      type: string
      enum: ["Admin","Writer","ScenarioCreator","Reader"]
    WorkspaceFile:
      type: object
      description: a Workspace File resource
      properties:
        fileName:
          type: string
          description: the Workspace File name
    WorkspaceWebApp:
      type: object
      description: a Workspace Web Application
      properties:
        url:
          type: string
          description: the Workspace Web Application URL
        iframes:
          type: object
          description: a map of iframeKey/iframeURL
          additionalProperties: true
        options:
          type: object
          description: free form options for Web Application
          additionalProperties: true
      required:
        - url
    WorkspaceSolution:
      type: object
      description: the Workspace Solution configuration
      properties:
        solutionId:
          type: string
          description: the Solution Id attached to this workspace
        runTemplateFilter:
          type: array
          description: the list of Solution Run Template Id to filter
          items:
            type: string
        defaultRunTemplateDataset:
          type: object
          description: a map of RunTemplateId/DatasetId to set a default dataset for a Run Template
          additionalProperties: true
      # required:
        # - solutionId
  examples:
    BreweryWorkspaceCreateIn:
      summary: Brewery Workspace Create input parameters example
      description: Brewery Workspace Create input parameters example
      value:
        name: Brewery Analysis
        key: brewery
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        solution:
          solutionId: "1"
          runTemplateFilter:
            - "1"
          defaultRunTemplateDataset:
            1: "1"
    BreweryWorkspaceCreateSecurity:
      summary: Brewery Workspace Create with security
      description: Brewery Workspace Create with default security
      value:
        name: Brewery Analysis
        key: brewery
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        solution:
          solutionId: "1"
          runTemplateFilter:
            - "1"
          defaultRunTemplateDataset:
            1: "1"
        security:
          default:
            - "Reader"
    BreweryWorkspace:
      summary: Brewery Workspace
      description: Brewery Workspace example
      value:
        id: "1"
        name: Brewery Analysis
        key: brewery
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        ownerId: "1"
        solution:
          solutionId: "1"
          runTemplateFilter:
            - "1"
          defaultRunTemplateDataset:
            1: "1"
        security:
          default:
            - "Reader"
          accessControlList:
            - id: "alice@mycompany.com"
              roles:
                - "Admin"
    OneWorkspace:
      summary: One Workspace list
      description: One Workspace list example
      value:
        - id: "1"
          name: Brewery Analysis
          key: brewery
          description: Brewery analysis for stock, production, transport and customer satisfaction
          version: "1.0.0"
          tags:
            - Brewery
          ownerId: "1"
          solution:
            solutionId: "1"
            runTemplateFilter:
              - "1"
            defaultRunTemplateDataset:
              1: "1"
          security:
            default:
              - "Reader"
            accessControlList:
              - id: "alice@mycompany.com"
                roles:
                  - "Admin"
    BreweryWorkspaceUpdate:
      summary: Update the Brewery Workspace
      description: Update the Brewery Workspace by changing its name
      value:
        name: Brewery Analysis 2021
    BreweryWorkspaceUpdated:
      summary: Brewery Workspace
      description: Brewery Workspace example
      value:
        id: "1"
        key: brewery
        name: Brewery Analysis 2021
        description: Brewery analysis for stock, production, transport and customer satisfaction
        version: "1.0.0"
        tags:
          - Brewery
        ownerId: "1"
        solution:
          solutionId: "1"
          runTemplateFilter:
            - "1"
          defaultRunTemplateDataset:
            1: "1"
        security:
          default:
            - "Reader"
          accessControlList:
            - id: "alice@mycompany.com"
              roles:
                - "Admin"
    BreweryWorkspaceSecurity:
      summary: Brewery Workspace security
      description: Brewery Workspace security example
      value:
        default:
          - "Reader"
        accessControlList:
          - id: "bob@mycosmocompany.com"
            roles:
              - "Writer"
    BreweryDefaultSecurityRoleNone:
      summary: Brewery Workspace None default security
      description: Brewery Workspace example
      value:
        default:
          - "None"
    BreweryDefaultSecurityRoleWriter:
      summary: Brewery Workspace Writer default security
      description: Brewery Workspace example
      value:
        default:
          - "Writer"
    BreweryWorkspaceDefaultSecurity:
      summary: Set of default security
      description: An array of default security values
      value:
        roles:
          - Writer
    BreweryWorkspaceAccessControl:
      summary: Set an access control.
      description: Set an access control for a user to a workspace.
      value:
        id: bob@mycompany.com
        roles:
          - Writer
    BreweryWorkspaceAccessControlWithPermissions:
      summary: Access control.
      description: Access control with permissions for a user to a workspace.
      value:
        id: bob@mycompany.com
        roles:
          - Writer
        permissions:
          - workspace_read
          - workspace_write
          - workspace_create_scenario
    BreweryWorkspaceFile:
      summary: Brewery Workspace file example
      description: Brewery Workspace file uploaded return example
      value:
        fileName: myData.csv
    WorkspaceFiles:
      summary: Brewery Workspace files example
      description: Brewery Workspace files example
      value:
        - fileName: myData.csv
        - fileName: myData2.csv
        - fileName: myData3.csv
