openapi: 3.0.3

info:
  title: Cosmo Tech Organization Manager API
  description: Cosmo Tech Organization Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'https://gateway.api.cosmo-platform.com'
- url: 'http://localhost:8080'

security:
- oAuth2AuthCode: [ ]

tags:
- name: organization
  description: Organization Management

paths:
  /organizations:
    post:
      operationId: registerOrganization
      tags:
        - organization
      summary: Register a new organization
      requestBody:
        description: the Organization to register
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              NewOrganizationIn:
                $ref: '#/components/examples/NewOrganizationIn'
      responses:
        "201":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "400":
          description: Bad request
    get:
      operationId: findAllOrganizations
      tags:
        - organization
      summary: List all Organizations
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
              examples:
                TwoOrganizations:
                  $ref: '#/components/examples/TwoOrganizations'

  /organizations/{organization_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: findOrganizationById
      tags:
        - organization
      summary: Get the details of an organization
      responses:
        "200":
          description: the Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "404":
          description: the Organization specified is unknown or you don't have access to it
    patch:
      operationId: updateOrganization
      tags:
        - organization
      summary: Update an organization
      requestBody:
        description: the new Organization details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              ChangeName:
                summary: Change Name of Organization
                description: Change the name of Organization 1 to CosmoTech Digital Twins Engine
                value:
                  name: "CosmoTech Digital Twins Engine"
              AddUser:
                summary: Add a user
                description: Add the user Charles to organization Cosmo Tech
                value:
                  users:
                    - name: "Charles"
                      roles:
                        - Developer
              RenameUser:
                summary: Rename a user
                description: Rename the user Charles to Xavier
                value:
                  users:
                    - id: "3"
                      name: "Xavier"
              RemoveUser:
                summary: Remove a user
                description: Remove the user Charles from organization Cosmo Tech
                value:
                  users:
                    - id: "1"
                      name: "Bob"
                      roles:
                        - Admin
                    - id: "2"
                      name: "Alice"
                      roles:
                        - User
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoThreeUsers:
                  $ref: '#/components/examples/CosmoThreeUsers'
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access to it
    delete:
      operationId: unregisterOrganization
      tags:
        - organization
      summary: Unregister an organization
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access to it
  /organizations/{organization_id}/me:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: getCurrentOrganizationUser
      tags:
        - organization
      summary: Get the current User information for the Organization
      responses:
        "200":
          description: the User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUser'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/BobUser'
        "404":
          description: the Organization specified is unknown or you don't have access to it
components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: Azure Active Directory authentication
      flows:
        implicit:
          authorizationUrl: oauth2/authorize
          scopes: {}
  schemas:
    Organization:
      type: object
      description: an Organization
      properties:
        id:
          type: string
          readOnly: true
          description: the Organization unique identifier
        name:
          type: string
          description: the Organization name
        ownerId:
          type: string
          readOnly: true
          description: the Owner User Id
        users:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUser'
      required:
        - name
    OrganizationUser:
      type: object
      description: a User
      properties:
        id:
          type: string
          readOnly: true
          description: the User unique identifier, in response
        name:
          type: string
          description: the User name
        organizationId:
          type: string
          readOnly: true
          description: the Organization Id context
        roles:
          type: array
          description: the User's roles for the Organization
          items:
            type: string
            enum: ["Admin","User","Viewer","Developer"]
      required:
        - name
        - roles
  examples:
    NewOrganizationIn:
      summary: Create a new organization
      description: Create a new organization with 2 users
      value:
        name: Cosmo Tech
        users:
          - id: "1"
            roles:
              - Admin
          - id: "2"
            roles:
              - User
    CosmoOrganization:
      summary: Cosmo Tech Organization
      description: Cosmo Tech Organization example
      value:
        id: "1"
        name: Cosmo Tech
        ownerId: "1"
        users:
          - id: "1"
            name: Bob
            roles:
              - Admin
          - id: "2"
            name: Alice
            roles:
              - User
    CosmoThreeUsers:
      summary: Cosmo Tech Organization with 3 users
      description: Cosmo Tech Organization 3 users example
      value:
        id: "1"
        name: Cosmo Tech
        ownerId: "1"
        users:
          - id: "1"
            name: Bob
            roles:
              - Admin
          - id: "2"
            name: Alice
            roles:
              - User
          - id: "3"
            name: Xavier
            roles:
              - Developer
    TwoOrganizations:
      summary: Two Orgnizations
      description: Two Organizations example
      value:
        - id: "1"
          name: Cosmo Tech
          ownerId: "1"
          users:
            - id: "1"
              name: Bob
              roles:
                - Admin
            - id: "2"
              name: Alice
              roles:
                - User
        - id: "2"
          name: Phoenix
          users:
            - id: "1"
              name: Bob
              roles:
                - Admin
    BobUser:
      summary: Bob User example
      description: Bob User example
      value:
        id: "1"
        name: Bob
        organizationId: "1"
        roles:
          - Admin
