openapi: 3.0.3

info:
  title: Cosmo Tech Organization Manager API
  description: Cosmo Tech Organization Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: organization
  description: Organization Management

paths:
  /organizations:
    post:
      operationId: registerOrganization
      tags:
        - organization
      summary: Register a new organization
      requestBody:
        description: the Organization to register
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              NewOrganizationIn:
                $ref: '#/components/examples/NewOrganizationIn'
      responses:
        "201":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "400":
          description: Bad request
    get:
      operationId: findAllOrganizations
      tags:
        - organization
      summary: List all Organizations
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
              examples:
                TwoOrganizations:
                  $ref: '#/components/examples/TwoOrganizations'

  /organizations/{organization_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: findOrganizationById
      tags:
        - organization
      summary: Get the details of an organization
      responses:
        "200":
          description: the Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "404":
          description: the Organization specified is unknown or you don't have access to it
    patch:
      operationId: updateOrganization
      tags:
        - organization
      summary: Update an organization
      requestBody:
        description: the new Organization details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              ChangeName:
                summary: Change Name of Organization
                description: Change the name of Organization 1 to CosmoTech Digital Twins Engine
                value:
                  name: "CosmoTech Digital Twins Engine"
              AddUser:
                summary: Add a user
                description: Add the user Charles to organization Cosmo Tech
                value:
                  users:
                    - name: "Charles"
                      roles:
                        - Developer
              RenameUser:
                summary: Rename a user
                description: Rename the user Charles to Xavier
                value:
                  users:
                    - id: "3"
                      name: "Xavier"
              RemoveUser:
                summary: Remove a user
                description: Remove the user Charles from organization Cosmo Tech
                value:
                  users:
                    - id: "1"
                      name: "Bob"
                      roles:
                        - Admin
                    - id: "2"
                      name: "Alice"
                      roles:
                        - User
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoThreeUsers:
                  $ref: '#/components/examples/CosmoThreeUsers'
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access to it
    delete:
      operationId: unregisterOrganization
      tags:
        - organization
      summary: Unregister an organization
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/users:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: addUsersToOrganization
      tags:
        - organization
      summary: Add (or replace) users to the Organization specified
      requestBody:
        description: the Users to add. Any User with the same ID is overwritten
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationUser'
            examples:
              TwoOrganizationToAddOrReplace:
                $ref: '#/components/examples/TwoOrganizationToAddOrReplace'
      responses:
        "200":
          description: the Organization Users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationUser'
              examples:
                TwoOrganizationUsers:
                  $ref: '#/components/examples/TwoOrganizationUsers'
        "404":
          description: the Organization specified is unknown or you don't have access to it
    delete:
      operationId: removeAllUsersOfOrganization
      tags:
        - organization
      summary: Remove all users from the Organization specified
      responses:
        "204":
          description: the operation succeeded
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/services/tenantCredentials:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    put:
      operationId: updateTenantCredentialsByOrganizationId
      tags:
        - organization
      summary: Update tenant credentials for the Organization specified
      requestBody:
        description: the new Tenant Credentials to use
        required: true
        content:
          application/json:
            schema:
              type: object
              description: a freeform credentials object for the Organization tenant. Structure depends on cloud provider
              additionalProperties: true
            examples:
              OrganizationTenantCredentials:
                value:
                  azureTenantId: "<my_azure_tenant_id>"
                  azureClientId: "<my_azure_client_id>"
                  azureClientSecret: "<my_azure_client_secret>"
      responses:
        "200":
          description: the Organization Tenant Credentials
          content:
            application/json:
              schema:
                type: object
                description: a freeform credentials object for the Organization tenant. Structure depends on cloud provider
                additionalProperties: true
              examples:
                OrganizationTenantCredentials:
                  value:
                    azureTenantId: "<my_azure_tenant_id>"
                    azureClientId: "<my_azure_client_id>"
                    azureClientSecret: "<my_azure_client_secret>"
        "404":
          description: the Organization specified is unknown or you don't have access to it


  /organizations/{organization_id}/services/storage:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    patch:
      operationId: updateStorageByOrganizationId
      tags:
        - organization
      summary: Update storage configuration for the Organization specified
      requestBody:
        description: the new Storage configuration to use
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationService'
            examples:
              OrganizationTenantCredentials:
                value:
                  baseUri: https://csmphoenixcontainer.blob.core.windows.net
      responses:
        "200":
          description: the Organization Storage configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationService'
              examples:
                OrganizationTenantCredentials:
                  value:
                    platformService: storage
                    cloudService: AzureStorage
                    baseUri: https://csmphoenixcontainer.blob.core.windows.net
                    resourceUri: organization-2/files
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/services/solutionsContainerRegistry:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    patch:
      operationId: updateSolutionsContainerRegistryByOrganizationId
      tags:
        - organization
      summary: Update the solutions container registry configuration for the Organization specified
      requestBody:
        description: the new solutions container registry configuration to use
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationService'
            examples:
              OrganizationSolutionContainerRegistry:
                value:
                  baseUri: mysolutiontwinengines.azurecr.io
      responses:
        "200":
          description: the Organization solutions container registry configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationService'
              examples:
                OrganizationSolutionContainerRegistry:
                  value:
                    cloudService: AzureStorage
                    baseUri: mysolutiontwinengines.azurecr.io
        "404":
          description: the Organization specified is unknown or you don't have access to it

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: oauth2/authorize
          scopes: {}
  schemas:
    Organization:
      type: object
      description: an Organization
      properties:
        id:
          type: string
          readOnly: true
          description: the Organization unique identifier
        name:
          type: string
          description: the Organization name
        ownerId:
          type: string
          readOnly: true
          description: the Owner User Id
        users:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUser'
        services:
          descriptions: the list of Cloud services specific to the Organization
          $ref: '#/components/schemas/OrganizationServices'
      required:
        - name
    OrganizationServices:
      type: object
      description: the cloud service resources of the Organization
      properties:
        tenantCredentials:
          type: object
          description: a freeform credentials object for the Organization tenant. Structure depends on cloud provider
          additionalProperties: true
        storage:
          description: the Organization file storage specific informations
          $ref: '#/components/schemas/OrganizationService'
        solutionsContainerRegistry:
          description: the Container Registry for Organization Solutions images
          $ref: '#/components/schemas/OrganizationService'
    OrganizationService:
      type: object
      description: a cloud service resource
      properties:
        cloudService:
          type: string
          description: the cloud service name
        baseUri:
          type: string
          description: the platform base uri for this service
        platformService:
          type: string
          description: the Platform service associated to the resource
        resourceUri:
          type: string
          description: the Organization specific uri for this service resource
        credentials:
          type: object
          description: a freeform credentials object. Structure depends on service
          additionalProperties: true
    OrganizationUser:
      type: object
      description: a User
      properties:
        id:
          type: string
          readOnly: true
          description: the User unique identifier, in response
        name:
          type: string
          description: the User name
        organizationId:
          type: string
          readOnly: true
          description: the Organization Id context
        roles:
          type: array
          description: the User's roles for the Organization
          items:
            type: string
            enum: ["Admin","User","Viewer","Developer"]
      required:
        - name
        - roles
  examples:
    NewOrganizationIn:
      summary: Create a new organization
      description: Create a new organization with 2 users
      value:
        name: Cosmo Tech
        users:
          - id: "1"
            name: "admin"
            roles:
              - Admin
          - id: "2"
            name: "user"
            roles:
              - User
        services:
          tenantCredentials:
            azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
            azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
            azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
          storage:
            platformService: storage
            resourceUri: organization-1/files
          solutionsContainerRegistry:
            cloudService: AzureContainerRegistries
            baseUri: twinengines-1.azurecr.io
    CosmoOrganization:
      summary: Cosmo Tech Organization example
      description: Cosmo Tech Organization example
      value:
        id: "1"
        name: Cosmo Tech
        ownerId: "1"
        users:
          - id: "1"
            name: Bob
            roles:
              - Admin
          - id: "2"
            name: Alice
            roles:
              - User
        services:
          tenantCredentials:
            azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
            azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
            azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
          storage:
            platformService: storage
            cloudService: AzureStorage
            baseUri: https://csmphoenix.blob.core.windows.net
            resourceUri: organization-1/files
          solutionsContainerRegistry:
            cloudService: AzureContainerRegistries
            baseUri: twinengines-1.azurecr.io
    CosmoThreeUsers:
      summary: Cosmo Tech Organization with 3 users
      description: Cosmo Tech Organization 3 users example
      value:
        id: "1"
        name: Cosmo Tech
        ownerId: "1"
        users:
          - id: "1"
            name: Bob
            roles:
              - Admin
          - id: "2"
            name: Alice
            roles:
              - User
          - id: "3"
            name: Xavier
            roles:
              - Developer
        services:
          tenantCredentials:
            azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
            azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
            azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
          storage:
            platformService: storage
            cloudService: AzureStorage
            baseUri: https://csmphoenix.blob.core.windows.net
            resourceUri: organization-1/files
          solutionsContainerRegistry:
            cloudService: AzureContainerRegistries
            baseUri: twinengines-1.azurecr.io
    TwoOrganizations:
      summary: Two Orgnizations
      description: Two Organizations example
      value:
        - id: "1"
          name: Cosmo Tech
          ownerId: "1"
          users:
            - id: "1"
              name: Bob
              roles:
                - Admin
            - id: "2"
              name: Alice
              roles:
                - User
          services:
            tenantCredentials:
              azureTenantId: e9641c78-d0d6-4d09-af63-168922724e7g
              azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278ef
              azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d3U
            storage:
              platformService: storage
              cloudService: AzureStorage
              baseUri: https://csmphoenix.blob.core.windows.net
              resourceUri: organization-1/files
            solutionsContainerRegistry:
              cloudService: AzureContainerRegistries
              baseUri: twinengines-1.azurecr.io
        - id: "2"
          name: Phoenix
          users:
            - id: "1"
              name: Bob
              roles:
                - Admin
          services:
            tenantCredentials:
              azureTenantId: e9641c78-d0d6-4d09-af63-168922724e8r
              azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278fu
              azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d4A
            storage:
              platformService: storage
              cloudService: AzureStorage
              baseUri: https://csmphoenix.blob.core.windows.net
              resourceUri: organization-2/files
            solutionsContainerRegistry:
              cloudService: AzureContainerRegistries
              baseUri: twinengines-2.azurecr.io
    TwoOrganizationUsers:
      summary: Two users of an Organization
      description: Two Users of an Organization example
      value:
        - id: "1"
          name: Bob
          roles:
            - Admin
        - id: "2"
          name: Alice
          roles:
            - User
    TwoOrganizationToAddOrReplace:
      summary: Two users of an Organization
      description: Two Users of an Organization example
      value:
        - id: "1"
          roles:
            - Admin
        - id: "2"
          roles:
            - User
