openapi: 3.0.3

info:
  title: Cosmo Tech Organization Manager API
  description: Cosmo Tech Organization Manager API
  version: 0.0.8-SNAPSHOT

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: organization
  description: Organization Management

paths:
  /organizations:
    post:
      operationId: registerOrganization
      tags:
        - organization
      summary: Register a new organization
      requestBody:
        description: the Organization to register
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              NewOrganizationIn:
                $ref: '#/components/examples/NewOrganizationIn'
          application/yaml:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              NewOrganizationIn:
                $ref: '#/components/examples/NewOrganizationIn'
      responses:
        "201":
          description: the Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "400":
          description: Bad request
    get:
      operationId: findAllOrganizations
      parameters:
        - name: page
          in: query
          description: page number to query
          required: false
          schema:
            type: integer
        - name: size
          in: query
          description: amount of result by page
          required: false
          schema:
            type: integer
      tags:
        - organization
      summary: List all Organizations
      responses:
        "200":
          description: the list of Organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
              examples:
                TwoOrganizations:
                  $ref: '#/components/examples/TwoOrganizations'

  /organizations/{organization_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: findOrganizationById
      tags:
        - organization
      summary: Get the details of an Organization
      responses:
        "200":
          description: the Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoOrganization:
                  $ref: '#/components/examples/CosmoOrganization'
        "404":
          description: the Organization specified is unknown or you don't have access to it
    patch:
      operationId: updateOrganization
      tags:
        - organization
      summary: Update an Organization
      requestBody:
        description: |
          The new Organization details. This endpoint can't be used to update :
            - id
            - ownerId
            - security
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              ChangeName:
                summary: Change Name of Organization
                description: Change the name of Organization 1 to CosmoTech Digital Twins Engine
                value:
                  name: "CosmoTech Digital Twins Engine"
          application/yaml:
            schema:
              $ref: '#/components/schemas/Organization'
            examples:
              ChangeName:
                summary: Change Name of Organization
                description: Change the name of Organization 1 to CosmoTech Digital Twins Engine
                value:
                  name: "CosmoTech Digital Twins Engine"
      responses:
        "200":
          description: the organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                CosmoThreeUsers:
                  $ref: '#/components/examples/CosmoThreeUsers'
        "400":
          description: Bad request
        "404":
          description: the Organization specified is unknown or you don't have access to it
    delete:
      operationId: unregisterOrganization
      tags:
        - organization
      summary: Unregister an organization
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Organization specified is unknown or you don't have access to it
  /organizations/{organization_id}/services/tenantCredentials:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    patch:
      operationId: updateTenantCredentialsByOrganizationId
      tags:
        - organization
      summary: Update tenant credentials for the Organization specified
      requestBody:
        description: the new Tenant Credentials to use
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationTenantCredentials'
            examples:
              OrganizationTenantCredentials:
                $ref: '#/components/examples/OrganizationTenantCredentials'
          application/yaml:
            schema:
              $ref: '#/components/schemas/OrganizationTenantCredentials'
            examples:
              OrganizationTenantCredentials:
                $ref: '#/components/examples/OrganizationTenantCredentials'
      responses:
        "200":
          description: the Organization Tenant Credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTenantCredentials'
              examples:
                OrganizationTenantCredentials:
                  $ref: '#/components/examples/OrganizationTenantCredentials'
            application/yaml:
              schema:
                $ref: '#/components/schemas/OrganizationTenantCredentials'
              examples:
                OrganizationTenantCredentials:
                  $ref: '#/components/examples/OrganizationTenantCredentials'
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/services/storage:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    patch:
      operationId: updateStorageByOrganizationId
      tags:
        - organization
      summary: Update storage configuration for the Organization specified
      requestBody:
        description: the new Storage configuration to use
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationService'
            examples:
              OrganizationTenantCredentials:
                value:
                  baseUri: https://csmphoenixcontainer.blob.core.windows.net
          application/yaml:
            schema:
              $ref: '#/components/schemas/OrganizationService'
            examples:
              OrganizationTenantCredentials:
                value:
                  baseUri: https://csmphoenixcontainer.blob.core.windows.net
      responses:
        "200":
          description: the Organization Storage configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationService'
              examples:
                OrganizationTenantCredentials:
                  value:
                    platformService: storage
                    cloudService: AzureStorage
                    baseUri: https://csmphoenixcontainer.blob.core.windows.net
                    resourceUri: organization-2/files
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/services/solutionsContainerRegistry:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    patch:
      operationId: updateSolutionsContainerRegistryByOrganizationId
      tags:
        - organization
      summary: Update the solutions container registry configuration for the Organization specified
      requestBody:
        description: the new solutions container registry configuration to use
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationService'
            examples:
              OrganizationSolutionContainerRegistry:
                value:
                  baseUri: mysolutiontwinengines.azurecr.io
          application/yaml:
            schema:
              $ref: '#/components/schemas/OrganizationService'
            examples:
              OrganizationSolutionContainerRegistry:
                value:
                  baseUri: mysolutiontwinengines.azurecr.io
      responses:
        "200":
          description: the Organization solutions container registry configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationService'
              examples:
                OrganizationSolutionContainerRegistry:
                  value:
                    cloudService: AzureStorage
                    baseUri: mysolutiontwinengines.azurecr.io
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/permissions:
    get:
      operationId: getAllPermissions
      tags:
        - organization
      summary: Get all permissions per components
      responses:
        "200":
          description: The Scenarios security permission list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComponentRolePermissions'
              examples:
                permissions:
                  $ref: '#/components/examples/Permissions'

  /organizations/{organization_id}/permissions/{role}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: role
        in: path
        description: the Role
        required: true
        schema:
          type: string
    get:
      operationId: getOrganizationPermissions
      tags:
        - organization
      summary: Get the Organization permissions by given role
      responses:
        "200":
          description: The Organization security permission list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - "read"
                  - "read_security"
                  - "create_children"

  /organizations/{organization_id}/security:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: getOrganizationSecurity
      tags:
        - organization
      summary: Get the Organization security information
      responses:
        "200":
          description: The Organization security
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSecurity'
              examples:
                OrganizationSecurity:
                  $ref: '#/components/examples/BreweryOrganizationSecurity'
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/security/default:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: setOrganizationDefaultSecurity
      tags:
        - organization
      summary: Set the Organization default security
      requestBody:
        description: This change the organization default security.
                    The default security is the role assigned to any person not on the Access Control List.
                    If the default security is None, then nobody outside of the ACL can access the organization.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRole'
            examples:
              BreweryOrganizationRole:
                $ref: '#/components/examples/BreweryOrganizationRole'
          application/yaml:
            schema:
              $ref: '#/components/schemas/OrganizationRole'
            examples:
              BreweryOrganizationRole:
                $ref: '#/components/examples/BreweryOrganizationRole'
      responses:
        "201":
          description: The Organization default visibility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSecurity'
              examples:
                WriterOrganizationSecurity:
                  $ref: '#/components/examples/BreweryDefaultSecurityRoleWriter'
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/security/access:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
    post:
      operationId: addOrganizationAccessControl
      tags:
        - organization
      summary: Add a control access to the Organization
      requestBody:
        description: the new Organization security access to add.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationAccessControl'
            examples:
              OrganizationAccess:
                $ref: '#/components/examples/BreweryOrganizationAccessControl'
          application/yaml:
            schema:
              $ref: '#/components/schemas/OrganizationAccessControl'
            examples:
              OrganizationAccess:
                $ref: '#/components/examples/BreweryOrganizationAccessControl'
      responses:
        "201":
          description: The Organization access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAccessControl'
              examples:
                OrganizationAccessControl:
                  $ref: '#/components/examples/BreweryOrganizationAccessControl'
        "404":
          description: the Organization specified is unknown or you don't have access to it

  /organizations/{organization_id}/security/access/{identity_id}:
    parameters:
      - name: organization_id
        in: path
        description: the Organization identifier
        required: true
        schema:
          type: string
      - name: identity_id
        in: path
        description: the User identifier
        required: true
        schema:
          type: string
    get:
      operationId: getOrganizationAccessControl
      tags:
        - organization
      summary: Get a control access for the Organization
      responses:
        "200":
          description: The Organization access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAccessControl'
              examples:
                OrganizationAccessControl:
                  $ref: '#/components/examples/BreweryOrganizationAccessControl'
        "404":
          description: The Organization or user specified is unknown or you don't have access to it
    patch:
      operationId: updateOrganizationAccessControl
      tags:
        - organization
      summary: Update the specified access to User for an Organization
      requestBody:
        description: The new Organization Access Control
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRole'
            examples:
              BreweryOrganizationRole:
                $ref: '#/components/examples/BreweryOrganizationRole'
          application/yaml:
            schema:
              $ref: '#/components/schemas/OrganizationRole'
            examples:
              BreweryOrganizationRole:
                $ref: '#/components/examples/BreweryOrganizationRole'
      responses:
        "200":
          description: The Organization access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAccessControl'
              examples:
                OrganizationAccessControl:
                  $ref: '#/components/examples/BreweryOrganizationAccessControl'
        "404":
          description: The Organization specified is unknown or you don't have access to it
    delete:
      operationId: removeOrganizationAccessControl
      tags:
        - organization
      summary: Remove the specified access from the given Organization
      responses:
        "204":
          description: Request succeeded
        "404":
          description: the Organization or the user specified is unknown or you don't have access to them

  /organizations/{organization_id}/security/users:
    parameters:
      - name: organization_id
        in: path
        description: The Organization identifier
        required: true
        schema:
          type: string
    get:
      operationId: getOrganizationSecurityUsers
      tags:
        - organization
      summary: Get the Organization security users list
      responses:
        "200":
          description: The Organization security users list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - alice@mycompany.com
                  - bob@mycompany.com
        "404":
          description: the Organization specified is unknown or you don't have access to it

components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: OAuth2 authentication
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          scopes:
            http://dev.api.cosmotech.com/platform: Platform scope
  schemas:
    Organization:
      type: object
      x-class-extra-annotation: "@com.redis.om.spring.annotations.Document"
      description: an Organization
      properties:
        id:
          x-field-extra-annotation: "@org.springframework.data.annotation.Id"
          type: string
          readOnly: true
          description: the Organization unique identifier
        name:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Searchable"
          description: the Organization name
        ownerId:
          type: string
          readOnly: true
          description: the Owner User Id
        services:
          descriptions: the list of Cloud services specific to the Organization
          $ref: '#/components/schemas/OrganizationServices'
        security:
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          allOf:
            - $ref: '#/components/schemas/OrganizationSecurity'
#      required:
#        - name
    OrganizationSecurity:
      type: object
      description: the Organization security information
      properties:
        default:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: the role by default
        accessControlList:
          type: array
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: the list which can access this Organization with detailed access control information
          items:
            $ref: '#/components/schemas/OrganizationAccessControl'
      required:
        - default
        - accessControlList
    OrganizationAccessControl:
      type: object
      description: a Organization access control item
      properties:
        id:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: the identity id
        role:
          type: string
          x-field-extra-annotation: "@com.redis.om.spring.annotations.Indexed"
          description: a role
      required:
        - id
        - role
    OrganizationRole:
      type: object
      description: the Organization Role
      properties:
        role:
          type: string
          description: the Organization Role
      required:
        - role
    OrganizationServices:
      type: object
      description: the cloud service resources of the Organization
      properties:
        tenantCredentials:
          type: object
          description: a freeform credentials object for the Organization tenant. Structure depends on cloud provider
          additionalProperties: true
        storage:
          description: the Organization file storage specific informations
          $ref: '#/components/schemas/OrganizationService'
        solutionsContainerRegistry:
          description: the Container Registry for Organization Solutions images
          $ref: '#/components/schemas/OrganizationService'
    OrganizationService:
      type: object
      description: a cloud service resource
      properties:
        cloudService:
          type: string
          description: the cloud service name
        baseUri:
          type: string
          description: the platform base uri for this service
        platformService:
          type: string
          description: the Platform service associated to the resource
        resourceUri:
          type: string
          description: the Organization specific uri for this service resource
        credentials:
          type: object
          description: a freeform credentials object. Structure depends on service
          additionalProperties: true
    OrganizationTenantCredentials:
      type: object
      description: a freeform credentials object for the Organization tenant. Structure depends on cloud provider
      additionalProperties: true
    ComponentRolePermissions:
      type: object
      description: a RBAC by component
      properties:
        component:
          type: string
        roles:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
  examples:
    NewOrganizationIn:
      summary: Create a new organization
      description: Create a new organization with 2 users
      value:
        name: Cosmo Tech
        security:
          default: reader
          accessControlList:
            - id: "jane.doe@cosmotech.com"
              role: "editor"
            - id: "john.doe@cosmotech.com"
              role: "viewer"
    CosmoOrganization:
      summary: Cosmo Tech Organization example
      description: Cosmo Tech Organization example
      value:
        id: "1"
        name: Cosmo Tech
        ownerId: "1"
        security:
          default: reader
          accessControlList:
            - id: "jane.doe@cosmotech.com"
              role: "editor"
            - id: "john.doe@cosmotech.com"
              role: "viewer"
    BreweryOrganizationSecurity:
      summary: Brewery Organization security
      description: Brewery Organization security example
      value:
        default: "viewer"
        accessControlList:
          - id: "bob@mycosmocompany.com"
            role: "editor"
    BreweryOrganizationAccessControl:
      summary: Set an access control.
      description: Set an access control for a user to an organization.
      value:
        id: "bob@mycompany.com"
        role: "editor"
    BreweryOrganizationRole:
      summary: Set an Organization Role.
      description: Set an role for a user to an organization.
      value:
        role: "editor"
    CosmoThreeUsers:
      summary: Cosmo Tech Organization with 3 users
      description: Cosmo Tech Organization 3 users example
      value:
        id: "1"
        name: Cosmo Tech
        security:
          default: reader
          accessControlList:
            - id: "bob.doe@cosmotech.com"
              role: "viewer"
            - id: "alice.doe@cosmotech.com"
              role: "viewer"
            - id: "xavier.doe@cosmotech.com"
              role: "editor"
    TwoOrganizations:
      summary: Two Organizations
      description: Two Organizations example
      value:
        - id: "1"
          name: Cosmo Tech
          ownerId: "1"
          security:
            default: reader
            accessControlList:
              - id: "bob.doe@cosmotech.com"
                role: "editor"
              - id: "alice.doe@cosmotech.com"
                role: "viewer"
        - id: "2"
          name: Phoenix
          security:
            default: rolereader
            accessControlList:
              - id: "bob.doe@cosmotech.com"
                role: "editor"
    BreweryDefaultSecurityRoleWriter:
      summary: Brewery Scenario Writer default security
      description: Brewery Scenario example
      value:
        default: "editor"
    OrganizationTenantCredentials:
      summary: Organization Tenant Credentials example
      description: Example of Azure tenant credentials
      value:
        azureTenantId: "<my_azure_tenant_id>"
        azureClientId: "<my_azure_client_id>"
        azureClientSecret: "<my_azure_client_secret>"
    Permissions:
      summary: Permissions
      description: Permissions for Organization
      value:
        - component: organization
          roles:
            none: []
            viewer:
              - read
              - read_security
            user:
              - read
              - read_security
              - create_children
            editor:
              - read
              - read_security
              - create_children
              - write
            admin:
              - read
              - read_security
              - create_children
              - write
              - write_security
              - delete
        - component: workspace
          roles:
            none: []
            viewer:
              - read
              - read_security
            user:
              - read
              - read_security
              - create_children
            editor:
              - read
              - read_security
              - create_children
              - write
            admin:
              - read
              - read_security
              - create_children
              - write
              - write_security
              - delete
        - component: scenario
          roles:
            none: []
            viewer:
              - read
              - read_security
            editor:
              - read
              - read_security
              - launch
              - write
            validator:
              - read
              - read_security
              - launch
              - write
              - validate
            admin:
              - read
              - read_security
              - launch
              - write
              - validate
              - write_security
              - delete
