openapi: 3.0.3

info:
  title: Cosmo Tech Platform Manager API
  description: Cosmo Tech Platform Manager API
  version: 1.0.0

servers:
- url: 'https://api.azure.cosmo-platform.com'
- url: 'http://localhost:4010'

security:
- oAuth2AuthCode: [ ]

tags:
- name: platform
  description: Platform Management

paths:
  /platform:
    post:
      operationId: createPlatform
      tags:
        - platform
      summary: Create a new platform
      requestBody:
        description: the Platform to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Platform'
            examples:
              CosmoTechPlatform:
                $ref: '#/components/examples/CosmoTechPlatform'
      responses:
        "201":
          description: the platform details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
              examples:
                CosmoTechPlatform:
                  $ref: '#/components/examples/CosmoTechPlatform'
        "400":
          description: Bad request
    get:
      operationId: getPlatform
      tags:
        - platform
      summary: Get the details of the platform
      responses:
        "200":
          description: the Platform details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
              examples:
                CosmoTechPlatform:
                  $ref: '#/components/examples/CosmoTechPlatform'
    patch:
      operationId: updatePlatform
      tags:
        - platform
      summary: Update a platform
      requestBody:
        description: the new Platform details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Platform'
            examples:
              CosmoTechPlatformUpdate:
                $ref: '#/components/examples/CosmoTechPlatformUpdate'
      responses:
        "200":
          description: the platform details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
              examples:
                CosmoTechPlatformUpdated:
                  $ref: '#/components/examples/CosmoTechPlatformUpdated'
        "400":
          description: Bad request
        "404":
          description: the Platform specified is unknown or you don't have access to it
components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: Azure Active Directory authentication
      flows:
        implicit:
          authorizationUrl: oauth2/authorize
          scopes: {}
  schemas:
    Platform:
      type: object
      description: a Platform
      properties:
        name:
          type: string
          description: the Platform name
        description:
          type: string
          description: the Platform description
        version:
          type: string
          description: the Platform version MAJOR.MINOR.PATCH.
        ownerId:
          type: string
          description: the Platform owner Id
        apiHost:
          type: string
          description: Platform host name
        webAppUrl:
          type: string
          description: the Web Application Portal to use the Platform
        services:
          descriptions: the list of Cloud services used by the Platform
          $ref: '#/components/schemas/PlatformServices'
      required:
        - name
        - version
        - ownerId
        - services
    PlatformServices:
      type: object
      description: the list of Platform services
      properties:
        provider:
          type: string
          description: the Cloud Provider for the services
          enum: ["Azure"]
        credentials:
          type: object
          description: a freeform credentials object for the Platform. Structure depends on cloud provider
          additionalProperties: true
        storage:
          description: the Storage Service for core files
          $ref: '#/components/schemas/PlatformService'
        coreContainerRegistry:
          description: the Container Registry for Platform core images
          $ref: '#/components/schemas/PlatformService'
        solutionsContainerRegistry:
          description: the Container Registry for common Solutions images
          $ref: '#/components/schemas/PlatformService'
        eventBusCluster:
          description: the Platform event bus cluster for Simulation probes measures & event messages
          $ref: '#/components/schemas/PlatformService'
        dataWarehouseCluster:
          description: the Platform DataWarehouse cluster for BI on Simulations runs
          $ref: '#/components/schemas/PlatformService'
        databaseCluster:
          description: the Platform core Database
          $ref: '#/components/schemas/PlatformService'
        keyVault:
          description: the Platform core Key Vault to store sensitive data
          $ref: '#/components/schemas/PlatformService'
        kubernetesCluster:
          description: the Platform Kubernetes Cluster
          $ref: '#/components/schemas/PlatformService'
        directory:
          description: the Directory which manager Platform Identity and Access Management
          $ref: '#/components/schemas/PlatformService'
        monitoring:
          description: the Platform Monitoring service to get execution logs and metrics
          $ref: '#/components/schemas/PlatformService'
        analytic:
          description: the Platform Analytic service to trace usage and performance
          $ref: '#/components/schemas/PlatformService'
      required:
        - provider
    PlatformService:
      type: object
      description: a Cloud Service resource
      properties:
        cloudService:
          type: string
          readOnly: true
          description: the cloud service name
        baseUri:
          type: string
          readOnly: true
          description: the platform base uri for this service
        resourceUri:
          type: string
          description: the workspace specific uri for this service resource
        credentials:
          type: object
          description: a freeform credentials object. Structure depends on service
          additionalProperties: true
        options:
          type: object
          description: the service specific options
          additionalProperties: true
  examples:
    CosmoTechPlatform:
      summary: Cosmo Tech Platform
      description: Cosmo Tech Platform example
      value:
        name: Cosmo Tech Platform
        description: Cosmo Tech Digital Twins Simulation Platform
        version: "1.0.0"
        ownerId: "1"
        apiHost: api.cosmotech.com
        webAppUrl: https://app.cosmotech.com
        services:
          provider: Azure
          credentials:
            name: phoenix-core
            azureTenantId: e9641c78-d0d6-4d09-af63-168922724e8r
            azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278fu
            azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d4A
          storage:
            cloudService: AzureStorage
            baseUri: https://csmphoenix.blob.core.windows.net
            resourceUri: core
          coreContainerRegistry:
            cloudService: AzureContainerRegistries
            baseUri: csmphoenix.azurecr.io
          solutionsContainerRegistry:
            cloudService: AzureContainerRegistries
            baseUri: twinengines.azurecr.io
          eventBusCluster:
            cloudService: AzureEventHub
            baseUri: csm-phoenix.servicebus.windows.net
          dataWarehouseCluster:
            cloudService: AzureDataExplorer
            baseUri: https://phoenix.westeurope.kusto.windows.net
            options:
              ingestionUri: https://ingest-phoenix.westeurope.kusto.windows.net
          databaseCluster:
            cloudService: AzureCosmosDB
            baseUri: https://cosmophoenix.documents.azure.com:443/
          keyVault:
            cloudService: AzureKeyVault
            baseUri: https://csmphoenixkeyvault.vault.azure.net/
          kubernetesCluster:
            cloudService: AzureKubernetesService
            baseUri: phoenixaks-phoenix-659096-de4a5810.hcp.westeurope.azmk8s.io
            resourceUri: phoenixAKS
          directory:
            cloudService: AzureActiveDirectory
            baseUri: thecosmocompany69.onmicrosoft.com
            options:
              tenantId: e9641c78-d0d6-4d09-af63-168922724e7f
          monitoring:
            cloudService: AzureMonitor
          analytic:
            resourceUri: csmphoenixinsights
            options:
              instrumentationKey: 05ef985d-8209-46db-acb0-d035da80faa1
              connectionString: InstrumentationKey=05ef985d-8209-46db-acb0-d035da80faa1;IngestionEndpoint=https://francecentral-0.in.applicationinsights.azure.com/
    CosmoTechPlatformUpdate:
      summary: Update the Cosmo Tech Platform
      description: Update the Cosmo Tech Platform by changing its name
      value:
        name: Cosmo Tech Platform for Azure
    CosmoTechPlatformUpdated:
      summary: Cosmo Tech Platform updated example
      description: Cosmo Tech Platform updated example
      value:
        name: Cosmo Tech Platform for Azure
        description: Cosmo Tech Digital Twins Simulation Platform
        version: "1.0.0"
        ownerId: "1"
        apiHost: api.cosmotech.com
        webAppUrl: https://app.cosmotech.com
        services:
          provider: Azure
          credentials:
            name: phoenix-core
            azureTenantId: e9641c78-d0d6-4d09-af63-168922724e8r
            azureClientId: 857bbfb2-ba5b-4482-92e4-bfdda9e278fu
            azureClientSecret: F6c6..s6CC9-Cu49u~R7_n8y.tCCy~4d4A
          storage:
            cloudService: AzureStorage
            baseUri: https://csmphoenix.blob.core.windows.net
            resourceUri: core
          coreContainerRegistry:
            cloudService: AzureContainerRegistries
            baseUri: csmphoenix.azurecr.io
          solutionsContainerRegistry:
            cloudService: AzureContainerRegistries
            baseUri: twinengines.azurecr.io
          eventBusCluster:
            cloudService: AzureEventHub
            baseUri: csm-phoenix.servicebus.windows.net
          dataWarehouseCluster:
            cloudService: AzureDataExplorer
            baseUri: https://phoenix.westeurope.kusto.windows.net
            options:
              ingestionUri: https://ingest-phoenix.westeurope.kusto.windows.net
          databaseCluster:
            cloudService: AzureCosmosDB
            baseUri: https://cosmophoenix.documents.azure.com:443/
          keyVault:
            cloudService: AzureKeyVault
            baseUri: https://csmphoenixkeyvault.vault.azure.net/
          kubernetesCluster:
            cloudService: AzureKubernetesService
            baseUri: phoenixaks-phoenix-659096-de4a5810.hcp.westeurope.azmk8s.io
            resourceUri: phoenixAKS
          directory:
            cloudService: AzureActiveDirectory
            baseUri: thecosmocompany69.onmicrosoft.com
            options:
              tenantId: e9641c78-d0d6-4d09-af63-168922724e7f
          monitoring:
            cloudService: AzureMonitor
          analytic:
            resourceUri: csmphoenixinsights
            options:
              instrumentationKey: 05ef985d-8209-46db-acb0-d035da80faa1
              connectionString: InstrumentationKey=05ef985d-8209-46db-acb0-d035da80faa1;IngestionEndpoint=https://francecentral-0.in.applicationinsights.azure.com/
