name: Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ main ]

jobs:
  spotless:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - uses: actions/checkout@v2.4.0

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Check with Spotless
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: gradle/gradle-build-action@v2
      with:
        cache-disabled: false
        # Cache storage space is limited for GitHub actions
        cache-read-only: ${{ github.ref != 'refs/heads/main' }}
        arguments: spotlessCheck

  detekt:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Check with Detekt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: gradle/gradle-build-action@v2
        with:
          cache-disabled: false
          # Cache storage space is limited for GitHub actions
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
          arguments: detekt

      - name: Upload SARIF reports to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        if: ${{ always() }}
        with:
          sarif_file: 'build/reports/detekt/sarif/'

  helm-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Set up Helm
        uses: azure/setup-helm@v1.1
        with:
          version: v3.6.0

      - name: Lint Helm Chart (api) with helm
        run: helm lint api/kubernetes/helm-chart

      - name: Lint Helm Chart (csm-argo)
        run: helm lint api/kubernetes/csm-argo

  kube-linter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chart:
          - csm-argo
          - helm-chart

    steps:
      - uses: actions/checkout@v2.4.0

      - run: mkdir -p api/kubernetes/.sarif

      - name: Scan '${{ matrix.chart }}' Chart with kube-linter
        uses: stackrox/kube-linter-action@v1.0.4
        continue-on-error: true
        with:
          directory: api/kubernetes/${{ matrix.chart }}
          config: api/kubernetes/.kube-linter.yaml
          format: sarif
          output-file: api/kubernetes/.sarif/${{ matrix.chart }}.sarif
          version: 0.2.5

      - name: Upload SARIF file
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: api/kubernetes/.sarif/${{ matrix.chart }}.sarif

